[2017-03-12 11:14] sam4jips opened #249 "How to get curcu"
Why am I not getting circular profile picture using this code?

      Jimp.read('/profile_picture.png', function(err, profile_picture) {
        Jimp.read('/circle.png', function(err, circle) {
            profile_picture.mask(circle, 0, 0).getBase64(Jimp.MIME_JPEG, function (err, src) {
              var img = document.createElement("img");
              img.setAttribute("src", src);

[2017-03-12 20:53] NoPinky commented on #246
this is a framework that allows you to manipulate images with simple filters and also gives you access to pixel datas. But it does not do processing stuff in the means of computer vision or any kind of "smart" recognition. For those kind of things you have to do it yourself from the pixel data if you can, or you have to look elsewhere for another framework.

[2017-03-13 07:04] slidenerd commented on #230
I had the same requirements and sat and coded a GIF implementation using JIMP

[code]

[2017-03-13 07:05] slidenerd commented on #166
Perhaps you may find it useful to generate GIFS with the gifencoder and JIMP
[code]

[2017-03-14 04:26] Ratismal opened #250 "NPM is out of date - needs a publish"
Salutations,

As the subject says, the latest build available on NPM is out of date. The [convolution matrix](https://github.com/oliver-moran/jimp#convolution-matrix) functionality that was added 4 months ago is not available when installing from npm, I'm not sure about any other discrepency. Please increment the version number and publish so I don't have to do a git install every time. Thanks!

[2017-03-14 04:27] Ratismal commented on #250
This has also been mention in #237

[2017-03-14 17:41] slidenerd commented on #215
image.composite or image.blit depending on what you are planning to do

[2017-03-14 20:09] Ratismal opened #251 "Composite gets wrapped in latest build"
Salutations,

Installing Jimp from the github repo (`npm i oliver-moran/jimp`) causes composites to act in an unwanted manner.

I have a relatively [simplistic script](https://github.com/Ratismal/blargbot/blob/master/worker.js#L272-L330) that does the following:
1. Create an empty canvas `new Jimp(256, 256)`
2. Composites two images with slightly random coordinates (to create a 'jitter' effect)
3.

[2017-03-15 17:02] mikedaly opened #252 "Write fails silently on errors if no callback provided"
If I pass a full path to the `.write` function but the directory doesn't exist, no exception is thrown, and no file is written.

I wouldn't expect `.write` to attempt to create the directory, but I would expect it to fail. The problem appears to be in the callback argument. I am calling write with no callback, but in that situation write is forcing there to be an empty callback (line 2301 of index

[2017-03-15 17:16] mikedaly commented on #252
The problem appears to be in the callback argument. I am calling write with no callback, but in that situation write is forcing there to be an empty callback (line 2301 of index.js). In the event of an error, the (empty) callback is called rather than throwing the error (line 83 of index.js).

If no callback is provided, then write should throw an exception. As it stands, it just silently fails.

[2017-03-17 11:49] AbhishekBharadwajTME commented on #154
Hi @hanzenok.. you mentioned about workarounds in cloud. Can you give some more info on that? i am using heroku cloud to host my application.

[2017-03-17 13:59] hanzenok commented on #154
@AbhishekBharadwajTME , I ended up using [lwip](https://github.com/EyalAr/lwip). But the first workaround for `jimp` is to import `v0.2.27` and update it's dependency bmp-js, to `0.0.2`.

Another way is to import `jimp` from master:
`
{
"dependencies": {
    "jimp": "github:oliver-moran/jimp#master"
  }
}
`

Good luck

[2017-03-18 04:13] sufuf3 opened #253 "Which files need to be hosted?"
Hi @oliver-moran  ,
I'm a member of [cdnjs](https://github.com/cdnjs/cdnjs). We are going to host this library.

I know that after v0.2.22, we should add the files under `browser/lib`.
But before v0.2.21 include v0.2.21, what the files need to be added in cdnjs?

If you have any suggestions, please let me know.

Thank you.

cdnjs/cdnjs#10855

[2017-03-28 06:51] Crise420WMT commented on #242
can you tell me why?possibly i encountered the same issue....

[2017-03-28 20:25] Joker9090 opened #255 "There is any way to set dpi in file?"
I am reading a file with 300 DPI and the output is in 72 DPI. I want to keep 300 DPI in the final file

[2017-04-04 19:58] andkhong commented on #242
i'm having similar issues as well

[2017-04-05 05:42] EddieOne commented on #36
yes I'm streaming data over a socket using base64. Would be nice if jimp supports base64 strings too 😁

[2017-04-06 19:53] andy4545 opened #256 "What is the new width when using Jimp.AUTO"
After
`Jimp.resize(Jimp.AUTO,260).getBuffer(`

Is there any way to know in the callback of getBuffer what the new width is?

thanks

[2017-04-06 20:16] xmatmen commented on #256
`image.bitmap.width` should work

[2017-04-09 15:51] evfr opened #258 "does print function support hebrew?"
Hi.
Does anybody know if the
"print" function supports hebrew?

It seems that only the ascii text is written. Or i have to use another font?

Thank you

Evgeny

[2017-04-09 21:53] houtwolf opened #259 "Rotate image on composite"
Hi, i have this code, how can i rotate the second image in the composite?

[code]

[2017-04-10 17:32] smolnikov commented on #250
+1

[2017-04-11 12:14] Haringat commented on #232
@Iwasawafag What would break when returning a promise whenever no second argument is given?

[2017-04-11 16:01] ghafran commented on #114
the work around is to just add ".png" to the file path.

[2017-04-12 16:49] zaklampert opened #260 "Failed reading from buffer"
With error
[code]

[2017-04-12 17:12] zaklampert commented on #260
I actually had a separate issue with promises. Sorry about that.

[2017-04-12 17:12] #260 closed

[2017-04-20 22:09] BabakMN commented on #242
@Crise420WMT @andkhong that error comes from `getMIMEFromBuffer` function. Make sure you are passing correct image data to jimp. You may be passing an unsupported image type. I had the same issue when I was accidentally passing in an SVG file instead of PNG.

[2017-04-23 02:38] lakamsani opened #261 "write not writing"
Hi, somehow this very simple test isn't working in my environment (jimp 0.2.27, node.js 7.9.0 on macOS Sierra 10.12.4 ). `newFile2` does not exist nor an error is printed after this code is run.

[code]
The commented out line fails as it is unable to get the extension ( same issue as reported in  https://github.com/oliver-moran/jimp/issues/241).

Debugger seems to show that the  URL was read ok.
<

[2017-04-23 03:25] lakamsani commented on #261
When I use https://www.npmjs.com/package/node-thumbnail (which is built on top of Jimp) saving works. But `node-thumbnail` does not allow URLs. I hacked it to work with URLs while I try to analyze why it works via that that library but not via the above simple direct Jimp code.

[2017-04-23 18:11] lakamsani opened #262 "catching errors when reading bad images"
Jimp is unable to read this image due to some problem with it. I was expecting the catch part of the promise to get executed but it does not causing the node process to simply exit.
[code]

Here is the error from that code causing node process exit. The image URL does not give a 404 in the browser.
[code]

[2017-04-25 12:12] thewizarodofoz commented on #262
@lakamsani Not sure if I understood your issue, but I made this [RunKit playground](https://runkit.com/thewizarodofoz/jimp-catch-error) page to demonstrate that the catch clause **is** being executed.

[2017-04-25 12:24] thewizarodofoz commented on #261
the `write` method accepts Node-style callback. If you pass the callback you could log the error:
`.write(newFile2, err => console.error('write error: ', err));`

When I ran your code the error I got was permissions error (because I didn't have a tmp folder - do you have that folder?).

[2017-04-25 13:59] thewizarodofoz commented on #259
Do you mean rotating images[1] before compositing it over images[0]?
If so, why not just do images[1].rotate(degrees) and then do images[0].composite?

[2017-04-25 14:12] thewizarodofoz commented on #255
According to WIkipedia:

So I believe you are referring to PPI. And in that case, as far as I understand, jimp does not manipulate the PPI of an image. Meaning - the number of pixels in the source will be the number of pixels in the Jimp object.

Anyway - could you provide some example of the issue you're experiencing?

[2017-04-25 14:13] lakamsani commented on #262
@thewizarodofoz didn't know about RunKit playgrounds, thanks. And thanks for checking my issue out. I think I misinterpreted the exception printout as process exist as that was last the last piece of code in my test. Adding a non exception printout in the catch clause is helpful. We can close this.

[2017-04-25 14:13] #262 closed

[2017-04-25 14:19] lakamsani commented on #261
@thewizarodofoz  thanks for checking out this issue as well. Adding that node style call back to write gave more info.

[code]

[2017-04-25 14:26] lakamsani commented on #261
The problem in this case was the lack of a file suffix. It work with this change `let newFile2 = "/tmp/lena-small-bw.png"`

[2017-04-25 14:26] #261 closed

[2017-04-25 14:37] thewizarodofoz commented on #241
I believe this is the same issue as #58 and others.

I verified this by replacing the content of `index.js` in my `node_modules` folder with the file from this repository, and it worked.

[2017-04-25 15:03] thewizarodofoz commented on #249
According to the docs here, what `Jimp.mask` does is:

So I believe this will not really give you what you want.

You can use simple CSS to achieve what you want, [here's an example](https://jsfiddle.net/thewizarodofoz/ok8g9vyu/).

[2017-04-25 15:07] thewizarodofoz commented on #239
It is probably a permission problem. To better understand it I recommend you pass a callback to `write`, then you can see the error you're getting (otherwise `write` failed silently - see #261 ).

[2017-04-25 16:03] thewizarodofoz commented on #238
Tested it on my Mac with jimp@0.2.27 and this image:
![peace](https://cloud.githubusercontent.com/assets/19185792/25395449/ba5a0c38-29e9-11e7-96b1-f6500d78d93e.png)

It worked fine (input image had alpha channel, and output image did not).

Can you give a sample image and code snippet which doesn't work for you?

[2017-04-25 16:07] thewizarodofoz commented on #219
I would be happy to start writing tests using Mocha (at least for Node at this stage).

[2017-04-25 16:39] rafaelcastrocouto commented on #219
I'm running out of time to keep this alone, so I'm dropping this here so it might get some help and bring JIMP a little closer to the public!

demo: https://rafaelcastrocouto.github.io/jie/
code: https://github.com/rafaelcastrocouto/jie

[2017-04-25 23:03] adamlawson opened #264 "Update bmp-js dependancy to version 0.0.3"
Hi,

Can you update the dependancy version please? version 0.0.1 doesn't work well with --use_strict as specified here https://github.com/shaozilee/bmp-js/issues/8

Thanks

[2017-04-26 15:04] houtwolf commented on #259
@thewizarodofoz thanks for your help, but i already fixed it and i never closed this.

[2017-04-29 02:58] markbame commented on #193
Hi, i'm getting is this issue also. Is there a way around this? :)

[2017-05-04 12:08] tsabbay opened #266 "html /special characters"
hi,
first: nice LIB!
my question is about special chars and hebrew..

did any one try to use any special characters, for example:
http://www.fileformat.info/info/unicode/char/2713/index.htm

also about Hebrew/arabic chars
and make it worked ?

any one (: ?

[2017-05-05 15:40] RimacV commented on #207
After using the here suggested solution for reading files.
I encountered the same problem for writing processed images to files.

I solved this by modifying  the write method.
I did not test this and I assume it breaks conventions and stuff but for my case it worked. It took me a while figuring this out, so I thought I would share it here.

[code]

[2017-05-05 20:22] rwpino opened #267 "read from url with custom headers"
Hello, I want to use your library to load my image from a remote server thru http with custom headers and converted into base64 string,It is possible do it  right now?. if no will be super good if the method allow pass configurations headers

[2017-05-06 03:23] shihuojian opened #268 "Font can also use ragb"
Font can also use ragb, or change the font is very troublesome

[2017-05-09 17:44] cesarpachon opened #270 "mix functionality is too slow"
hi! I'm working in AWS lambda using jimp to colorize (mix) and then composite a set of 1024x1024 PNG files. but the mix operation is dramatically slow (13 secs). some advice for improving performance?
[code]

note: jimp.mix is too slow! for a single 1024x1024 image took 13 seconds!:

[skins_create]got all the assets!
TIMER: got assets from s3: 3.193 sg
[skins_create]["skin","face","hair","torso","

[2017-05-10 09:03] vernondegoede commented on #266
I tried inserting the Euro symbol yesterday. Doesn't work though. When entering special (Unicode) characters Jimp simply ignores them.

[2017-05-11 03:24] solfolango commented on #250
I can still confirm that npm is not up to date, even if the version number seems to be correct.

[2017-05-12 21:50] MCTaylor17 opened #271 "image.hasAlpha() Method?"
Is it possible to add a method for determining if a PNG has a transparency colour channel?

Creating alpha channels when none is required results in unnecessarily large images.

Ideally, the following could be used:
[code]
This would either preserve the channel when used remove it when unecessary.

Alternatively you could use it to determine file types:
[code]

[2017-05-14 07:27] amitgur commented on #266
Just did it in Hebrew
Go to http://kvazars.com/littera/ create fnt and png file from your font.  Open the fnt font
replace this
 </chars>
</font>

with this
 </chars>
  <kernings count="0">
   </kernings>
</font>

Use that file as the font. On Hebrew, you will have to write the text from end to start.

[2017-05-14 07:32] tsabbay commented on #266
tx amit, already found a different approache for our problem.

[2017-05-14 09:18] vernondegoede commented on #266
@tsabbay What was your solution to this problem?

[2017-05-14 09:23] tsabbay commented on #266
we rendered HTML and merge it as img on top if the original image..

[2017-05-15 15:51] nphias opened #272 "sharp to jimp.. using a cutout mask"
Hi .. does anyone know how i could convert this function from sharp to jimp?
basically it uses a mask which is a black circle of the dimensions width height to cutout the image so it is also a circle of the same dimensions.

``
static convertAndCreateImage(input_path, output_path, width, height, mask, callback)
    {
      sharp(input_path).resize(width,height).overlayWith(mask, { 'cutout': true

[2017-05-16 21:10] nphias commented on #272
``
Jimp.read(mask).then(function (imgmask){
        Jimp.read(input_path).then(function (img) {
          img.cover(width, height).autocrop()
          .mask(imgmask,0,0)
          .write(output_path);
        }).catch(function (err) {
          console.error(err);
        })
      }).catch(function (err) {
        console.error(err);
      });
``

[2017-05-16 21:10] #272 closed

[2017-05-16 21:12] nphias commented on #272
![bg_mask_w](https://cloud.githubusercontent.com/assets/17417820/26128551/104ac994-3a8d-11e7-88e8-667dca532dcf.png)

using this mask worked for me

[2017-05-18 04:47] ZhouHansen opened #273 "How about injecting web worker into jimp-browser?"

[2017-05-19 14:26] sidonaldson commented on #250
Is anyone available to fix this? I looks like there are a few tickets waiting on the NPM update (I believe this can't be a PR but apologies if I'm mistaken)

[2017-05-20 01:41] lunarraid commented on #250
+1

[2017-05-20 14:15] Ne0nx3r0 commented on #153
Same as @ahaus I was using jimp to create ~50-200 slices of a ~1000 by 1000px image for a project I'm working on but memory usage was getting into the 2GB range and image processing was taking about ten minutes. It seems like it clearly wasn't freeing memory for whatever reason.

FWIW this is the code I was using: https://gist.github.com/Ne0nx3r0/656a18a723ad25775dd362ac5924e85b

[2017-05-20 19:56] oliver-moran commented on #197
Fixed with https://github.com/oliver-moran/jimp/pull/226. Thank you.

[2017-05-20 19:56] #197 closed

[2017-05-21 01:29] oliver-moran commented on #250
Apologies for the lack of publishes. Integrated most of the pull requests and made a publish to NPM just now.

Anybody willing to lend a hand working though the PRs is more than welcome: https://github.com/oliver-moran/jimp/issues/219

Two notable things about this release:

1. Exif handling is not backwards compatible. Previously JPEGs were automatically rotated according to exif data. Not the `i

[2017-05-21 01:29] #250 closed

[2017-05-21 01:32] oliver-moran commented on #237
John, I just made a publish to NPM just now. The `image.convolute()` method is there now (a slightly different version to the one you were working on).

[2017-05-21 01:32] #237 closed

[2017-05-21 01:38] arackaf commented on #250
Curious why you got rid of the auto-exif rotate - I thought that was a nice feature to have.

I assume `image.exifRotate()` is safe to call on all jpegs -- ie it will do nothing if nothing is needed?

[2017-05-21 01:40] oliver-moran opened #274 "Browser version broken in 0.2.28"
@strandedcity, dammit the browser version has broken again in this release. Any ideas what is up with it? I know too it is being used by many projects so this is a bit of a catastrophe.

[2017-05-21 01:48] oliver-moran commented on #250
The reason was to do with this: https://github.com/oliver-moran/jimp/pull/245

Rather than adding a option object to disable an opinionated feature, I decided to put control back in the hands of the developer.

`image.exifRotate()` is safe to call on all images. If no exif data is there it will just do nothing.

[2017-05-21 01:59] arackaf commented on #250
Yeah - seems fair, especially when there's such a simple method which does this.  lwip doesn't even have the method so you have to manually parse the exifData, determine which rotations are needed, then manually apply them.  This is still a huge win over that :)

[2017-05-21 07:24] oliver-moran commented on #271
For PNG images, you can save with an alpha channel or not using:

[code]

Or is it that you want to detect of there are any non-opaque pixels and decide to save as a JPEG if there are none?

[2017-05-21 07:28] oliver-moran commented on #264
Thanks. This is now live with version 0.2.28.

[2017-05-21 07:28] #264 closed

[2017-05-21 07:29] #259 closed

[2017-05-21 07:31] oliver-moran commented on #256
@andy4545 , @xmatmen has the right answer. Hope this helps.

[2017-05-21 07:31] #256 closed

[2017-05-21 07:32] oliver-moran commented on #258
The default font files only contain ASCII. Other font files can be created using tools like this one: http://kvazars.com/littera/

Hope this helps.

[2017-05-21 07:32] #258 closed

[2017-05-21 07:33] oliver-moran commented on #266
The standard font files are only basic ASCII. Additional fonts can be created online using tools like this: http://kvazars.com/littera/

[2017-05-21 07:33] #266 closed

[2017-05-21 07:35] oliver-moran commented on #268
The default fonts are just white or black. Additional font files, in any colour, can be created using online tools like: http://kvazars.com/littera/

Hope this helps.

[2017-05-21 07:35] #268 closed

[2017-05-21 08:26] oliver-moran commented on #253
Hi, @sufuf3. The only file needing hosting is https://github.com/oliver-moran/jimp/blob/master/browser/lib/jimp.min.js. Unfortunately, the latest build is broken. I'll ping you when all is working again.

[2017-05-21 08:29] oliver-moran commented on #252
Since 0.2.28 `image.write()` will attempt to create the directory. A little opinionated, sure, but also a literal interpretation of the developer instruction.

Can you check that this fixes your issue?

[2017-05-21 09:10] oliver-moran opened #276 "Node version support"
@aurium great work with all of those tests and getting the browser version working again. Thank you.

One important question: What version of node should we support? Features like `let` and destructuring assignment are supported in Node 4.x, which is still in maintenance support and used on a lot of servers: https://github.com/nodejs/LTS#lts-schedule1

Any suggestion on the best way to go about mo

[2017-05-21 09:41] thisconnect commented on #276
I would drop node v4 but create a nee major version of jimp. if one still uses node v4 or needs to support older browsers they can either use the last major version or use babel to transpile to es5.

[2017-05-21 12:40] npomfret opened #277 "question: has anyone tested this in a react-native app?"
Sorry, this isn't an issue but a question (wasn't sure where else I could ask)...

I'm thinking of implementing this in a react native app.  I'm concerned that some mobile devices that don't have a lot of memory might struggle with this library.  I'm making this assumption because I presume that the binary image gets converted to base64, which I understand takes up more memory than the binary woul

[2017-05-21 16:47] aditya2272sharma commented on #255
Generally the bit-depth of an image can be preserved by forcibly shrinking it's size by CSS or `height`/`width` attributes, that's what we generally do for HDPI images.

@Joker9090 - a suggested workaround will be, if you're trying to modify dimensions, don't reduce to actual pixel sizes, but to the twice or thrice of the size. Simple rule of thumb - if your 300dpi image is of 100x100 size, then r

[2017-05-21 16:55] aditya2272sharma commented on #208
**Opinion:** Transpiling will only slow the project down. If something is not there in Node v6.x directly, and if we've to use a transpiler to get around it, then IMO, it won't be as productive as it has been so far. Debugging is quicker when you don't have additionally TAT.

[2017-05-21 16:58] aditya2272sharma opened #278 "Image cropping Issue: Returns black images"
[code]
Tried this code, in windows64 environment as well as Linux (heroku) which gave me 100x100 black jpeg images while the original large image was well above the dimensions.

Repo: https://github.com/aditya2272sharma/big-insta-pic

[2017-05-21 18:39] Iwasawafag commented on #276
Transpiling will be needed for browser version anyway, so why not to offer this for node too?

[2017-05-21 18:47] thisconnect commented on #276
somewhat related
- https://nolanlawson.com/2016/08/15/the-cost-of-small-modules/
- https://medium.com/@Rich_Harris/small-modules-it-s-not-quite-that-simple-3ca532d65de4

[2017-05-21 19:33] aurium opened #279 "Use WebAssembly on CPU intensive methods"
https://www.npmjs.com/package/webassembly
http://thecodebarbarian.com/getting-started-with-webassembly-in-node.js.html

[2017-05-21 21:22] Mithgol commented on #153
I was not able to cope with the memory issue and decided to switch to https://www.npmjs.com/package/gm with http://www.graphicsmagick.org/ and also a better hosting.

[2017-05-21 23:25] abritinthebay commented on #208
Speaking as someone who writes and debugs ES6 production code daily practically - that's simply not true.

It may slow *deployment* of a new version down (because it'll build a distribution version before publish) but day-to-day development is no slower and, when features are supported natively (in Node 6/7/8 as most are) they can be faster (not always, but they *will* get faster).

If anything th

[2017-05-22 03:41] cesarpachon commented on #270
hi, I did a review of the implementation of jimp.color, and I think the guilty is the large use of callbacks and creation of javascript objects per-pixel, both in the scan method and the tinyurl2 delegated calls. I made a custom "fastTint" method by copying code from both jimp.color  and tiniyurl2.mix methods, and I was able to reduce the time from 14 seconds to 0.03.  this is my function, I hope

[2017-05-24 08:51] meszaros-lajos-gyorgy commented on #148
+1

[2017-05-24 08:51] Romesz commented on #148
+1

[2017-05-25 03:10] leonardo-sj opened #280 "Error: Node's Buffer() not available"
Hi,

I am developing an single page app with vue-cli webpack-simple. The only dependencies are firebase components and this library.
The Chrome console is showing the error below:

[code]

[2017-05-25 12:25] strandedcity commented on #274
eep! Sorry for the delay on this end I'll look into it ASAP. Had a baby ~recently, so time has been short! But I'll find some to take a look :)

It seems like we've proven the build process in its current state is on the fragile side when dependencies change. I'll try to think of something more stable, or at least a way to quickly test breakages before they occur (ideally on the PR level).

Sorry

[2017-05-25 14:50] Iwasawafag commented on #280
Since you're using Webpack, you can easily make these [`Buffer`](https://www.npmjs.com/package/buffer)s available in your runtime under the same name with Webpack's [ProvidePlugin](https://webpack.js.org/plugins/provide-plugin/)

[2017-05-25 15:19] kolbma opened #281 "getJimpDir() doesn't work as expected"
When using jimp via npm, getJimpDir() returns './'.
https://github.com/oliver-moran/jimp/blob/master/index.js#L418
So it looks up the font directory in current directory.
But the font directory is in the node_modules/jimp directory.
And so it doesn't find the predefined fonts.

[2017-05-25 22:18] aurium opened #282 "Gradient Color plugin"
Consider to use http://gka.github.io/chroma.js to know color names, do transformations and render gradients.

[2017-05-25 22:35] aurium commented on #276
I was thinking on this, however that will be a problem for testing and a dependence reuse problem, as all modules are packed on the browser version. :-/

I believe the @thisconnect option is the best one.

[2017-05-25 22:37] aurium commented on #281
Thanks @kolbma! I will see this problem.

[2017-05-26 07:49] thisconnect commented on #276
I always forget about jimp in browser although modern browser understand let and const. these can not be polyfilled and have to be transpiled with babel and checked into git so it can be on a cdn, see #253

What browser/version should be supported?

[2017-05-27 01:00] afterl1ght opened #283 "loadFont() doesn't work?"
So I'm using npm version of jimp, and I just want to say, thank you for creating such a great image manipulation library! :+1:

But, I'd like to ask that, about printing text to the image. I've used `Jimp.loadFont()` to load a Bitmap font so that it can write the text into the specified image (In this case I'm using PNG), and it does not work. Instead of exports an image with written text in it, i

[2017-05-27 23:35] Iwasawafag commented on #282
Aside from gradients, TinyColor already does all that. What's the benefits?

[2017-05-27 23:55] Iwasawafag commented on #193
Never version was pusblished to NPM a week ago, this problem is now resolved.
Closing the issue

[2017-05-27 23:55] #193 closed

[2017-05-27 23:56] Iwasawafag commented on #241
Never version was pusblished to NPM a week ago, this problem is now resolved.
Closing the issue

[2017-05-27 23:56] #241 closed

[2017-05-28 00:33] Iwasawafag commented on #278
`Jimp#crop` does not return new image on every call, instead it modifies existing bitmap. And at the time of third `img.crop()` the region you're specified is off the canvas.

To do what you want you have to clone original image before cropping it, then it's going to give you results you expected:

[code]

[2017-05-28 00:33] #278 closed

[2017-05-28 00:36] Iwasawafag commented on #271
This.

Seems like a good idea, I'll implement it this tomorrow.

[2017-05-28 02:51] Iwasawafag commented on #277
Mobile devices will struggle for sure, I expect it to be painfully slow. UI of your app will likely remain responsive but event loop of javascript controlling it will be blocked for quite some time. Consider using native means of working with images if possible, those should be much faster.

Not quite. Actually, not at all. There's no need to convert image to Base64, instead image is being read, d

[2017-05-28 17:54] pow3rran9er opened #284 "Just a question: 'The source must be a Jimp image' compositing two images?"
Hi, i'm trying to combine two images. One located on my hdd, one downloaded. No matter what I try though I keep getting the error in the title 'The source must be a Jimp image'.
I tried creating an image object like so to prevent it:
[code]
But I'm having no success. Anyone have any ideas of how to (poperly) create a jimp image that can be added to another jimp image?

[2017-05-28 20:24] Iwasawafag commented on #284
First of all, because you specified callback here, promise will never be resolved.

[code]
Same applies to `loadFont` method. Pretty dumb and counter-intuitive if you ask me, considering promise is being returned regardless, I don't know why it behaves like this, but I definitely want to change that in the future.

Second: this is not how you use promises.

[code]

You're calling your function bef

[2017-05-28 20:24] #284 closed

[2017-05-29 08:54] npomfret commented on #277
thank you!

[2017-05-29 08:54] #277 closed

[2017-05-29 09:38] Iwasawafag commented on #283
You're trying to send file before it's finished writing to disk. Actually, even before avatar image is read and composited on top of background. Also you're not returning a promise from `.then()` callback, so only errors of the first operations will be catched there at the bottom.

I've answered to a _very_ similar question yesterday https://github.com/oliver-moran/jimp/issues/284#issuecomment-304

[2017-05-30 02:58] aurium commented on #282
I don't know the difference... chroma.js looks more complete and i want(ed) to compare and consider to use. If you say, i don't need to analyze this. :-)

[2017-05-30 03:08] aurium commented on #276
About `let` and `const`, no problem... babel is [transpiling it](https://raw.githubusercontent.com/oliver-moran/jimp/master/browser/lib/jimp.js).

I want say _"the last year current"_, so we give one year to users to update without problems. If some service want more time it can freeze in some Jimp version.
(however i can't be sure if this is the best strategy)

[2017-05-31 03:39] strandedcity commented on #274
Sorry to say the browser build is now completely unfamiliar to me... @aurium rewrote it over a series of steps:

https://github.com/oliver-moran/jimp/commits/master/tools/browser-build.js

In particular the error I now see when npm tries to prepublish makes perfect sense if the file is interpreted as es5, not es6:

[code]

@aurium do you expect ```$ npm run prepublish``` to work still? It doesn't

[2017-05-31 05:26] aurium commented on #274
@strandedcity `$ npm run prepublish` should work with no problem.

Your problem with `Unexpected token {` may be your node.js version. The node version and tools demands es6 features. Don't wore about the browser. it is transpiled do es5.

[2017-05-31 12:53] strandedcity commented on #274
which version of node is required?

[code]
If a particular version of node is now required for jimp, we should include it in package.json:

[code]

https://docs.npmjs.com/files/package.json

However I expect that doing so may break some people's server-side projects. So perhaps the better way to go is to check the node version in the script itself so we can throw a more precise error eg "You need

[2017-05-31 12:57] strandedcity commented on #274
@oliver-moran upgrading node to the current stable version (8.0.0) worked for me; the build runs. I haven't yet had a chance to test the output, but it runs. Were you stuck where I got stuck?

[code]

[2017-05-31 17:16] latchuk commented on #280
I'm using Angular2 in my Project and I have the same problem here. Can you have a sample of your solution with Webpack's ProvidePlugin?

[2017-06-05 05:25] NikoMasumi commented on #283
I will check it out. Thanks!

[2017-06-05 07:47] hia commented on #280
@Iwasawafag  hi.

[2017-06-05 07:47] hia commented on #280
@Iwasawafag  hi.

[2017-06-05 07:53] hia commented on #280
@Iwasawafag  hi

i have some problem. and i`m use webpack+react+jimp:

when i config webpack like that:

[code]

in code can get window.Buffer object,

[code]

but jimp still tell me "Node's Buffer() not available".

can you help me ?

[2017-06-05 12:30] Pragmateek opened #286 "Cannot read some PNG images but OK with all JPEG and BMP"
Hello,

first thanks for this great library that will hopefully help me to solve some performance issue with images previews. :-)

I've build a small proof of concept of what I'm trying to accomplish.
It's working fine with all JPEG and BMP images I've tested, but it crashes with some **PNG images** that have been **generated by MS Paint**.

Here is the error I get when reading them:

    jimp.js:

[2017-06-05 12:46] Pragmateek commented on #286
Moreover I can't find a way to safely catch the error in order to:
- log it,
- gracefully fallback on a default behavior without resizing.

I've tried to :
- add a `catch` in my promise chain: `Jimp.read(...).catch(...)`
- wrap the whole block in a `try/catch` statement: `try { Jimp.read(...)... } catch(error) {...}`

Any idea to cleanly catch the error will be greatly appreciated. :-)
Thanks.

[2017-06-06 08:20] hia commented on #280
@leo-one  did you resolve you`s problem ?

[2017-06-06 08:37] Iwasawafag commented on #280
Hello.

Sorry, last time I haven't really tested what I suggested about ProvidePlugin. I was pretty positive that it should have solved the error you were seeing but just now I tried it and had no success. For some reason it only replaced references to `window.Buffer` in my code and not in the code of the module. Which is a little weird, because that works perfectly fine for jQuery.

I was able to

[2017-06-06 08:44] hia commented on #280
@Iwasawafag
 thank you very much all the same ,for you help ~

[2017-06-06 09:59] Pragmateek commented on #153
Same memory issue while loading and resizing a 16M image file on Windows:
- Chrome 57.0.2987.110 (64-bit),
- Firefox 53.0.2 (32 bits).
The memory never stop to increase and finally the browser explodes.
Unfortunately this is a deal-breaker for me.
I'll try with Pica which is less easy to use as it can't be used as is and need a server-side "compilation" with browserify...

[2017-06-08 21:21] mcarlucci commented on #280
+1

[2017-06-09 03:05] raphaklaus commented on #209
@githubitsme Same issue here, how did you managed to overcome this situation?

[2017-06-09 17:53] tmfksoft opened #287 "Resize Modes - Pixel Art? / Nearest Neighbour"
How would I go about resizing pixel art without losing quality?
Nearest Neighbour seems to be the closest I can get but it fails to properly scale/resize the image.

For example scaling an 8x8 image up to 100x100 (or 104x104)
results in a slightly broken image.

Below is a comparison between Jimp and Photoshops Nearest Neighbour:
https://smallimage.in/mg182.png

[2017-06-13 09:29] mrdaano commented on #287
Same problem.

[2017-06-16 13:06] JOscarEduardo opened #289 "Jimp Browser with Web Workers issue when loading font"
Hi, guys!

Jimp is amazing! I am using it in the server and also in the browser. Recently I decided to use it inside of a web worker. However, when I do that, the Jimp.loadFont fails when trying to load a font. The message is:

[code]

I noticed, in the network pane of chrome console, that the .fnt file is loading correctly. However, the .png file doesn't even appear in the network pane.

I used t

[2017-06-17 10:11] rosygupta commented on #232
The functionality seems to return a callback (work in async) but does not accept then/exec in Node.

[2017-06-18 10:00] Haringat commented on #232
@rosygupta I assume you tried something like this:
[code]
This doesn't work, but also won't throw an error, since in JavaScript you can basically await any value. If it is not a Promise then the expression will immediately return the awaited value. Jimp.prototype.write() returns an instance of Jimp (the one which was written). If you await that then v8 will just take the Jimp and return it in the

[2017-06-20 22:06] Anagmate opened #290 "Random noise in imported .gif file"
I tried reading a .gif image on the following URL: http://etesty2.mdcr.cz/Vestnik/GetImageQuestion/P2_6328164310901.gif

When I try to export it to any supported format (.png, .jpg, .bmp), I get a thin strip on the top of the image with randomly colored pixels. Problem is, everytime I reload and export the image, the pattern changes randomly.
When I try to export multiple types from same image obj

[2017-06-21 09:09] tkir opened #291 "image.write(path, callback) callback is not calling"
Hi.
Thanks for this great library.

I try to bliting images, and sendFile after saving.
Everything good, before  image.write(path, callback).
File is writing on disk, but callback is not calling

[code]

[2017-06-23 12:49] tkir commented on #291
update!
When image is writing
this part of code calls error "can't read on of undefined" (thamething like that)
imdex.js row 2546
[code]

[2017-06-26 15:16] bennyn opened #292 "Jimp compression is causing wrong colors"
In [Wire's web application](https://github.com/wireapp/wire-webapp) we are using Jimp to compress images:

[code]

One of our user's realized (https://github.com/wireapp/wire-webapp/issues/1272) that [his image](http://imgur.com/dhfszaG) gets strange colors when we compress it with Jimp.

I built a demo that showcases the problem: https://bennyn.github.io/jimp-issue/index.html

Test code is availa

[2017-06-27 03:13] justingosan opened #293 "Chroma Key"
Hi!

I'm wondering if this library can achieve the same effect as [chroma keying](https://en.wikipedia.org/wiki/Chroma_key) an image?

[2017-06-30 12:50] ThuverX opened #295 "Using custom characters doesn't seem to work"
I'm still not sure if this has something to do with Jimp but, I'm trying to display my username (₮ҤЏѴΞ₹Ӿ).
When i check if the username is not empty (By console.log() -ing it and checking it). Its not empty but when using bg.print(font1, 16, 13, username); It does not work. I also checked if it was the font, It was not trying a custom font in Jimp resulted in empty. But in photoshop it was fine (m

[2017-06-30 13:05] #295 closed

[2017-06-30 13:06] ThuverX commented on #295
Nevermind already found the problem

[2017-07-04 12:58] ThriceGood opened #297 "Jimp working locally, but not on DigitalOcean droplet"
hello,

I'm having an issue where Jimp is working fine locally to resize and save files, but when i use the same code on a DigitalOcean droplet it is failing, my application is being "killed". I can save files to the file system on the droplet using express-fileupload's .mv function. But for some reason Jimp is having troubles.

Would you have any idea as to what is the problem here? I am not sure

[2017-07-04 14:33] An2An96 commented on #297
Same problem. When you save the picture on vds, the process crashes without any errors.

[2017-07-05 06:05] t2krew commented on #295
@ThuverX how do u solve this problem? I also wanna to write the custom characters but was failed :-(

[2017-07-05 06:22] ThuverX commented on #295
@t2krew, someone else said this and i followed it.
The standard font files are only basic ASCII. Additional fonts can be created online using tools like this: http://kvazars.com/littera/.

So grab your font put it in there, make sure you select all characters. And ofcourse tweak it to your liking. Then download it and just load it via `jimp.loadfont` . Hope this helpes.

[2017-07-05 14:21] dawadam commented on #114
It is a shame to have to add an extension so that the program understands the format that one wants to use.
When storing files on the server, we do not necessarily use extensions because we can do a processing before delivering the file to the client.

[2017-07-06 05:36] kauegimenes opened #298 "Support for Eroding and Dilating images?"
OpenCV Erosion and Dialation docs: http://docs.opencv.org/2.4/doc/tutorials/imgproc/erosion_dilatation/erosion_dilatation.html

[2017-07-06 06:30] marcolino opened #299 "Support to compare image against a database of hashes?"
I need to compare an image to a list of pre.calculated images hashes (`Jimp.hash()`).
I would like to use both `Jimp.distance()` and `Jimp.diff()`.
I.e: Is there any support to match an image against a (potentially BIG) list of saved images, without having to read every image in the list (and recalculate it's hash) again?

[2017-07-06 20:38] Gigiman opened #300 "Sorry if this is a dumb question. Can I run Jimp directly on client-side with React Js?"

[2017-07-07 08:44] felixfong227 opened #301 "Image data destroyed"
I can upload my origin image to the GCS, but once I just Jimp to resize and the image data is destroyed :/
[code]
But I can still view it from my file explorer
OS: Windows 10
Jimp: 0.2.28

[2017-07-08 16:36] Ojas-Gulati commented on #298
New contributor here, so don't expect anything, but will give it a shot!

[2017-07-08 17:10] kauegimenes commented on #298
@Ojas-Gulati Thanks!

Check https://github.com/mikolalysenko/ball-morphology

[2017-07-09 01:45] keatz55 commented on #280
+1

[2017-07-09 10:17] Ojas-Gulati commented on #298
What should be the behaviour for maximum pixel on colour images? I would give each a score based on r + g + b, but how would you break ties?

[2017-07-09 15:02] Ojas-Gulati commented on #298
@kauegimenes Added, here's a new pull request: https://github.com/oliver-moran/jimp/pull/302

[2017-07-09 17:18] kauegimenes commented on #298
@Ojas-Gulati grayscale sounds good.

With this PR Its possible to image.dialate(0.4)? or the min is .dialate(1)?

[2017-07-09 17:40] Ojas-Gulati commented on #298
@kauegimenes No, it only does whole numbers of pixels. :(

Though how would you use half a pixel as the kernel?
P.S. it only uses square kernels for now

[2017-07-09 17:51] Ojas-Gulati commented on #252
Should we close this?

[2017-07-09 17:52] Ojas-Gulati commented on #238
Should we close this?

[2017-07-09 17:53] Ojas-Gulati commented on #219
I would love to help with this!

However, I struggle with writing tests, so may need some help there :/

[2017-07-09 17:57] Ojas-Gulati commented on #220
+1 I often need some synchronous processing

[2017-07-09 19:28] cenjennifer commented on #238
yes! thanks for your help!

On Sun, Jul 9, 2017 at 1:52 PM, Ojas-Gulati <notifications@github.com>
wrote:

--
Sincerely,
Jennifer Cen

Fullstack Developer
Grace Hopper Program at Fullstack Academy '16
SUNY Binghamton University '13

[2017-07-10 13:35] ghost opened #303 "Read Image Synchronously"
I need this to block the main thread for reasons.

Could I maybe use fs.readFileSync and somehow turn that into a data URL?

[2017-07-10 20:57] mikedaly commented on #252
Sorry I haven't gotten to testing the latest version. The code we previously had that triggered the previous bad behavior has since been refactored, so I can't just drop in the new version to verify.

I'm fine closing.

[2017-07-11 07:38] hoangnguyenba commented on #153
I have the same issue.
When I upload an image in my local. It's working.
But When I upload that to server ec2 ( 512MB memory ), I get this error: "Array buffer allocation failed"

[2017-07-11 19:21] akhoury opened #304 "choose the padding (letter box) color when using `image.contain`"
is there a way to do that today?
[code]
thanks

[2017-07-12 17:41] #252 closed

[2017-07-13 12:24] TimOnGithub opened #305 "No exif rotation with exif-parser v0.1.11"
exifRotate() does not rotate the photo correctly.

**Reason:**
In index.js at function parseBitmap:
EXIFParser.create(data).parse() returns empty tags object.
Example return object:
`{ startMarker: { openWithOffset: [Function: openWithOffset], offset: 0 },
  tags: {},
  imageSize: { height: 750, width: 1000 },
  thumbnailOffset: undefined,
  thumbnailLength: undefined,
  thumbnailType: undefined,

[2017-07-15 09:13] omw2005 commented on #205
@kodie which fonts did work for you? I got this error with every font I tried to load. (.ttf to .fnt conversion on Littera)

[2017-07-15 11:12] BerndGewehr opened #307 "when trying to read an image from node-red msg.payload, image is undefined"
I'm using node-red and I have loaded jimp in package.json

`        "jimp":"0.2.x",`

and made jimp available to the function node in global context in settings.js:

`functionGlobalContext: { Jimp:require('jimp') },`

Now using jimp in a function node woks with

`var JIMP = global.get("Jimp");`

and that works fine. (tested by querying jimp constants from JIMP and getting the expected results)

No

[2017-07-16 03:24] Haocen opened #308 "Jimp.create instead of new Jimp for clearer syntax [Feature request] [Breaking change]"
Currently, in order to create new image, one need to do:
[code]
but this code is horrible, the `newImage` itself is undefined forever, not even a promise. I propose to change to following:
[code]

Update:

I think sync version can still stay this way:
[code]
but async version should be deprecated and removed from doc as the reason I described above.

[2017-07-16 08:40] BerndGewehr commented on #307
Well, I think it was my mistake, sorry! I did not recognize my http request does lead to an html payload saying "no Access" instead of delivering the image.

[2017-07-16 08:40] #307 closed

[2017-07-16 14:03] Ojas-Gulati commented on #308
hmmm, I'll see if I can do something about that.

That would be a much cleaner syntax.....

[2017-07-16 22:25] DoomTay commented on #292
This might be related to #243

The problem seems to lie with jpeg-js. There are a few more test cases [here](eugeneware/jpeg-js#23)

[2017-07-16 23:10] DoomTay commented on #299
You could have the hash of each image stored in a list and read that.

[2017-07-17 07:22] marcolino commented on #299
Of course. But - I mean - I need methods like Jimp.distanceFromHash(hash) and Jimp.diffFromHash(hash), which are now unavailable... :-(

[2017-07-19 16:55] ChenYuHo commented on #304
You could find the following description in README.md:
`image.background( hex );          // set the default new pixel colour (e.g. 0xFFFFFFFF or 0x00000000) for some operations (e.g. image.contain)`

[2017-07-20 11:43] aadunn opened #309 "Text wrapping not functioning"
Unsure if I implemented it wrong but text wrapping seems to not function for me.
My code is as follows:
[code]

Text seems to not get wrapped at all. Am I doing something wrong here?

[2017-07-20 21:07] mikehchuck opened #310 "How to create a transparent image"
Hello,

I'm trying to create a blank transparent Jimp image, but it always has a color value. I tried using the opacity method, but it doesn't seem to work.

Here is my code:

[code]

It creates the new image, but it is all black and will not become transparent.
I have tried using both the mainImage and reading the caseImage again, but they are both all black.

Is there something I am missing?

Th

[2017-07-20 22:17] Netox005 commented on #310
You can add an optional background color argument to the Jimp constructor:
[code]

(`0x0 = 0 = rgba(0, 0, 0, 0)`)

[2017-07-21 03:25] AshwinMekala commented on #90
Any progress on this?

[2017-07-21 17:14] mikehchuck commented on #310
@Netox005 , thanks! I have found the real problem though. After I create the image I composite some other images over it, everything is fine (the background is still transparent), but when I resize the image, the background turns black. Here's my code:

`image.resize(generate.settings.params.resize_large, Jimp.AUTO).quality(100).write(fullLargeCase, function() { //Some other stuff goes here});`

[2017-07-21 17:30] mikehchuck commented on #310
Turns out you can't have a transparent jpg... Thanks!

[2017-07-23 04:05] from-nibly opened #311 "color function missing in typescript definition file."
The color funciton is missing on Jimp.Jimp in the typescript definition files.

[2017-07-24 15:04] mikechuck opened #312 "Closing a Jimp read stream"
Hello,

I am curious to see if there is a way to close or end a Jimp read stream. Normally there are explicit ways to end streams, but Jimp doesn't offer that as a method. Unless it closes automatically when you .write() to a destination? I am using Jimp in combination with sequest and file system streams to download/upload images from a server, and I keep getting "Error: There are come read reque

[2017-08-01 05:13] riatzukiza commented on #312
Jimp isn't using streams, `read` and `write` are more like `readFile` and `writeFile

[2017-08-01 07:09] nickgrealy commented on #271
How's this going? Looking forward to this feature!

[2017-08-01 07:23] nickgrealy opened #316 "Replace transparency with a colour"
Hi,

I'm currently converting PNG (&/BMP/GIF) to JPG. When I convert images, any transparency (alpha channels) turn BLACK. I would like to change this to WHITE.

**Is there a way to do this out of the box?**

**1. Apply image on top of a white background**

[code]

**2. Manually alter each pixel**

[code]

**Sample Source Images**
[SourceImages.zip](https://github.com/oliver-moran/jimp/files/11898

[2017-08-01 17:26] MCTaylor17 commented on #316
Would be nice to be able to declare the background color as an option.

[2017-08-02 09:22] vichajser commented on #231
when i remove `data:image/png;base64,` like `url.replace('data:image/png;base64,', '');`, new issues that `path must be a string` is coming
so how to fix that?

[2017-08-02 11:02] bethesque commented on #153
I'm using jpeg-js, and if I run the following code, the node process still has 166MB of memory.

[code]

jpeg-js does seem like the memory leak culprit.

[2017-08-04 06:15] zombiesbyte opened #317 "Clarify on some minor points"
Hi

I'm new to nodeJS but not new to javascript. I think the whole asynchronous operation is bashing my skull at the moment but I'm sure it will all start making sense to me soon.

I had some questions regarding Jimp (forgive me if these questions leak over to node in general).

I have issues creating large numbers of images with "EMFILE: too many open files" error. After reading a post/issue answ

[2017-08-05 18:09] zombiesbyte commented on #317
With a bit of help over at node IRC I was able to get around some of these issues. I'm posting rather than just closing an empty responded issue. My code can be found over at https://github.com/zombiesbyte/p1-illustrated in case any future people are wondering how I got around some of these issues.

[2017-08-05 18:09] #317 closed

[2017-08-05 18:12] zombiesbyte commented on #312
I'm curious about this one, if createWriteStream doesn't open a stream then why would it be given such a silly name?

Line: 2548 of ..\jump\index.js

[2017-08-05 20:29] zombiesbyte opened #318 "StreamToBuffer is deprecated"
This repository is deprecated. Please use stream-to instead.

Line 2254 of index.js

[code]

I think this maybe the source of why my buffer delays the writing of files which is causing me some huge issues with memory.

[2017-08-08 13:20] Ojas-Gulati commented on #310
Close this?

(sorry for my nagging cleanup posts :/)

[2017-08-08 13:21] Ojas-Gulati commented on #316
You can set a "default color" in Jimp

[2017-08-08 13:24] mikehchuck commented on #310
Yes you can close this. Thanks!

[2017-08-08 13:24] #310 closed

[2017-08-09 16:51] fxfactorial commented on #277
@Iwasawafag but will it work on RN in principle or does it assume existence of node APIs

[2017-08-09 17:36] awreese commented on #277
Seconded... I'm also working on developing a RN app that renders elements into a SVG canvas and I'm looking for an image pre-processor that can allow me to crop sections of a base image into SVG Image elements.  So far this module has been the best (most complete and trustworthy) looking option.  Since it is pure JS I suspect it will be able to to do the job, albeit as you say, a little slower tha

[2017-08-11 01:14] steven1mcmurray commented on #280
+1

[2017-08-11 23:19] satoyan opened #319 "some members missing in typescript definition file"
* Jimp.loadFont
* print

it seems that these members are issing in typescript definition file.
But "@"types"/jimp" has all members completely

[2017-08-14 10:36] Ojas-Gulati commented on #316
Any news on this?

[2017-08-16 01:06] rcfrias opened #322 "Reading from buffer, and writing back to buffer doubles the size of the image"
By using this library
1) I receive an image as Base64 string
2) I convert it to binary using :

`var buffer = new Buffer(parsedBody.imageBase64.replace(/^data:image\/\w+;base64,/, ""),'base64');`

3) read the buffer using:
`Jimp.read(buffer)`
4) do stuff like clone to generate a thumb, etc..
5) convert back to buffer using:
`var getBufferAsync = Promise.promisify(image.getBuffer, {context: image})

[2017-08-16 03:07] rcfrias commented on #176
Is this the final answer? It doesnt make sense to me that an unmodified image doubles it size just because the quality is 100%. By reducing it to 80 or 60 must be even lower than the original size.

[2017-08-16 06:38] x1911 opened #323 "how can i get more fonts like japanese or chinese?"
do you guys have some link to download?
i cant find it anywhere,  thanks for your help...

[2017-08-16 08:24] Ojas-Gulati commented on #323
Jimp uses bitmap fonts.

I found these japanese fonts - http://openlab.ring.gr.jp/efont/japanese/index.html.en

Load them into jimp with `jimp.loadFont`

[2017-08-16 08:31] Ojas-Gulati commented on #323
</close>

[2017-08-18 11:28] eptaccio opened #324 "Monochromatic Plugin"
is it possible to change an image to monochromatic using jimp?

[2017-08-19 02:52] gorbypark commented on #291
I think callbacks are working.  This simple example in express works without issue...
[code]

[2017-08-19 05:07] Ojas-Gulati commented on #324
Yes, use image.greyscale()

[2017-08-20 11:02] x1911 commented on #323
thank you very much, thats very helpful,and anywhere i cant find chinese,Jimp can load another font format in next version?or use canvas make font is allow?

    Ojas-Gulati <notifications@github.com> schrieb am 16:24 Mittwoch, 16.August 2017:

 Jimp uses bitmap fonts.I found these japanese fonts - http://openlab.ring.gr.jp/efont/japanese/index.html.enLoad them into jimp with jimp.loadFont—
You ar

[2017-08-20 17:07] strin opened #325 "Uncaught Error: Could not Jimp object"
I am using Jimp in react, and get caught up with the following error:

[code]

It seems to be using `jimp.js` from `browser/`, instead of the `jimp` module (`index.js`). I deleted the `browser` folder in `node_modules` and everything works perfectly.

[2017-08-22 12:14] kenning opened #326 "Should increment version number & resubmit to npm"
The version I downloaded from NPM has the same version number as this github repository, but on github there are extra features. The one that impacted me was here: https://github.com/oliver-moran/jimp/blob/master/index.js#L2639 In the version of jimp on npm, you can't align text horizontally (a really awesome feature!)

I just forked this repo to use in my project, but you should consider simply i

[2017-08-22 12:28] mepdr opened #327 "Handle httpntlm responses"
I'd use jimp to scale images downloaded using
https://github.com/SamDecrock/node-http-ntlm.
With the following code I got the error `mime must be a string`. The first charatchers of the images are `ÿØÿá}ExifII*`

[code]
What am I missing?

[2017-08-28 16:54] MauritsBot opened #330 "Anyone know how to send this (Discord Related)"
I am using this code but I can't let my bot send this picture?
Anyone know how to fix this?

[2017-08-29 18:02] nitin42 opened #331 "'Access-Control-Allow-Origin' when fetching the image"
I am getting this error 'Access-Control-Allow-Origin' when fetching an image with `Jimp.read(url)` in browser. Any idea how I can resolve this ?

[2017-08-29 19:05] arronhunt opened #332 "Getting image width/height"
Hey guys,

Perhaps I skipped over this in the docs, but is there a way to capture the image's width and height? I'm trying to center text in the image and need the overall dimensions to calculate the positioning.

[2017-08-29 19:39] graffzon commented on #332
I found for myself this way: `image.bitmap.height`
So f.e.:
[code]

[2017-08-29 21:26] #332 closed

[2017-08-29 21:29] arronhunt opened #333 "getBase64() returns `null`"
[code]

Sorry, I feel like I'm doing something wrong but cannot figure it out. Both buffer and base64 return null. The image read works because I can save it with `image.write()` and it will save locally.

[2017-08-29 22:16] arronhunt commented on #309
Same issue, adding a maxwidth of any value does not work for me

[2017-08-30 11:47] Ojas-Gulati commented on #331
This isn't a problem with Jimp - this is network error with the page that you are trying to access - take a look at https://stackoverflow.com/questions/10636611/how-does-access-control-allow-origin-header-work

/close

[2017-08-30 12:05] #331 closed

[2017-08-30 12:29] Ojas-Gulati commented on #323
/close (not Jimp related)

[2017-08-30 16:33] Kxze commented on #205
This is still happening.

[2017-08-30 16:35] Ojas-Gulati commented on #205
hmm, let me take a look

[2017-08-30 16:39] Kxze commented on #205
[font.zip](https://github.com/oliver-moran/jimp/files/1264384/font.zip)
[font2.zip](https://github.com/oliver-moran/jimp/files/1264386/font2.zip)
[font3.zip](https://github.com/oliver-moran/jimp/files/1264385/font3.zip)

I tried these three formats with varying success. One of them gave me the error described in the issue and the other two ended up not writing anything to the file.

[2017-08-31 12:14] jasan-s opened #334 "Is it possible to merge (compose two images) with this lib?"

[2017-09-02 15:07] Ojas-Gulati commented on #334
What do you mean?

If you mean placing one image over another, use `Jimp.composite`

[2017-09-04 07:21] kolbma opened #336 "Is the project dead?"
There is no commit since June and there are pull requests which don't get any comments.

[2017-09-04 10:10] yaneony opened #337 "pHash is not real pHash?"
I was trying to check out some articles about pHash, and every time i was trying to get hash value from some image, it was different one from what "real" pHash library generated. Is it possible that this implementation of pHash somehow borked?

I checked pHash of "koala1.jpg" from that article http://cloudinary.com/blog/how_to_automatically_identify_similar_images_using_phash and thats totally dif

[2017-09-04 22:26] jsieler opened #338 "Some images have 0 hash."
Found this issue https://github.com/oliver-moran/jimp/issues/67 which was closed, but...

I still get some images with 0 hash. For example this one.
![908018](https://user-images.githubusercontent.com/12472001/30039407-ac2be5c4-91d0-11e7-8a9c-63bdd67adff6.jpeg)

Getting "1000000000000000000000000000000000000000000000000000000000000000" hash on it.

I was trying to replace pHash.js but without succ

[2017-09-05 03:35] koiszzz opened #339 "Image will auto rotate while write to disk"
code:

`           image.write(newfile)`

while I call this function to rewrite image, some pictures will auto rotate . What should I do to keep the origin orientation of the images. Help , Thanks .

[2017-09-05 07:57] jagaSto opened #340 "Misleading error message on new Jimp(x, y, color)"
I just spent 20 mins debugging a misleading error message when I was trying to create a new image with [this](https://github.com/oliver-moran/jimp#creating-new-images)..

I received the following error message when I was trying to create a new image with `width` and `height` as `Strings` (Thank you `toFixed()`-Method): `cb must be a function`.

A correct and more informative error message (*invali

[2017-09-06 10:07] vominhtam opened #341 "Can use font file oft?"
Hi all,

Now I want to use a new font extension .oft. But when I use function Jimp.loadFont() it displat error.

(node:13472) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: no named row at line 4
(node:13472) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the N

[2017-09-06 20:14] bennyn opened #342 "Error: Unsupported MIME type: image/tiff"
Looks like Jimp doesn't support TIFF images. It throws an error saying: "Unsupported MIME type: image/tiff".

Here is my test file: [sample.zip](https://github.com/oliver-moran/jimp/files/1282538/sample.zip)

[2017-09-06 20:25] TimvdLippe commented on #280
Reverting to 0.2.27 seems to fix this issue. The 0.2.28 release seems to explicitly mention it broke the browser version. Not sure why this was done in a patch version :thinking:

[2017-09-07 20:02] jameswilddev commented on #287
This looks like it's fixed by PR #313.

[2017-09-07 20:21] tmfksoft commented on #287
That's great to see! Hopefully it will get merged soon :P

[2017-09-07 22:07] dannyk08 commented on #148
Seems like after a year there are no plans to return streams instead of buffers?

[2017-09-10 08:30] maqboolkhan commented on #336
I guess not 😄 but Jimp needs contributor see this post of oliver https://github.com/oliver-moran/jimp/issues/219 after that @aurium and @Iwasawafag was actively taking care of this project but as they are also contributors so we seen last activity on Jan 17 so don't if u can help you should take initiative.
Best

[2017-09-10 13:17] extend1994 commented on #253
Hi @oliver-moran I saw there is 0.2.28 tag since four month ago. Was the problem solved? If it was solved, we can add this to CDNJS soon 😄

[2017-09-10 13:36] Ojas-Gulati commented on #336
I agree with @kolbma
Pull requests is a barren wasteland and I would *like* to see the issues to be smaller.

:(

[2017-09-10 13:40] Ojas-Gulati commented on #341
Jimp only supports bitmap fonts with the extension .fnt

/close

[2017-09-10 13:41] Ojas-Gulati commented on #338
What is your code/offending line?

[2017-09-10 16:51] jsieler commented on #338
What do you mean?

[2017-09-12 19:20] chpoulio opened #343 "Error Writing Image to File"
Hello,

I am attempting to use Jimp to perform simple edits to an image and then write that image out to a new file on a file system.  I took the "example1.html" file that comes with the Jimp library and modified it slightly so that it writes to a file.  The code can be found attached.  I think it is able to read the image, but it breaks on the ".write" function stating "Uncaught TypeError: lenna.

[2017-09-14 17:58] super9user opened #344 "Error: There are some read requests waiting on finished stream"
Steps to reproduce:
I am reading a image from a buffer -> cropping it -> getBuffer() on cropped image -> reading image from that buffer (at this point I get this error).

I tried upgrading to `pngjs2` dependency locally, but that doesn't seem to help.

Is there anyway around this?

[2017-09-14 22:02] #344 closed

[2017-09-14 22:02] super9user commented on #344
Too soon to create an issue, a mistake from my side.

[2017-09-14 23:51] Haocen commented on #308
For now, I think fixing the doc and deprecate the async version(by adding a warning whenever called) would be suffice.

[2017-09-15 03:22] schleumer commented on #325
Put this in your webpack.config:

[code]

and use `require('jimp/index')`,

also:
[code]
can be useful too.

[2017-09-15 09:14] schleumer opened #345 "Clone seems to erase the mime type"
When cloning an image, the original mime type is ignored and PNG is assumed, i had a look at the source and mime doesn't seem to be copied to the new instance. My source is simple:

[code]

[2017-09-15 09:18] schleumer commented on #345
There are some implications within this issue: if cloned, a JPEG which was 700kB would be clone as PNG(because lost the mime) with like 4MB.

[2017-09-16 10:42] k1ker commented on #259
Why this code is not working for me? I need to composite 2 imgs, but I don't know how :(

[2017-09-16 15:47] WisdomTheDoctor opened #346 "Error in sepia processing"
There is an error in "sepia" function that makes effect not correct - too bright result.

This is caused by this part of code:

[code]

you see, `green` and `blue` variables rely on new value of `red` instead of an old one (that's intended by color matrix apply alghorithm).

Right code should be something like this:
[code]

And workarond for this bug is:

[code]

[2017-09-17 13:22] me-12 opened #347 "Jimp.read never resolves or rejects"
If you have an image with less than 8 Bytes, Jimp.read will never resolve or reject the promise. Leaving my application stuck.

I would expect Jimp to throw an "Invalid file signature" Error.

[2017-09-18 16:12] alt234 commented on #177
Seeing this issue as well. Any updates per chance?

[2017-09-24 07:26] me-12 commented on #336
I fear you are right. I can't even bring myself to write a pull request since I know, no one is going to review it anyways.

[2017-09-24 14:41] akshayseth commented on #102
Getting the error "marker was not found in the console".Below is my code:
 var request = https.get(url, function(response) {
        response.pipe(file);
        file.on('finish', function() {
          file.close(cb);  // close() is async, call cb after close completes.
        });
          Jimp.read(dest).then(function (lenna) {
            lenna.resize(256, 256)            // resize

[2017-09-25 11:29] akshayseth opened #349 "Invalid file signature in JIMP in nodejs"
I am using JIMP to convert my image to greyscale and to reduce its quality.But for 2% of the cases it is corrupting my image and throwing an error in the console- "Error: Invalid file signature at Parser._parseSignature (C:\Users\Akshay\Desktop\darwin\node_modules\pngjs \lib\parser.js:50:18)" Below if the problematic code:
I am using JIMP to convert my image to greyscale and to reduce its quality.

[2017-09-27 11:21] LukasSaz opened #350 "Image difference BUG"
When using this function: `ar diff = Jimp.diff(image1, image2, threshold)` Setting threshold to 0 sets the actual PixelMatch threshold to 0.1 (fallbacks to default).  However if I set it to 0.01 it behaves as expected and returns normal difference.

[2017-09-28 10:47] majiy commented on #90
As a workaround for the time being, using Bluebird promisify:

[code]

[2017-09-30 13:21] sahil505 opened #351 "Source must be a Jimp image"
I'm trying to use the `image.composite()` function like this -

`Jimp.read("assets/img/image1.jpg").then(function (image) {
    // do stuff with the image
    image.composite("assets/img/image2.png", 20, 20);
	}).catch(function (err) {
	    // handle an exception
	    console.log(err);
	});`

But I get an error saying that source must be a Jimp image.
Can anyone help me with this?

Thanks.

[2017-09-30 14:36] sahil505 commented on #351
Even if I do this -
`Jimp.read("assets/img/image1.jpg").then(function (image) {
var jimpImage = Jimp.read("assets/img/image2.png");
    // do stuff with the image
    image.composite(jimpImage, 20, 20);
	}).catch(function (err) {
	    // handle an exception
	    console.log(err);
	});`

It still shows the same error.
Can anyone help?

[2017-10-03 14:10] jtlapp commented on #219
I'm adding support for GIF animations, but I have to decide whether to extend Jimp or wrap it. I'm worried about putting a lot of effort into a PR, because the PRs are piling up unreviewed.

If I don't hear from a project collaborator, I'll write a separate module that wraps Jimp. (But I'm also worried about creating a dependency on Jimp.)

[2017-10-03 20:55] avmayorov commented on #333
You forgot parameter err in the function
[code]

[2017-10-04 15:27] arronhunt commented on #333
d'oh! Thanks @avmayorov

[2017-10-04 15:27] #333 closed

[2017-10-05 13:28] spsiddarthan commented on #69
@oliver-moran, @haydenbleasel : I was trying to do the exact same thing today. I just wanted to know if I understood the concept of mask correctly.

If I have an image with dimensions x*x and want to create the circular crop for it, I first have to generate the mask image on the fly. Is that correct?

[2017-10-06 03:46] CapnSpellcheck commented on #85
@oliver-moran Is there a way to set this globally on Jimp so that it doesn't need to be fiddled with on each image? I consider it very bad that there's no way to change that default.

[2017-10-06 09:02] nodegin opened #353 "Jimp stucking at a corrupted GIF file"
I found this GIF file will cause Jimp stuck forever (right click to save):

![1](https://user-images.githubusercontent.com/8536244/31270690-f313f558-aab7-11e7-9d3a-7eaeb1cfb307.gif)

Code snippet for reproducing this issue:
[code]

[2017-10-07 10:01] Tiendq commented on #336
So, is there any active fork? where at least others could contribute to fix bugs :)

[2017-10-07 20:00] Ojas-Gulati commented on #336
hmmmm.......
Someone should make that - I'll see if I can put together something

[2017-10-10 14:24] jtlapp commented on #353
Thanks for this. I'm writing a package that adds GIF support to Jimp by wrapping it, will see if I can fix it in my wrapping module.

[2017-10-11 16:38] SevenZark opened #354 "Uncaught ReferenceError: Buffer is not defined"
I am using Meteor with React. I installed Jimp, didn't change any of my code, and just launched the app. I get the error below. The error stack references line 3 of image-upload-input.jsx in my app, which is just this:

The error:

[2017-10-12 04:33] jzzj opened #355 "Buffer support for every image source"
I wonder if it can accept buffer instead of explicit src, and do pipe also?
Much like [sharp](http://sharp.dimens.io/en/stable/api-composite/#overlaywith).
In my case, there are images of type of base64.

[2017-10-12 07:12] jzzj commented on #355
Too soon to create an issue, now I saw this lib does support this feature!
But one thing left is can't deal with composting by stream,  What a pity.

[2017-10-12 07:12] #355 closed

[2017-10-13 06:11] jtlapp commented on #353
omggif.js is hanging. The GIF appears to be ill-formed, but the decoder shouldn't be hanging. I think it's fair to simply reject the image. I'll look into it.

No one is maintaining Jimp any more, but I'll be able to fix it from my GIF wrapper. You don't want to be using Jimp directly for GIFs anyway.

[2017-10-13 11:23] nodegin commented on #353
@jtlapp Nice work for finding out what the problem is.

[2017-10-13 18:24] derekaug commented on #354
Believe this is an issue with the current release of jimp, if you install the the previous version I don't think this will happen.

[2017-10-16 09:35] tamminh commented on #351
Please use nested promise chain!

[2017-10-16 09:42] tamminh commented on #308
You can wrap the current "new Jimp" function with Q.defer() to create a promise!

[2017-10-16 10:02] davidrocket opened #356 "NOT POSSIBLE: Composite, Mask with "smaller" Image having background color different than 0xFFFFFFFF"
Hi Oliver,

I did try different ways to do the composition of an image with a blank-black smaller image being used as a mask. It's not straight away to get this simple task done, as following code:

[code]

NOTICE*: if we change this line to: "new Jimp(widht, height, 0xFFFFFFFF, function...) We will have the result of Lenna top-half filled with white

Any color than 0xFFFFFFFF will not work!

INSE

[2017-10-16 12:10] ashrafmangalore commented on #349
+1

[2017-10-17 07:00] catcher-in-the-try commented on #349
Were you able to find a solution?

[2017-10-18 06:03] ali-abbas-10p opened #357 "PNG quality is effecting"
![firebase_snapshot](https://user-images.githubusercontent.com/27349017/31702892-39086960-b3f3-11e7-95bb-91ec39220dc4.png)
This the original image, after resizing it to 640x410 I am getting below image.
![firebase_snapshot](https://user-images.githubusercontent.com/27349017/31702913-5dd20ec2-b3f3-11e7-9850-c2ed50f32f74.png)

I can see my image getting pixelated.
Can you please help?

Below is the

[2017-10-18 07:13] akshayseth commented on #349
Not till now.

[2017-10-18 11:21] catcher-in-the-try commented on #349
My solution was (shame!!) to add a half-second delay if the first read fails, and retry the read after that delay.

[2017-10-18 13:28] grebett commented on #205
In fact, Bitmap fonts xml have a `kernings` xml tag that seems to be required by Jimp.

I've solved the problem supra adding the following code to the end of your font file:

[code]

[2017-10-18 20:40] Frustrated-Programmer opened #358 "How do i merge images?"
is there a way i can merge images together to create 1 image? i want to create i grid like map for something im doing and everything i've found doesnt help and jimp seems the closest :D please help me

[2017-10-18 20:41] #358 closed

[2017-10-19 20:07] Pragmateek commented on #286
FYI this kind of issue was a no-go, so instead I've used Pica for my use-case.
Vitaly, the project's owner, offers a great support.
So you can try it and see for yourself if it fits your needs.

[2017-10-19 20:16] desvandev commented on #286
Thanks @Pragmateek !

[2017-10-21 10:38] SuperOP535 opened #360 "async but no .then?"
when I .write my image to a file and I try to send it to a channel instantly after that it doesn't work, when I try to .write(etc.).then(etc.) it says image.rotate(...).write(...).then is not a function and when I do setTimeout(etc.,5000) it works but I don't want 5 second delay, I want to send instantly after file is created

[2017-10-21 10:41] SuperOP535 commented on #360
I also tried .write(etc., etc.) but it crashed

[2017-10-21 10:46] SuperOP535 commented on #360
never mind I used function(){ etc. } and it worked.. BTW, any variables in the function? like image name etc.

[2017-10-23 05:24] iamjoyce commented on #316
Hi @Ojas-Gulati , That doesn't work.

`Jimp.read(inputBuffer, function (err, image) {
`                    if (err) throw err;
`                    image
`                        .background(0xFFFFFFFF)
`                        .getBuffer(Jimp.MIME_PNG, function (err, outputBuffer) {
`                                // image here
`                        });
`                });

[2017-10-23 12:05] nickgrealy commented on #316
Closing issue, thanks all.

[2017-10-23 12:05] #316 closed

[2017-10-23 23:47] k1ker commented on #349
@catcher-in-the-try can you tell me, how to do it?

[2017-10-24 02:29] catcher-in-the-try commented on #349
@k1ker I added the code on StackOverflow: https://stackoverflow.com/questions/46404120/invalid-file-signature-in-jimp-in-nodejs

Copied here:

[code]

The key part is the delay:

[code]

[2017-10-26 09:45] coyotte508 commented on #219
@oliver-moran I'd like to help maintain this project. I see there are a lot of issues that are not really issues and need to be closed, so I'd like to clean those up. The only issues being closed at the moment are those closed by their author. Maybe also point out obvious problems with pull requests. In short, clean up the issues/pull requests and make the pull requests easier to review.

That wou

[2017-10-26 12:59] jtlapp commented on #219
@coyotte508 I think the first step would be to figure out if we need to back out the current code base to the most recent release (see e.g. #274). Much has been rewritten since the May release. I suspect the fact that someone rewrote it may have something to do with Jimp going dormant. Someone took a huge risk apparently (?) without first discussing it with other collaborators.

[2017-10-26 13:14] coyotte508 commented on #219
@jtlapp I definitely agree good communication is needed between the collaborators. I would need to check in with all of them, and need to know @oliver-moran 's philosophy regarding the required node version server-side. I would also update the readme / docs with the appropriate build instructions / requirements.

There's still a lot that can be done without touching the code itself (cleaning up th

[2017-10-28 07:48] akshayseth commented on #349
Patch not a solution.This brings to the area which is not yet explored.Will start developing a new library to replace JIMP.

[2017-10-28 11:23] Battal51280TR opened #362 "webp support?"

[2017-10-29 09:01] clusteratlas commented on #360
.write(etc., function(){
console.log(arguments)
 })

cheers

[2017-10-31 01:50] y-ich opened #363 "[Quick question] Why is index.js different between github and NPM repository?"
Hi.

I want to request a simple new feature for Jimp.
And I found that index.js on github and the one on NPM repository are very different even if their versions are same.

What happens?

[2017-11-02 12:25] ElijahZAwesome opened #364 "JPEG Quality doesn't work"
When I try to edit the JPEG quality it doesnt do anything, no matter if the input is a jpeg or png. It outputs fine but the quality is the same

[2017-11-03 01:08] ElijahZAwesome commented on #330
I know this is an old post but I’ll just note some things:

1: I had a hard time using buffers, I would just write to a file and once the image is sent you use fs.unlink(‘file.png’) to delete it.
2: what exactly are you trying to do? Are you trying to convert the Wikipedia image to a buffer? If so your doing it wrong. You should just do Jimp.read(url, function(err, image1) {
image1.resize(256, 256

[2017-11-04 00:27] tobyfee commented on #364
Hi @ElijahZAwesome this appears to be working for me, when calling `image.quality(100, function(image){write})` I get very different results when using a quaility of 5, 50, or 100.

![radicalgardener1471805970](https://user-images.githubusercontent.com/585019/32400335-0d33e7d0-c0bc-11e7-8995-7907a5d17a64.jpg)
![radicalgardener1419017808](https://user-images.githubusercontent.com/585019/32400336-0d

[2017-11-04 13:14] ElijahZAwesome commented on #364
Yeah, im sorry about that lol, turns out you have to export as JP_E_G and not JPG, I didn't realize that... sorry lol

[2017-11-04 13:14] #364 closed

[2017-11-04 18:29] vincaslt commented on #86
This problem is relevant when you have a buffer that you want to save, and you know mimetype, but don't have the file name. For example when you receive form data in a http endpoint. I used multer for that, and it provides me with buffer and mimetype, so I could set it manually, but there is no config or method for that.

[2017-11-07 16:12] callmekatootie commented on #344
@super9user What was the mistake?

[2017-11-08 15:08] dvv commented on #177
It's jpeg-js related -- https://github.com/eugeneware/jpeg-js/pull/32
May be to update the dep?

[2017-11-11 10:34] linjunshi commented on #277
Hi,

When I try to use it in my react-native app it throws an error "Node's Buffer() not available", anyone know how to resolve this?

Thanks a lot

[2017-11-11 16:50] Durss commented on #349
Did you try with "close" instead of "finish" ?
`file.on('close' function() {
   Jimp.read(dest) [...]
})`

Works for me.

[2017-11-12 02:46] fxfactorial commented on #277
The error is clear, you can’t use this package in a non node environment

Sent from my iPhone

[2017-11-13 09:45] khyokhyo opened #365 "Image quality degrades after compositing"
The original image is -
![main_512x512](https://user-images.githubusercontent.com/19402631/32719007-18cc5abc-c889-11e7-8fbc-b1771525b144.jpg)

After compositing it looks like -
![new](https://user-images.githubusercontent.com/19402631/32719368-535c6d4c-c88a-11e7-9dcc-9509333e05b6.jpg)

My code is :

[code]
Why is this happening? Can you help?

TIA

[2017-11-14 11:07] perumalprabhup commented on #114
how to get the output var name from Jimp
Jimp.read(array).then(function (lenna) {
			lenna.resize(256, 256)            // resize
         .quality(60)                 // set JPEG quality
         .greyscale()                 // set greyscale
         .write("lenna-small"); // save

})

[2017-11-14 20:33] bufface commented on #280
I'm still having the same issue, but a coworker found a solution just importing `jimp/browser` instead of `jimp`

[2017-11-15 15:29] BoussonNicolas commented on #339
I have the same weird problem

[2017-11-16 11:11] BoussonNicolas commented on #339
I found a solution which is to make a exifRotate before the write:
image.exifRotate(function(err, image){
    image.write(dirname, function(err){

[2017-11-22 16:28] edi9999 opened #366 "Support for EMF format ?"
Would it be possible to add support for the [EMF format](https://en.wikipedia.org/wiki/Windows_Metafile) ?

[2017-11-23 16:35] patheticcockroach commented on #255
I too would need this (well, PPI as per the second comment). Apparently this would just need some pHYs chunks manipulation https://superuser.com/questions/646896/how-to-change-dpi-of-a-png-file-in-command-line-without-imagemagick#comment833528_647003 / http://www.libpng.org/pub/png/spec/1.2/PNG-Chunks.html#C.pHYs

But from what I understood reading the code, it seems that Jimp depends on its depen

[2017-11-23 17:49] k1ker commented on #349
Can you anwer, how after

I can use *function (err, lenna)*? Now, it's like: *Jimp.read(template,
function (err, lenna) {*

2017-10-24 5:29 GMT+03:00 Anton Ivanov <notifications@github.com>:

[2017-11-25 04:06] niftylettuce commented on #118
Would love to have SVG support

[2017-11-28 07:30] kakaying opened #367 "phash, resizer, resizer2 - dependency modules"
Hi,

Seems like that phash, resizer, resizer2 included directly in this package instead of mark them as dependencies. Could you let me know modules' name or github links for those 3 modules? I tried to find them in github, but not sure which one was used.

Thank you very much!

[2017-11-29 11:17] operationexodus opened #368 "Reproduce Gimp Convolution in jimp (Convolution matrix)"
I can not reproduce the same result I have on Gimp. What I do wrong?

Original Image:
![photo_2017-11-28_12-46-00](https://user-images.githubusercontent.com/11057215/33370652-810efec4-d4f8-11e7-8037-7c789b0c3134.jpg)

With gimp I use this procedure: Filter-> Generic-> Convolution Matrix.
Settings:
![cattura](https://user-images.githubusercontent.com/11057215/33370887-382ca138-d4f9-11e7-9036-ee1ce0

[2017-11-29 15:08] aadunn commented on #357
Have you tried resizing with a different resizing algorithm? The following are supported:
[code]

[2017-11-29 18:18] sol0matrix opened #369 "how to create rounded images"
Excellent module currently i am unable to figure out how to create rounded images using this however
 with sharp overlayWith method i can create rounder corners with the code snippet from sharp Example below.

`const roundedCorners = new Buffer(
  '<svg><rect x="0" y="0" width="200" height="200" rx="50" ry="50"/></svg>'
);

const roundedCornerResizer =
  sharp()
    .resize(200, 200)
    .overlayW

[2017-11-30 05:54] FireController1847 opened #370 "Multiple Line Breaks & Detecting Rollover"
When creating a Jimp and adding text, I want to add multiple lines like so:
[code]
The issue is, when text 1 wraps, it overlaps with text 2. Is it possible to detect this at all? I've tried inserting line-breaks into the first text but that doesn't seem to work.

Here's an example:
[code]
In the example above, the "ABCDEFGHIJKLMNOP" overlaps the text 2 as seen in the result:
![](https://cdn.discor

[2017-11-30 08:15] Enitoni commented on #148
+1

[2017-11-30 15:54] jtlapp commented on #219
It appears that [0.2.27 was the last version that functioned in a browser](https://github.com/oliver-moran/jimp/issues/280) without having to introduce workarounds.

I've written an extensive tool for developing GIFs based on Jimp. I'm now in the process of replacing the Jimp dependencies. Even were Jimp backed out to the last stable build, I wouldn't want to use it. It's not written with efficien

[2017-12-01 10:47] pujaraniki opened #371 "Change brightness using svg/base64 (JIMP.js)"
Could anyone please help me to change brightness of svg image or using base64 string

Thanks

[2017-12-01 18:24] sol0matrix commented on #347
Doging a simple fileSize check before htting Jimp code block would be a nice workaround.

[2017-12-03 22:45] sylvery commented on #343
Hi @chpoulio try this:
`        	Jimp.read("lenna.png").then(function (err, lenna) {
    			if (err) throw err;
    			lenna.write("lena-small-bw.jpg"); // save
			});
`

[2017-12-03 22:54] sylvery commented on #351
@sahil505 I ran into the same problem a few months back and I managed to solve it by simply declaring my composite file as a variable within app.js. So in my app.js file for example, I have this:
`
...
var logo = new jimp('public/tmp/my_watermark.png', function (err, img) {
	err ? console.log('logo err' + err) : console.log('logo created and ready for use');
	return img.opacity(0.3);
});
...
`
And

[2017-12-04 11:46] chpoulio commented on #343
Thanks for the response.  I ended up going a different direction though.

[2017-12-04 11:46] #343 closed

[2017-12-05 01:47] turshija opened #372 "GIF not working ?"
Hello,
I'm trying this library with GIF images, but I'm receiving this error:
`Unsupported MIME type: image/gif`

From readme I don't see anything related to GIFs, but after inspecting code and this PR - https://github.com/oliver-moran/jimp/pull/247
I see that library should have basic support for gifs.

Am I doing something wrong ?
Thanks

[2017-12-07 20:13] TheJimFactor opened #373 "Documentation Typo"
A PNG, JPEG or BMP binary Buffer of an image (e.g. for storage in a database) can to got using:

should probably be:

A PNG, JPEG or BMP binary Buffer of an image (e.g. for storage in a database) can **be** got using:

[2017-12-10 03:34] futurist opened #374 "write, getBuffer, getBase64 can be Promised"
When using `async/await`, it's good way to have `write, getBuffer, getBase64` to return a Promise in addition to callback.

Now I work around this:

[code]

[2017-12-13 06:25] fatihturgut opened #375 "Load Custom Font Error"
Hi Everyone!

When i try to load custom font (font.fnt), it gives me an error like "no such file or directory, ... font.png". Even if it is not a .png file, error says it is an .png file.

Could anyone help me to overcome this problem please?

**CODE**
[code]

**ERROR**
(node:6476) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: ENOENT: no such file or direc

[2017-12-13 07:55] huytran0605 opened #376 "Use Jimp in Browser with webpack build"
I'm facing a lot of issues when trying to use Jimp on browser with webpack build.
I tried to used browser version by `import Jimp from 'jimp/browser/lib/jimp';`
But it didn't work and i got error ` _jimp2.default.read is not a function`
Could you please help me to solve that? Because i used Jimp on node server and it worked perfectly. So I really want to use Jimp in Browser.

[2017-12-14 09:51] 2pay opened #377 "quality of image bad when resize"
I have code for resize with multer upload:

     productThumb(files) {
        let promises = [];
        let thumbs = [];
        _.forEach(files, (file) => {
            let promise = new Promise((resolve, reject) => {
                var jimpThumb = pathUpload + file.filename;

                new Jimp(jimpThumb, (err, jimpImage) => {
                    if (err) {
                        rejec

[2017-12-14 10:20] NeXTs commented on #231
Why don't add this small snippet to lib?

something like
[code]

[2017-12-15 04:14] CapnSpellcheck commented on #61
Does it read the Exif data in the input by default? I discovered a problem where I'm uploading jpeg, but after processing in jimp, the output does not appear correct. Input jpeg has Exif orientation tag ≠ 1.

[2017-12-15 04:42] CapnSpellcheck commented on #61
@oliver-moran Looking at this commit https://github.com/oliver-moran/jimp/commit/8bfdc9f6eebc01bfd9e500288f0991a44118e43b for the Exif orientation, the line index.js calling `exifRotate` I do not see in my installed version in node_modules. Instead I see this:
`                try { this._exif = EXIFParser.create(data).parse(); }
`

[2017-12-16 16:57] edi9999 commented on #342
Any updates on this ?

I would also like to have TIFF support. Would you be interested in that ?

If yes, can you help as to where to start to do that in a PR ?

[2017-12-16 17:03] edi9999 commented on #342
It seems that you use external libraries to do the parsing for you, so I will try to do the same for TIFF with :  https://github.com/seikichi/tiff.js

[2017-12-16 18:01] edi9999 commented on #342
Ok, it was easy enough for me to do it in less than hour, could you merge it please ?

[2017-12-18 09:30] Pistou2 commented on #375
+1, I have the exact same problem

[2017-12-19 12:49] srameshr commented on #219
@jtlapp Even I have a dire need to edit gif images.

[2017-12-19 14:57] jtlapp commented on #219
At present it only works in node.js, but I'll add JSdocs so I can get it up. Rushing to it now...

[2017-12-19 15:00] srameshr commented on #219
I need it just to run it on nodejs

[2017-12-20 01:40] jtlapp commented on #219
Okay, getting this all documented was today's project. Let me know if you run into any trouble. Thanks for pinging me to get this out. Package [`gifwrap`](https://github.com/jtlapp/gifwrap), for working with GIFs in Node.js.

[2017-12-20 06:52] srameshr commented on #219
@jtlapp Thank you and god bless you.

[2017-12-20 18:43] jtlapp commented on #372
Jimp doesn't support GIFs, but [`gifwrap`](https://github.com/jtlapp/gifwrap) does and allows you to leverage Jimp for image manipulation.

[2017-12-20 18:45] jtlapp commented on #353
I've provided GIF support and a working decoder in [`gifwrap`](https://github.com/jtlapp/gifwrap). Thanks for finding the bug and providing a test case.

[2017-12-20 18:48] jtlapp commented on #166
I've created a library called [`gifwrap`](https://github.com/jtlapp/gifwrap) for working with single- and multi-frame GIFs and still allowing you to leverage Jimp for image manipulation.

[2017-12-20 19:00] jtlapp commented on #290
I've created a library ([`gifwrap`](https://github.com/jtlapp/gifwrap)) for working with GIFs that allows you to manipulate the images with Jimp. When I load your GIF into that library and write it out as a new GIF, I see no such artifacts.

You might try loading the image with `gifwrap` and saving it with Jimp to see if you still have the problem.

[2017-12-20 19:02] jtlapp commented on #230
Check out the [`gifwrap`](https://github.com/jtlapp/gifwrap) library for working with GIFs. It uses an image format that is compatible with Jimp so you can easily combine it with Jimp for image manipulation.

[2017-12-20 19:04] jtlapp commented on #20
You can now do this using the [`gifwrap`](https://github.com/jtlapp/gifwrap) library. It uses the same internal image format as Jimp, so you can easily leverage Jimp for manipulating GIF image frames.

[2017-12-22 19:01] jtlapp commented on #219
Heads up new `gifwrap` users: I'm finding myself needing more colors than the 256 per-frame limit that GIF imposes, so I'm planning to abstract `gifwrap` to support APNG (animated PNG) as well. `gifwrap` is only at v.0.6 right now. I could be making some changes that might break compatibility with the existing API. I'll try to keep those changes to a minimum though, as I myself have a ton of code

[2017-12-23 19:23] Manu-shukla commented on #180
I am getting the same problem, but with different mean. I can't display image, it is just showing the buffered code and no image. I am basically doing it in node. So, any help?
Please.

[2017-12-24 03:08] davidvuong opened #380 "image.clone causes .exifRotate to function incorrectly"
Here's example code to reproduce:

[code]

The image is correctly rotated if you swap the `.clone` and `.exifRotate` calls because `_exif` is still present before the clone. When you inspect the image:

[code]

So, the problem is not everything is cloned when you invoke `.clone`. A temporary solution is deep clone e.g. via lodash:

[code]

Although it would be better if this was fixed inside Jimp.

[2017-12-28 14:19] easikoglu opened #381 "Is it possible to make collage ?"
What I want to do is creating a collage image from 72 different images. Is it possible and what about the memory usage?

[2018-01-05 19:44] sullivanpt commented on #183
@houd1ni curious how this is coming along?  maybe we can collaborate and motivate each other.  I've taken your concept and pulled it out of the jimp repo, I'm not sure there's an advantage to a direct integration verses using jimp as a dependency. My biggest confusion comes from how best to handle the async jimp calls that are synchronous/blocking in canvas.

See [jimp-canvas](https://www.npmjs.co

[2018-01-05 22:13] oliver-moran commented on #219
Hey, folks, it's been a year since I opened this thread. I haven't been following it but I see there has been a lot of positive discussion on the issues threads, but no commits in six months, and no merge requests pulled. That indicates to me that there's potential for a very healthy community here but something is missing.

What do we need to do?

[2018-01-05 22:27] jtlapp commented on #219
Great to hear from you @oliver-moran! Numerous issues were introduced with the most recently published release, and more issues introduced into the current master, which is not yet published.

I think the best thing to do is to revert back to 0.2.27, which is the last version to work in a browser (not requiring node.js). Then work forward from there.

The current code base is messy and does weird

[2018-01-05 22:30] coyotte508 commented on #219
I'd say let more people manage issues, so they can clean them up and do a triage of PRs. Set clear guidelines on what you want for compatibility (node version etc.).

I'm not that available anymore but I'd still be happy doing a little cleaning / management (i.e. close resolved issues, adding tags to PR etc). Let others focus on the code, @jtlapp seems to be a lot more familiar with the internals

[2018-01-05 22:55] jtlapp commented on #219
Or perhaps just get 0.2.28 working with browsers. [Here are the commits](https://github.com/oliver-moran/jimp/compare/v0.2.27...oliver-moran:0.2.28) from v0.2.27 to 0.2.28. (It was a bit confusing to pull up this delta because the 0.2.28 tag is missing the preceding 'v'.)

[2018-01-05 23:09] oliver-moran commented on #219
The browser issue in 0.2.28 is a recurring nasty. It appears to break for me with each build without any change.

It fixed if we moved to ES6 IIRC but I was reluctant to do so for compatibility reasons. With support for Node.js 4 ending in April that's probably not a concern anymore.

[2018-01-05 23:15] jtlapp commented on #219
Also, I think the best way to have jimp working at maximal performance in both node and the client is to delegate buffer management to a plugin (e.g. callbacks), rather than to slow the client down by having webpack emulate node's `Buffer`. That way the plugin can use `Buffer`, `Uint8Array`, `Buffer` emulation, or whatever, as desired.

A maximally sophisticated solution would hide buffer manageme

[2018-01-06 02:01] jchayan opened #384 "Jimp: Browser: Buffer Error"
![screen shot 2018-01-05 at 8 00 31 pm](https://user-images.githubusercontent.com/8838243/34635294-26b7611e-f253-11e7-978c-d8c5b82e4994.png)

Trying to test Jimp on the browser using the minified version (from https://github.com/oliver-moran/jimp/tree/master/browser) but fails with that error.

Anyone has a clue?

[2018-01-06 15:07] jtlapp commented on #219
I'll work on a solution for gifwrap and report back. `Buffer`'s `copy()` method is easy to emulate in the client without performance loss, but `buffer.readUInt32BE()` and `buffer.writeUInt32BE()` are not. These latter methods should be abstracted into some sort of generic color-copy API, at least if it's important that Jimp run at maximum possible performance on each platform.

[2018-01-07 16:07] tim-king commented on #177
This is now fixed in jpeg-js 0.3.3 so update your dependency

[2018-01-07 19:01] houd1ni commented on #183
@sullivanpt  Thank you very much for this support! I've been centered on own projects too much and appreciate any development of non-finished but helpful ideas.
I'm a huge fan of different kinds of modularity, so I would like to add some kind of plugin system to JIMP.
It seems to be a very little change to support something like this (very rough):
[code]
Also, it will be ok to move the lib to more

[2018-01-08 17:55] jchayan commented on #384
Nevermind, It was conflicting in my app with another version of Zlib

[2018-01-08 17:55] #384 closed

[2018-01-09 00:19] oliver-moran commented on #219
FYI I've granted collaborator access to @edi9999 after a request on Twitter.

[2018-01-09 18:21] #342 closed

[2018-01-11 11:34] coyotte508 commented on #377
Because you don't resize a copy, you resize the image itself.

If you resize it to a small size, save it, and then resize it to a bigger size, it won't be the original image you resized but the smaller one (containing a lot less data). So the blur is normal.

[2018-01-11 11:39] coyotte508 commented on #381
It's possible. Create an image the size you want:

[code]

Then use `.blit` or `.composite` to paste other images. You can limit memory usage by pasting images one at a time and deleting the references to them after pasting.

[2018-01-11 13:15] #373 closed

[2018-01-11 13:15] edi9999 commented on #381
Thanks for the contribution @coyotte508 !

[2018-01-11 13:15] #381 closed

[2018-01-11 13:16] #377 closed

[2018-01-11 13:20] easikoglu commented on #381
actually my question is lack of some information, sorry about that, what exactly i want to do is read images from http ( aws s3)  then paste them to one big background image according to their orders.

Thank you for your support i will try to paste one by one.

[2018-01-11 13:21] edi9999 commented on #381
Please open another issue for this question, one issue per topic makes it easier for other users to search for things !

[2018-01-14 10:50] kadiks commented on #375
It's coming from your .fnt generator, not the library.

Where did you generate your .fnt?
You should have received a .png with it.

If you open your .fnt file with your text editor, you'll notice there is a reference to the `font.png` file that contains all the glyphs.

[2018-01-16 01:14] AlexTolmachev opened #388 "Rotation is weird"
Here's my code:
[code]
And this is the result:
![photo0](https://user-images.githubusercontent.com/33148533/34967345-9e4ba702-fa6a-11e7-98a7-dd56e6abbe5b.jpg)

I've tried different fonts, tried another rotation mode and it didn't help.

I had to add a hotfix to at least somehow minimize the ugliness of these edges:
[code]
But this is not an option, you have to understand.

So, what should I do to

[2018-01-17 14:25] edi9999 commented on #388
Indeeed, I agree with this, i think it is due to the fact that no interpolation is done when doing rotation, which causes the image to always "keep" the same pixels, which makes the image look pixelized

[2018-01-18 15:58] 0xff00ff commented on #148
+1

[2018-01-21 11:00] denghauser opened #389 "Could not find MIME for Buffer <....> (HTTP: 403) in Jimp.read"
Hi All,

I just found an issue where the read command tells the MIMI type can't be read.
The link where this happens is the following
https://www.grillsportverein.de/forum/attachments/dscf3928-jpg.519985/

What could this be? The trailing / or ...

Thanks

[2018-01-21 16:19] edi9999 commented on #389
Did you pass the URL as the data ?

Jimp won't read the URLs for you, you have to pass it a Buffer (already loaded data)

[2018-01-22 04:58] smalls89 opened #390 "Listed font conversion util is junk (alternative)"
The listed font conversion utility Littera is junk, I couldn't get any of the outputted fonts to load.

I do, however have an alternative that is far easier to use and seems to work ever time, https://github.com/libgdx/libgdx/wiki/Hiero

[2018-01-22 10:33] #389 closed

[2018-01-24 14:57] nosteine opened #392 "RangeError: out of range error on 'blur' of a large image"
Hi

In my code, I am scaling up an image times 4 and then blurring by a factor of 10:
[code]
This usually works just fine. However, when the image is a big one (e.g. over 600kb and 2881/1200 dimensions), then we get a range error:
**RangeError: Array buffer allocation failed**

You can download this image from the below link and see for yourself:
![https://i0.wp.com/media2.slashfilm.com/slashfilm/

[2018-01-25 11:01] edi9999 commented on #392
is the resize the issue or the blur ? Eg what happens if you comment the blur ? Does it still  fail ?

[2018-01-25 11:03] nosteine commented on #392
Definately an issue of the blur.
Commenting it out solves the issue

[2018-01-25 17:12] syzer commented on #390
@smalls89 I also had to use Hiero... It's awesome tool.

[2018-01-25 17:12] syzer commented on #267
👍

[2018-01-25 17:53] syzer commented on #267
you can workaround by
send plain request with headers
get the buffer and mime type
and then jimp.read(buffer, mimetype)

[2018-01-25 20:02] dtrofimov opened #393 "Creating an image compiles with an error in TypeScript"
I'm trying to use Jimp with TypeScript in a following manner:

[code]

It produces the following errors:

[code]

However, when I ignore the TypeScript compile-time errors and debug the result, it works just as expected, i.e. the image is created successfully. So it looks like we have a problem with jimp.d.ts. In fact, it describes the corresponding constructor not as a constructor, but as a regul

[2018-01-28 01:25] brendtumi commented on #393
Don't use "new", use as described.

[code]
or you can use with await/async
[code]

[2018-01-28 07:26] nosteine commented on #392
@oliver-moran ? any ideas ?

[2018-01-29 08:44] dtrofimov commented on #393
@brendtumi, you've just shown how to use static methods (`Jimp.read(buffer)`) to read an existing image.

But I need to create an image from scratch, and there are [several overloaded constructors for that](https://github.com/oliver-moran/jimp/blob/35ae907f223e9271daa7b1b865170b5ce528e631/jimp.d.ts#L136-L140) in `jimp.d.ts` (which are not actually constructors, as they don't compile with `new`), a

[2018-01-29 09:24] aartiHarshe opened #394 "How can i reduce weight of the image?"
I have a bigger size image which takes long time to load. i want to reduce the weight of that image without reducing quality or width and height of the image.

[2018-01-29 10:05] yhc-yhc opened #395 "how can i remove a color use jimp"
I want remove blue color in a image, can jimp do this ?

[2018-01-30 23:15] dkimot opened #397 "Custom font imports are broken"
I am unable to load any font except for the Jimp.FONT_NAME constants.

Whenever I try to import a font, after fixing any errors with the .fnt file, such as no kernings, I get the error:
`UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Invalid file signature`

I wanted to figure out if my fonts were the root of the problem so I copied the Jimp default fonts o

[2018-01-31 23:31] itslenny commented on #326
I noticed the same thing. There is no text alignment in the NPM version despite having the same version.

[2018-02-01 20:18] 0xff00ff commented on #148
This most usefull way that i found to work with streams:
[code]

This part converts buffer to stream:

[code]

[2018-02-03 00:36] Viral-Inc commented on #397
+1, or I just don't understand .fnt

[2018-02-03 00:37] dkimot commented on #397
And they work again. I honestly don't know what happened. I do have to constantly add a kernings key to the .fnt file, but only on some fonts.

[2018-02-04 10:00] nosteine commented on #392
nothing ?

[2018-02-05 07:59] andq-ibl commented on #368
The problem is that the convolution function in Jimp does not handle the case that new pixel value is greater than 255

[2018-02-06 17:57] tutyamxx opened #398 "How do I center the text applied to an image?"
I have tried this var

` GetXCoord = image.bitmap.width;`

`image.print(font, Math.floor(GetXCoord / 2)`

Indeed it does print on the middle of the image, but I want to format the text to be something like this.

[---------------TEXT HERE---------------]

but currently outputs

[-------------------TEXT HERE-----------]

which literally is annoying.

[2018-02-06 20:19] bruno-serfe commented on #357
Same issue here, after resize my jpg image is blurred and pixelated with some other options... What's the issue?

[2018-02-07 01:27] SomeNerdNamedSteve opened #400 "Jimp callback doesn't finish in AWS lambda"
I have been trying to get Jimp to run in a lambda function.  When I try to push it to a lambda function, I don't get the Jimp image.  I get `<Jimp pending... >`.  My guess is the callback never finished.  Why does a callback finish im a local machine for this library and not AWS lambda?

[2018-02-07 06:53] ali-abbas-10p commented on #357
Actually, it was not the issue with the library. I was stretching image larger than its resolutions in the preview of that image.
I replaced <img style="width=100%/> with <img style="width=auto/>.
It solved my issue.

[2018-02-07 07:50] liupishui opened #401 "How to add a watermark?"
How to add a watermark?

[2018-02-07 08:03] GeorgeAnagnostopoulos commented on #401
你有尝试复合？

[2018-02-07 13:27] bruno-serfe commented on #357
@ali-abbas-10p The generated image from a good quality image is blurred and pixelated doesn't matter the option I use, always is generated in that way.. In my case I'm just opening the generated image with a viewer not html yet.

[2018-02-08 04:06] TylerBeutel commented on #398
Can you find the width of the font? If so, you could subtracting it from what you've found to offset it and center it properly:
`x position = floor ( (half the image width) - (half the font width) )`

[2018-02-08 14:58] edi9999 commented on #400
How long do you let your lambda functions run ? Lambda functions are usually limited to 500ms, and Jimp might take longer than that.

[2018-02-12 03:55] huytran0605 opened #402 "IE 11 raising error"
We have error in IE 11, please help use to fix,
`TypeError: Cannot read property 'split' of undefined` :(

[2018-02-13 17:49] asweers opened #404 "jimp.read() hangs on await/async"
The following code block appears to hang for me.
[code]

[2018-02-14 11:09] marinoaldi opened #405 "How to make auto-adjustments (brightness and contrast) for image"
I would like to know, how to make image correction (auto adjustments of brightness / contrast) for image.
I don't know if the library  have any feature similar to OpenCV see example: http://answers.opencv.org/question/75510/how-to-make-auto-adjustmentsbrightness-and-contrast-for-image-android-opencv-image-correction/

Brightness and contrast is linear operator with parameter alpha and beta. The qu

[2018-02-14 19:44] steffkelsey commented on #405
If you use the `normalize()` command, it will get you most of the way there. It is a basic contrast-stretch. You might not need to get heavy like those openCV commands.

[2018-02-14 19:46] steffkelsey commented on #400
Why use this in AWS Lambda? Would be easier to either use ImageMagick or OpenCV, depending on what image processing you need to do. There's quite a bit more support for those libs and they are much much more mature.

[2018-02-14 19:47] westlakem commented on #280
@bufface Can you specify?  when I switch to `require('jimp/browser')` or your listed `require('jimp/browser/lib/jimp');` I get a `Module not found: Error: Can't resolve 'jimp/browser'` error

[2018-02-14 20:07] steffkelsey commented on #395
"Remove blue color from an image" can mean a couple of things. But you can do color manipulations per channel. The example below would mess with just the blue channel.

[code]
Where `<amount>` is a value between 0 and 255.

I am not sure if you will get the desired effect from that. But, you have other actions to mess with using the same `image.color` call. eg: `hue` or `spin`, `tint`, `mix`, `xor

[2018-02-14 20:10] steffkelsey commented on #376
If you're pulling from npm, the 0.2.28 version is completely broken for browser. I ended up grabbing version 0.2.27 and then my import statement looked like this:
`import 'jimp/browser/lib/jimp';` and everything worked fine from there (can just call `Jimp.read(...)`)

[2018-02-14 20:12] bufface commented on #280
@westlakem here is my code (It's exactly how you're using it):
[code]
Btw: this is the version that we are using:
`"jimp": "0.2.27"`

[2018-02-14 20:27] steffkelsey commented on #368
You can try monkey-patching the convolute function to this:
[code]

[2018-02-16 03:25] NijiharaTsubasa opened #406 "composite outputs weird pixels to the bottom of the image"
Bug reproduces on Node.js starting at 4.x up to 9.x on both Windows and CentOS.

Here's the source image I'm using:

(NOTE the image is NSFW, sorry I just can't find another image that reproduces this)

https://card.llsif.moe/asset/assets/image/units/u_normal_navi_22109003.png?gettexb

Here's the code:

[code]

And the output...

https://user-images.githubusercontent.com/7794838/36292189-b3cf49ea-

[2018-02-16 20:09] westlakem commented on #280
@bufface Yea, 0.2.28 broke it... it works with 0.2.27

[2018-02-16 20:13] bufface commented on #280
@leonardo-sj I think you can close this issue.

[2018-02-18 22:14] mbwhite commented on #219
Just come across Jimp and I think it would work well for a personal project; however the browser issues documented above are blockers. Specifically I want to be able to create Jump instance based on already loaded base64 string from an image. (that I've not got to work yet btw). Still investigating though.

[2018-02-19 13:56] gabor commented on #280
@bufface i don't think the issue has been fixed yet. the current version of the software has this bug.

[2018-02-19 14:09] westlakem commented on #280
@bufface @gabor @leonardo-sj  I agree, the issue should not be closed as this breaks the ability to upgrade.  Issues should be made for the most current version of the tool, and left open until the most recent version of the tool doesn't have the issue anymore.

[2018-02-20 11:06] GhosalkarPratik opened #407 "marker was not found"

[2018-02-21 12:05] GhosalkarPratik commented on #407
Sorry. My bad the input base64 was incomplete. Closing the issue. Apologies.

[2018-02-21 12:05] #407 closed

[2018-02-22 04:01] tiokadams20 commented on #280
+1

[2018-02-22 16:29] ilyaLibin commented on #90
Node 8, has built in `promisify` method

const bluebird = require('util');
const jimp = require('jimp');
jimp.prototype.getBufferAsync = util.promisify( jimp.prototype.getBuffer );

[2018-02-23 01:24] CapnSpellcheck commented on #362
Duplicate of #144
Believe me, I want it too

[2018-02-23 03:44] CapnSpellcheck commented on #144
https://github.com/lovell/sharp uses `libvips`.

[2018-02-23 11:59] raine opened #408 "Reading a non-image buffer prints weird error into console but returns a resolved promise"
[code]

It should not print anything as a side effect. Instead the error should contained in the promise.

[2018-02-23 19:33] riatzukiza commented on #144
Wouldn't adding those native addons as dependencies break browser support? Jimp couldn't use those as dependencies and still claim its self as "An image processing library written entirely in JavaScript for Node, with zero external or native dependencies."

[2018-02-23 20:39] CapnSpellcheck commented on #144
If you are using Jimp in the frontend, then you're right. I don't know if the author of Jimp intends for it to be supported by browsers -- "for Node" to me means to be run on the server. Regardless, I'm doing an experimental migration to Sharp, since I don't have a concern of browsers.

[2018-02-23 22:04] czycha commented on #404
Jimp in its current, published state has a weird mixture of Promises and callbacks. In your example, you are using both. `await` is to be used with Promises, but you also use the callback capability for the function. Specifically, your callback is a no-op which doesn't `resolve` or `reject` so when paired with `await`, it never finishes.

The easiest fix is to remove the callback like this:

[code

[2018-02-23 23:18] czycha commented on #406
I couldn't quite figure out what I was seeing with the image you gave so I experimented with something else.

## Test environment

[code]

**kat.png:**
![kat](https://user-images.githubusercontent.com/4816472/36620486-e7052132-18b8-11e8-8856-9cae070e4308.png)

## Running with Jimp 0.2.28

**card.png:**
![card](https://user-images.githubusercontent.com/4816472/36620508-02607a80-18b9-11e8-90dd-3fc39

[2018-02-25 18:04] tutyamxx opened #409 "ENOENT error"
I don't know where exactly I need to post this issue I am having but someone please help me i am losing my mind here.

So I have a small bot for discord, and I am using JIMP for image manipulation. I want to create an image, add things to it, send it to discord channel then delete it. So my code works fine, but sometimes it gives me this error

my/pic/dir is my linux full path to image directory

[2018-02-25 18:34] czycha commented on #409
Without knowing where exactly the error occurs in this execution, my guess is that either the writing is happening to later or the deleting is happening too soon for the `message.channel.send` method.

I suggest removing the need for a temporary file altogether and using buffers to pass to Discord. You may also want to check into seeing if the two source images can be retrieved via buffer.

Writin

[2018-02-25 19:54] tutyamxx commented on #409
You sir, ARE MY SAVIOUR. I'm literally shaking of happiness. holy fuck. This is exactly what I wanted: no image save, direct edit and send thorough discord. Thanks from all my heart sir! FUCK YES AFTER 5 DAYS OF HEADACHE.

[2018-02-26 04:15] czycha commented on #409
Happy to help!

[2018-02-28 01:35] riatzukiza commented on #144
would still break the "zero native dependencies"  part of the goal. The native APIs switch often, I believe it is an asset to have a library like this that does not depend on them.

[2018-02-28 06:38] taitems opened #410 "[Request] Find image within image"
Feel free to close, but I followed along on when someone raised the image comparison suggestion and you managed to deliver that in a really pragmatic manner.

I was hoping that we as a community could find a way to do image comparison WITHIN an image. I've noticed there is  a `scan` method, but I wondered if there was a way to find an image such as a logo, within a larger provided image.

I've see

[2018-03-02 09:26] ikrong opened #413 "jimp text print doesn't suport emoji"
print does't suport emoji string

ep:  Hello world!😃

[2018-03-06 21:37] atwoodjer commented on #413
That's because in order to use Emoji, you must import a Bitmap Font (.fnt file that points to an image file) With those characters included.

[2018-03-06 21:41] atwoodjer commented on #409
In the original code, I can tell you it was because you weren't using await/async, which would cause things to start and finish in the wrong order.

[2018-03-06 22:00] atwoodjer commented on #370
It seems Jimp is very common with people using Discord.js.

[2018-03-06 22:14] FireController1847 commented on #370
That makes sense, but would it be possible to have something that, say, detected how long the text would be (in pixels), and then rollover if a word/letter goes past the specified size?

[2018-03-06 22:26] grantcarthew commented on #46
Hi @lovell , These performance links should be on your README. Everyone who investigates this library are going to want to know the cost of choosing Jimp over other native options.

[2018-03-07 00:45] #413 closed

[2018-03-07 05:15] atwoodjer commented on #370
IT does do that, hence the rollover in the first place. You're defining the position of the second text with an X value, and if it decided arbitrarily to put something NOT where you said to put it, it's unreliable.

[2018-03-07 06:31] yhc-yhc commented on #395
<img width="150" alt="blue" src="https://user-images.githubusercontent.com/16659510/37077034-1213cbb2-2214-11e8-8f74-64a4b3d886eb.png">
@steffkelsey like this picture, how can i conversion the blue pixel to transparent

[2018-03-07 07:46] lovell commented on #46
@grantcarthew If "your README" refers to sharp then did you see the "benchmark tests" link in https://github.com/lovell/sharp/blob/master/README.md#documentation ?

[2018-03-07 14:46] #360 closed

[2018-03-07 22:32] grantcarthew commented on #46
This one mate: https://github.com/oliver-moran/jimp/blob/master/README.md
At least a link to the sharp documentation.
I had to search and find this closed issue to get performance details.

[2018-03-07 22:41] mihaiserban commented on #107
any news on this issue? how does one get the size in bytes of the new image?

[2018-03-08 01:26] yhc-yhc commented on #395
@theill @aurium @natecavanaugh @katzj  can you help me?

[2018-03-08 07:45] lovell commented on #46
@grantcarthew I don't maintain jimp. Perhaps you could submit a PR to jimp with the change you suggest?

[2018-03-08 15:00] czycha commented on #395
I think the best way to accomplish this is to calculate the distance between the color you want to replace and the color of each pixel in the image, and, if that distance is smaller than a threshold, replace the color.

[code]

[2018-03-09 01:03] elipeters commented on #342
+1

[2018-03-09 04:53] yhc-yhc commented on #395
@czycha thank you, but if i has many of this picture, the value of threshold must be changed to adapt each picture, so is any good ideas?

[2018-03-09 13:31] skddc commented on #354
Confirmed that this is not an issue in `0.2.27`, but it is in `0.2.28`.

[2018-03-09 14:16] czycha commented on #395
Unless you do some machine learning (which I haven't seen with Jimp), there's not much you can do about it. You can test manually on a bunch of sample inputs to try and find an optimal threshold.

[2018-03-09 14:23] steffkelsey commented on #395
I didn't realize you were trying to do background removal. It's just a completely different algorithm. You can find some examples if you look up Primatte Chromakey Algorithm. Also you can ness around with other algorithms using OpenCv and look for blue / green screen examples. I think you're not going to be satisfied with anything from Jump.

If you MUST do this in browser, I would recommend check

[2018-03-12 01:23] yhc-yhc commented on #395
@czycha  thank you, @steffkelsey yes , i do it at backend use Jimp with nodejs. I have another way that is use openCV  to resolve this problem, but it may be must use machine learning yet, because in openCV the params also need changed to work well, thank you.

[2018-03-12 01:26] yhc-yhc commented on #395
close the issue, thanks all.

[2018-03-13 19:28] turakvlad commented on #262
@thewizarodofoz, hey. It looks like it works great for `0.2.27` (as I can see from [your RunKit playground](https://runkit.com/thewizarodofoz/jimp-catch-error)). But it doesn't work for `0.2.28` - [my RunKit playground](https://runkit.com/turakvlad/5aa826267420c8001256077c). Thanks for help!

[2018-03-13 19:35] turakvlad commented on #408
Have the same issue with `0.2.28`. Take a look at this - https://github.com/oliver-moran/jimp/issues/262.

[2018-03-15 04:51] binarykitchen commented on #144
well i intend to use that on server side and do NOT want to use sharp, as it's too bloated and requires compilation upon installation which poses a risk when deploying to production.

all i want is a small and fast library able to convert webp and png images to jpeg. that's it. nothing else. nothing fancy, no compilation of any native stiff. how come it's still hard in 2018? :)

[2018-03-16 09:40] DimLeon opened #417 "multiple images resize"
is it possible to pass a folder directory path and resize all images that are in that folder?

[2018-03-18 17:08] mfaheemakhtar opened #418 "Jimp with http-proxy-middleware"
Hi,

Is it possible to use Jimp with http-proxy-middleware to process image?

This is what I'm looking for:

Browser (Image -> POST) ---> Proxy (Process image - Jimp) ---> Server (processed image) ----> save on disk.

Any help will be appreciated.

[2018-03-19 08:14] kreja opened #419 "Doesn't support Chinese?"
I can print English words on images but doesn't work with Chinese.

[2018-03-20 18:41] czycha commented on #417
Yes it is!

[code]

Depending on what you want, you may need to swap out the `.resize(width, height)` line with a similar Jimp function like `scaleToFit`.

[2018-03-22 00:15] reachdevelopers commented on #417
@czycha  that worked for me thanks ;). Question how can I process only new images just added I am using multer for uploading the images.

[2018-03-22 08:30] DimLeon commented on #417
@czycha that worked great! thanks a lot bro, really helped!
i'll try to implement the above by adding an output directory in order not to replace exisiting images

[2018-03-22 12:51] barisusakli opened #420 "error on jimp.read with special base64 image"
After saving a base64 image as png, trying to read it with jimp.read causes the following error.

[code]

The code

[code]

Wrapping the jimp.read in a try catch doesn't catch the `Error:invalid block type` and the processes crashes.

Here is the image used.
![94384f7f40dfd4b100d73fa8fe652c2e](https://user-images.githubusercontent.com/2583394/37771499-25f0d71a-2dae-11e8-903b-929f539c5a48.png)

[2018-03-22 13:31] czycha commented on #417
@reachdevelopers It really depends on how you're accessing the image.

If the files are saved to disk and you are just checking occasionally, you can use [`fs.stat`](https://nodejs.org/api/fs.html#fs_fs_stat_path_callback) to get the last modified time and compare that to the last time you checked. Looking at multer's README, it does seem to store the files and provides for you a path.

[code]

If

[2018-03-22 13:51] czycha commented on #420
Are you saying that the PNG image that has been saved to file as a plaintext base64 data URI (i.e., `data:image/png;base64,...`)? That is not something I've ever heard of and I think that you should choose a different way to save your image.

In any case, Jimp does not seem to support reading base64. I suggest [converting the base64 to a buffer](https://stackoverflow.com/questions/14573001/nodejs-

[2018-03-22 15:35] barisusakli commented on #420
@czycha Sorry didn't have time to provide a proper example. Here is a small app to reproduce it.

[code]

In our app, the base64 string comes from the client and gets saved as a png image, and then calling jimp.read fails with the above error messages.

[2018-03-24 15:53] czycha commented on #420
Oh! Sorry I misunderstood your intent.

Yes I get this error now using the code you provided. It should work in theory. What's weird is that when I use a different base64 PNG, it works. For example:
[code]

I think there's something wrong with the data URI you receive. Here's an error I get when I try `mogrify testimage.png` (from ImageMagick) on the output image:

[code]

That shows that it is no

[2018-03-24 16:42] barisusakli commented on #420
Yeah, the data uri is the problem, it is crafted specifically to crash the nodejs process. The problem is we can't wrap jimp.read in a try/catch and the callback does receive an error but it still crashes the nodejs process.

[2018-03-25 14:51] svewag opened #421 "[v0.2.28] package.json from github differs from the npmjs one"
I noticed that the [package.json](https://github.com/oliver-moran/jimp/blob/master/package.json) differs from the one on [npmjs](https://registry.npmjs.org/jimp/-/jimp-0.2.28.tgz).

For example the dependency 'request' is not in the github repo but in the npmjs code

Can you fix this?

[2018-03-25 15:37] czycha commented on #421
The repo is currently several commits ahead of the 0.2.28 release (about 77 at the time of writing this). There were some issues with the 0.2.28 release related to browser compatibility and I think the idea is to get those sorted out before releasing the next version. Progress has unfortunately been stalled at that process so the next version won't be out for a while.

If you need the repo to be a

[2018-03-25 21:02] svewag commented on #421
Ok, thanks!

[2018-03-25 21:02] #421 closed

[2018-03-27 10:40] phips28 commented on #86
I have the same problem, fb changed some urls today and I am not able to do this:

`Jimp.read('https://lookaside.facebook.com/platform/profilepic/?psid=1587355968026286&height=1024')`

Error: Unsupported MIME type: application/octet-stream
at Jimp.throwError (/var/app/dvel-api-ocean/service_bot/node_modules/jimp/index.js:61:44)
at Jimp.parseBitmap (/var/app/dvel-api-ocean/service_bot/node_modules/

[2018-03-27 14:00] czycha commented on #86
@phips28 You could try receiving the data from the URL as a `Buffer` and then passing to Jimp. For example, using [got](https://github.com/sindresorhus/got):

[code]

You can also double check that the MIME is appropriate before passing to Jimp by checking `data.headers['content-type']` (will not be octet-stream but rather whatever the true type is) but that might be overkill since Jimp will verif

[2018-03-27 18:45] andreavaresio opened #422 "cannot trap corrupted jpg read errors"
I am not able to handle situations where the jimp.read input image is a corrupted jpg.
For example trying to read a 0 file length does not trigger any error.

[code]

[2018-03-27 21:49] andreavaresio commented on #422
[code]

I only edit the code to be more readable

[2018-03-27 22:01] andreavaresio commented on #422
jimp.read function does not call the callback function neither throw any exception when an invalid jpeg is provided. For example providing a.jpg a s a 0 length file does not trigger any error.

Asy help?

[2018-03-27 22:53] phips28 commented on #86
@czycha I found the issue.

facebook returned a HTML page when there was is headers.user-agent sent.
data.headers['content-type'] = text/html

After adding the user agent in the defaults, it works with Jimp.

[code]

But I found no solution to configure the user agent for Jimp, without forking. Do you know something?

[2018-03-27 23:00] phips28 commented on #86
https://github.com/dvel-Inc/jimp/commit/fe639c6e9d3dab6b0fb3a8826693b270c9479129
this is for the 0.2.28 version.

[2018-03-27 23:26] czycha commented on #86
@phips28 Unfortunately, I don't believe there's a way to modify the default headers for Jimp without forking. As it stands, you can either use your fork or run the request using proper headers and pass the resulting buffer to Jimp like in my example.

[2018-03-29 00:55] rtwalz commented on #177
Still seeing this issue, is the dependency updated?

[2018-03-29 08:57] yeung108 opened #423 "Difference between distance and diff?"
May I ask what is the difference of image comparison using hamming distance and PixelMatch?
If I want to have a effect more on the object comparison in the two images (ignoring the background), which one should be better for this usage?

Thanks so much!

[2018-03-29 10:54] peter-mouland commented on #177
@rtwalz to see if the dependency has been updated, you can have a look in the `package.json`.

I guess, if this is causing any issues for anyone else, a PR would probably be appreciated and confirmation the update doesn't break anything else.

[2018-03-29 14:25] atwoodjer commented on #370
(close this please)

[2018-03-29 14:26] atwoodjer commented on #422
check if file size is 0

[2018-03-30 02:46] rtwalz commented on #177
@peter-mouland It was my fault, I was unintentionally removing the end from an image URL. Thanks for the quick response regardless!

[2018-03-30 16:08] carterbancroft commented on #177
This is not fixed in jpeg-js 0.3.3. After seeing the comment above I attempted to put together a PR but the unit tests still fail with unknown JPEG marker error.

It's fixed in this commit to jpeg-js https://github.com/eugeneware/jpeg-js/commit/e5de15abe710b607de9cf251d83c5a9b04b46d5c but it's not released yet. I asked in the original PR if we could get a release on that and if a new version is mi

[2018-04-02 23:53] zfwman opened #425 "getBuffer() exits the process when callback finished?"
[code]

the program just stops right after completing the getBuffer callback.
I can't have that as I need this to run multiple times due to the nature of this being a Discord bot

[2018-04-04 02:26] cashlionjp opened #426 "Output image to grayscale array."
A common need for Nueral Networks is to have an image flattened into an array after it has been grayscaled.

Is this an option already or worthy of being a feature?

[2018-04-09 14:24] eservicesprovider commented on #22
How do I get the original filename or url  ex

jimp.read('http://www.mysite.com/imgs/bugsbunny.png',function (err,img) {
          console.log(img.src);

[2018-04-09 14:27] eservicesprovider commented on #22
how do i process an array of images and return an array such as

[{'url':'http://www.mysite.com/imgs/bugsbunny.png'},{'url':'http://www.mysite.com/imgs/daffyduck.png'}]

[2018-04-09 15:52] czycha commented on #22
@eservicesprovider Jimp does not store the original filename so that needs to be provided by some other means. The following code may be something like what you are asking for:

[code]

[2018-04-10 02:26] SourceBoy commented on #90
For >= ES6, native Promise is available:
[code]

[2018-04-10 15:13] jagoe commented on #393
It's possible to outright circumvent or ignore the TypeScript compiler warnings either by inserting `// @ts-ignore` in the line before or by calling the constructor as `new (Jimp as any)`.
Both aren't pretty, but they at least get the job done.

[2018-04-11 09:17] dtrofimov commented on #393
@jagoe, yes, using `new (Jimp as any)(...)` does work. But we still expect the declaration file to provide the correct method signature to use it, not to fight an incorrect one.

Any ideas (and pull requests) how to refactor the declaration file to declare using `new Jimp(...)` correctly?

[2018-04-12 18:18] jagoe commented on #393
You're right, that's nothing but a quick fix.
I looked into it and created a pull request (#430 ) that should fix the issue.

[2018-04-13 09:28] bpikaar commented on #86
I also have a similar problem with the read function.

i am trying to read a buffer
`let photo = await jimp.read(file.buffer)`

the buffer contains:
[code]

but the error says:
`Unsupported MIME type: application/octet-stream`

it used to work and i didn't change any code.
Any thoughts?

[2018-04-13 12:09] bpikaar commented on #86
I switched to jimp2 and that seems to work

[2018-04-13 19:15] phips28 commented on #86
@bpikaar didnt know there is a `jimp2`

I have to check that out. thx.

[2018-04-14 07:33] mnoleto opened #431 "Jimp.loadFont() Error: ENOENT: no such file or directory"
When I try to load a font from a `.fnt` file generate by [Littera](http://kvazars.com/littera/) I get the error:
[code]

I tried to load from a S3 bucket with public permission and also from a local folder using the following:
`Jimp.loadFont('https://s3-us-west-2.amazonaws.com/botecofc/fonts/black64/font.fnt');`

When I use the default font `Jimp.FONT_SANS_64_WHITE` everything works. I don't know

[2018-04-18 19:48] Smiley01987 opened #432 "Jimp read bmp to base64 results in wrong colours"
Hi,

When reading a BMP file using the .read method and then converting the image to a base64 string using the getBase64 method the image is not the same as the original image anymore. The weird thing is that it does not happen to all BMP's i'm converting, only a few.

Original BMP:
![screen shot 2018-04-18 at 13 38 55](https://user-images.githubusercontent.com/14977493/38954080-05f908c0-4351-11e8

[2018-04-18 23:07] DanielRuf opened #433 "huge packfile"
The repo is around ~430 MB in size and mainly consists of one large packfile in .git.

[2018-04-20 15:18] kangkon commented on #280
I am using react, It still shows error `Error: Node's Buffer() not available` even after using jimp version `0.2.27`. with the following code
[code]

[2018-04-21 20:05] #426 closed

[2018-04-23 00:11] Drylotrans opened #436 "Parameter five in the function .print()"
How does the five parameter work in the .print() function?

[code]

[2018-04-23 01:25] GigaJunky commented on #212
I better late the never, I found this little gem.. Maybe should be included in Jimp but easy to add.
https://www.npmjs.com/package/floyd-steinberg

var Jimp = require("jimp")
,floydSteinberg = require('floyd-steinberg')
, filename = process.argv[2]

Jimp.read(filename, function (err, image) {
    if (err) throw err;
    image.autocrop().scaleToFit(256, 256)
    //.rgba(false).greyscale().contrast(

[2018-04-24 17:56] asthana4 opened #437 "Bitmap manipulation increasing the file size considerably."
I am using Jimp for a project and this involves manipulating the bitmap by simple bitwise operations. I use a PNG image as a source, and manipulate its bitmap by changing the lower 2-bits every byte, without ever adding any more bytes. What this leads to is that my input is around 86KB but the same bitmap, when written to an image (using the write() method), is coming out to be about 235KB. Is the

[2018-04-24 21:39] etshy opened #438 "Jimp contructor from JPEG Buffer ("Large" size image)."
Hi
I use img-scramble that use Jimp to manage file.
It works on little png files but as soon as I test with a jpeg about 700KB to 2MB (750x1300 px) It crashes.
I tracked the error and seems like it comes from this line
`this.bitmap = JPEG.decode(data);`
The image is valid, but can't be handled by Jimp.

Here is the complete error I got

[code]

I'm quite new in the node world so I maybe made a mis

[2018-04-25 02:31] ETLegacyy opened #439 "Font Rotate"
Is there a way i can rotate a font?

[2018-04-25 11:12] etshy opened #440 "compile with WebpackEncore"
Hi.
I work with webpackEncore and when I want to require jimp with `var Jimp = require("jimp");` I got the following error
[code]

I installed `fs` with `npm install --save fs` but still have the error.

I don't really understand how to include jimp in my browser JS?
I have to set the path manually in my require, like `var Jimp = require("../../node_modules/jimp/browser/lib/jimp.min");` ?

[2018-04-26 13:47] edsilv opened #441 "Possible to use Jimp with mock-fs?"
I'm using mock-fs to test my project and if I try to include a serialised image byte array as a fixture:

https://github.com/edsilv/biiif/blob/thumbs/test/top.js#L159

`Jimp.read` throws this error:

[code]

Other yml fixtures are being read by js-yaml's `safeLoad`. Is Jimp able to work with a mocked filesystem?

[2018-04-26 14:53] 2Owy opened #442 "Resizing an image with transparency"
Hy guys !
I have a little problem and I can not find answers.
When I try to resize a picture with transparency I get a border between transparency and the other color. On white you can see the border really clear on other colors not so much, but is there.

If I use RESIZE_NEAREST_NEIGHBOR the transparent image looks okay, but the quality of other pictures is poor.
If I use the other ones I end up

[2018-04-26 16:25] Myckael opened #443 "cb must be a function"
[code]

Hi
I don't understand where the mistake came from, does anyone have any idea?

[2018-05-01 17:08] etshy commented on #438
I still have the problem and can't get my code to work just becase of that.
My code works well on small images though.

[2018-05-01 17:08] #440 closed

[2018-05-01 17:11] etshy commented on #443
I'm not sure, but when I read a bit of the code to search for my own problem I saw that when you pass an URL the function callback need to be th 2nd parameter, not the third.

[code]

[2018-05-04 20:32] Favna opened #445 "new Jimp as promise"
I see quite a bit of chatter about promises across various issues on the repo but no where do I see a mention about making the `new Jimp()` work with promises so I'm creating an issue addressing that. Currently the only way to create a new Jimp image appears to be as follows, adopted from the docs:

[code]

but with promises this could be enhanced to:

[code]

This currently throws the error messa

[2018-05-11 21:26] timhysniu opened #447 "getHeight() and getWidth()"
Before doing any manipulation on the image you might want to find out more detail about the image. At the very least it would be nice to have `getHeight()` and `getWidth()` methods. Is there a reason why I need to go to `bitmap` object to pull this info?

[2018-05-11 21:59] Nilegfx commented on #445
@Favna this workaround works for for me.

[code]

[2018-05-11 22:01] Nilegfx commented on #445
@Favna this workaround works for for me.

[code]

[2018-05-11 22:06] Favna commented on #445
The workaround I personally applied is instead of creating a blank new Jimp I now use Jimp.read, reading a fully transparant image. It's essentially the same effect but it's not as nice as just using new Jimp (although nicer than your version i'd say)

[2018-05-12 10:44] karanmartian commented on #280
any solution for this guys. Whats the correct way to use jimp with react?

[2018-05-13 12:50] Moeefa opened #448 "Not, an issue, just suggestion! Open font files from URL..."
You could make like:
``
jimp.loadFont('https://font.fnt/')
``

[2018-05-13 12:50] Moeefa commented on #448
Omg, now I see "Pull requests" ;-;

[2018-05-13 16:38] kangkon commented on #280
Only solution to this problem i found is...  Rendering your node project as a server side app, so that node can use a buffer to load and process images.

[2018-05-14 12:43] v7s opened #449 "How to align text to center?"
I have a 500px by 167px image and I want to add 2 lines of text but those need to be centered, how can I do it? I'm using node.js and the jimp package, the last line will always be changing length as in a different username!

[code]

[2018-05-14 17:40] MMayla commented on #183
What is the status of this?

[2018-05-14 20:51] sullivanpt commented on #183
The jimp-canvas project implemented just the bare minimum to meet my use case (bar codes) then stalled out for lack of interest.

[2018-05-15 14:04] dcworldwide commented on #400
My motivation is because there are no native reps. That makes lambda deployments easier.

[2018-05-16 11:10] houd1ni commented on #183
@MMayla I believe, I'll finally come to this someday this summer. The functionality is very needed.

[2018-05-17 13:35] c-anna commented on #342
Has this fix been deployed to the public npm registry? I am on v0.2.28 and still seeing "image/tiff not supported", and none of the code changes in `536310a` appear in the source that gets downloaded to `node_modules`.

[2018-05-17 14:11] c-anna commented on #342
Even after downloading the current source from GitHub I am still unable to use Jimp to read TIFF images, even the sample image in `test/sample/rgb.tiff`. Am I doing something wrong? From the unzipped `jimp-master` folder:

[code]

[2018-05-18 13:28] stathopou opened #450 "Printing BMP file using jimp + ffi"
Hello,

In my electron application,  I  load a .bmp file using Jimp, which I want to send to a receipt thermal printer. The communication with the printer is made using NodeFFI, where I load the necessary dll file.
The printing function requires a pointer to the bits of the bitmap file to be printed.

Using Jimp, getBuffer should get me the desired pointer to the BMP file. However, I need to omit

[2018-05-23 02:59] Ovilia opened #451 "How to process image without reading file"
Say that I have an image
[code]

How can I use jimp to process it?

[2018-05-23 20:07] DContra commented on #451
Are you trying to create a new image? If so that's clearly laid out in the docs

[2018-05-24 22:10] progmem64 commented on #280
I confirm that this is a **regression** bug.
It is working fine with version: 0.2.27, breaks with current version 0.2.28.
Provide-plugin, etc. does not work and i did not have the time to mess with the code.
What scares me is the fact that this issue is open since exactly one year (25 May), four days after Olivers last commit called: "_browser version broken in this release_" (referencing to 0.2.2

[2018-05-29 07:51] devdemi commented on #431
I solved my problem I put to directory only fnt file. When I generate BMFont you should get fnt and png file. I put png to directory with fnt file and now it works well. Please look at source code https://github.com/oliver-moran/jimp/blob/master/index.js#L2578

[2018-05-29 10:06] devdemi commented on #69
@oliver-moran is there possibility to make transparent corners? I want to generate circular avatar and composite it with another image but that image has not white background
![b7fc031739](https://user-images.githubusercontent.com/890372/40652501-0b0b9426-6341-11e8-824f-33fcdee8b920.png)

[2018-05-29 14:04] PorterK commented on #451
`new Image()` is a frontend function. It is not an image, it is a functional representation of `<img />`. You would still need to add a src attribute to the image.

From the MDN Web Docs:

[code]

You _can_ however read a buffer using Jimp according to the docs/README.

[2018-06-04 08:42] luthv opened #452 "version on npm differs with github"
I've just updated my local installation of jimp and comparing the code with the current master branch on github it looks like the one on npm is still on version 0.2.27 but with version 0.2.28 stated in the package.json. The package.json on npm still have url-regex dependencies.

[2018-06-05 03:47] glyphCezilleSantillan commented on #439
I would like this option too. For now, I create a blank image, print my text, and then rotate that image before compositing it onto my main image. It isn't perfect; the placeholder might be too small, for instance; you have to check the output or manage the string length.

[2018-06-06 22:34] altinselimi commented on #231
Hi, when I use Jimp to read a base64 buffer, it throws an error in the console
`Jimp expects a single ArrayBuffer or image URL`
Here is how I am using it
[code]

[2018-06-07 15:31] hugomallet commented on #376
Any update ? Still impossible to use this module in the browser....

[2018-06-12 17:47] Cherry commented on #449
I've been poking at this today and it appears that this functionality was added in https://github.com/oliver-moran/jimp/pull/285 but never really documented. It also appears as if the changes haven't landed in npm yet.

If you install from the git master, `git://github.com/oliver-moran/jimp` and then use the following code, it appears to work as expected:

[code]

[2018-06-12 18:45] robertgon97 opened #453 "Error: Node's Buffer() not available"
![captura de pantalla 2018-06-12 a la s 2 44 27 p m](https://user-images.githubusercontent.com/22420571/41310325-2c1be468-6e4f-11e8-9afb-84d2b491e0c8.png)

[2018-06-13 02:11] Cherry commented on #453
Revert to version 0.2.27. The browser version was broken in 0.2.28.

[2018-06-17 11:37] Antecer opened #454 "How to catch error 404"
if i use Jimp.read("error url"), it will print error in console
 `Could not find MIME for Buffer <http://*/233> (HTTP: 404)`
i want catch it, then i can do another thing with it!

[2018-06-18 16:50] thib92 opened #455 "Current NPM repo does not have Jimp.loadFont and Jimp.prototype.print in jimp.d.ts"
The current repository in NPM seems to miss the `print` method, as well as the `static loadFont` method, even though it is the same version as the GitHub repo, and checking the file on this repo, it does have those to typings. Maybe the NPM repo isn't updated properly ?
Using the master branch of the GitHub repo as a dependency in my package.json file does the trick.
I used version `^0.2.28` in my

[2018-06-18 19:33] MrBoombastic opened #456 "Text alignment - how to?"
How to align text? On readme there is only this: https://github.com/oliver-moran/jimp#align-modes, but it's not for text.

[2018-06-18 19:34] #456 closed

[2018-06-19 06:57] iqbalhood commented on #219
I think maybe this is not very important right now, but can I contribute to make a logo for this project?

[2018-06-19 07:04] edi9999 commented on #219
Sure @iqbalhood ! That would be great !

[2018-06-19 14:34] Antecer commented on #455
Yes, i get the error info :
`UnhandledPromiseRejectionWarning: TypeError: Cannot read property '0' of undefined`

[2018-06-19 23:51] brunolm commented on #445
Maybe `jimp.new` or `jimp.create` would be better, more compatible with TypeScript.

Also, `new Jimp` doesn't seem to be working for me, I get the global object in the callback (I'm running with `ts-node`)

[2018-06-21 12:49] brunolm commented on #445
I got it working by doing

[code]

[2018-07-05 09:52] francois06 commented on #454
bump

[2018-07-05 10:16] PhilHannent opened #457 "exifRotate is missing from the jimp.d.ts"
The TypeScript compiler 2.8.1 is complaining about:

error TS2339: Property 'exifRotate' does not exist on type 'Jimp'.

[2018-07-10 01:42] JonathanBouligny opened #459 "Angular Cannot find name 'Buffer'"
Hi, Jimp cant seem to find the node types. I read around the issues and found that there were issues with buffer in version .28. I downgraded to .27 and this didn't help. I was wondering if this was still an issue or if I incorrectly imported the files.

    ERROR in node_modules/jimp/jimp.d.ts(18,24): error TS2304: Cannot find name 'Buffer'.

I think this may be an error with the .d.ts file becau

[2018-07-10 05:04] david476 commented on #459
I think I was having this problem a couple of days ago but I'm not sure what ended up fixing it. Right now I'm using [this NPM package](https://www.npmjs.com/package/arraybuffer-to-buffer) to be able to read a file into JIMP with a [`FileReader`](https://developer.mozilla.org/en-US/docs/Web/API/FileReader) but its worth trying to read from something that is explicitly a URL (e.g. `http://`) first.

[2018-07-10 05:08] david476 commented on #459
Whoops, I think #453 did the trick actually.

[2018-07-10 05:17] david476 commented on #438
JPEG on that line refers to the jpeg-js package. Might be worth submitting an issue on that.

[2018-07-10 15:15] JonathanBouligny commented on #459
I reverted and still got nothing :/

[2018-07-10 19:56] david476 commented on #459
If you can share your environment I'd be happy to try poking around in it but otherwise I don't know, sorry.

[2018-07-11 03:22] JonathanBouligny commented on #459
I actually got it to#453! I needed to put types : [node] in my tsconfig.app.json file not my tsconfig.json file. A little confusing. Now when I run import * j from 'jimp' i get the error cannot find definition file but I downloaded the @types/jimp file.

How do I share my environment just zip up all my files?

[2018-07-11 17:55] david476 commented on #459
Sorry, I think this is beyond me, I'm pretty new to Typescript. For my project I've just switched to using the [version](https://unpkg.com/jimp@0.2.27/browser/lib/jimp.min.js) actually built for web, it generally seems to work better (less other buffer type related issues for me) and might be easier to get working for you.

[2018-07-12 08:46] hipstersmoothie commented on #219
@edi9999 do you need help verifying pull request? If you add me as a collaborator i can start merging some of the low hanging fruit.

[2018-07-12 08:46] hipstersmoothie commented on #219
I would really like to help modernize the codebase a little bit too!

[2018-07-13 05:10] #380 closed

[2018-07-14 15:04] Panossa opened #462 "Write() writing a partially black picture."
Hello there, I just stumbled upon this cool module but I'm really overrun by all those features you have.
What I was trying to do is to download an image file which was split into different files.
It's a game map found starting from here:
http://oyster.ignimgs.com/ignmedia/wikimaps/fortnite/season-5/2/0-0.jpg
to here:
http://oyster.ignimgs.com/ignmedia/wikimaps/fortnite/season-5/2/3-3.jpg
The last

[2018-07-15 01:07] Panossa commented on #462
Now I'm completely lost:

[code]

Result:
![new_name](https://user-images.githubusercontent.com/23323875/42729569-384b0858-87dc-11e8-9eac-214c7b273748.jpeg)

[2018-07-16 05:33] FireController1847 commented on #90
Using promisify now results in a "cannot read property 'width' of undefined". Any status on making this a promise?

[2018-07-17 20:05] #404 closed

[2018-07-17 20:47] pathakhimanshucss opened #463 "Jimp.loadFont() not finishing loading font and continues with next step."
I am trying to load a font from disk and then print strings onto an image. However on some runs of the program the font loads and the string prints but sometimes seems like the font isnt finished loading and the string print. Something to do with async functions. How to make it wait for the font loading to finish.

[2018-07-18 14:43] dschnare commented on #463
I noticed some issues with your example. It looks like you're missing the `y` coordinate when printing and there are some scoping issues as well. It should be something like:

[code]
[code]

I also made a slight improvement to how you're loading your fonts. This is so that fonts are only ever loaded once. This example *should* also execute faster since we're parallelizing the two I/O operations th

[2018-07-18 15:12] dschnare commented on #462
I think you might want to create a blank image to composite all the map pieces into first. That's really the only thing I changed in your logic. Seems to work for me.

[code]

[2018-07-18 16:47] pathakhimanshucss commented on #463
@dschnare Thanks for the detailed reply. I have later found all the errors in my previous code. And used promise.all() function to wait for the loadFont to complete and also implemented a way so that the fonts are only loaded once :). Thanks for the help anyways

[2018-07-18 20:11] Panossa commented on #462
Oh, I didn't know you can make a big canvas just like that! Thought crop() is the only way. Will try that, thx!

[2018-07-18 22:01] Panossa commented on #462
(Works btw, thanks! Though I still don't get what crop() does as it isn't doing what I want no matter what I do, even if I just crop one single picture)

[2018-07-19 18:58] konsumer commented on #453
related to #280

[2018-07-21 11:20] hipstersmoothie commented on #449
@Cherry wanna take a stab at documenting this? thanks!

[2018-07-22 04:12] hipstersmoothie commented on #280
The last release for sure doesn't work. But latest master seems to

[code]

This successfully logs the base64 for the jpeg image. I'm think that all that is needed is a new release, since it seems like the `Buffer` error has been fixed since v0.2.28

[2018-07-22 04:17] hipstersmoothie commented on #453
It looks like the current version of master solves this issue. look for my comment for example code. closing in favor of #280

[2018-07-22 04:17] #453 closed

[2018-07-22 04:21] hipstersmoothie commented on #462
closing this issue as it seems like the above code solved your problems.

[2018-07-22 04:21] #462 closed

[2018-07-22 04:30] hipstersmoothie opened #466 "Jimp attached to window"
When using the module in a webpack build, Jimp is exposed via the window rather than the `require` method just working. I would expect the window to not be used at all and for the following to work

[code]

currently you have to do the following to use Jimp in the browser:

[code]

[2018-07-22 04:34] hipstersmoothie commented on #376
this is working in latest master (not 0.2.28). see my issue #466. Jimp is attached to the window instead of working with require. closing in favor of #466

also you shouldn't need to import 'jimp/browser/lib/jimp' as webpack will do this for you. I have a sample repo I can push if you want to see a minimal working webpack build.

[2018-07-22 04:34] #376 closed

[2018-07-22 04:41] hipstersmoothie commented on #231
as it seem like the original issue has been fixed in a few ways. I'm gonna close this issue. @altinselimi feel free to open a new issue with a full example of what you are trying to accomplish

[2018-07-22 04:41] #231 closed

[2018-07-22 04:48] hipstersmoothie commented on #443
@etshy is correct. the second parameter must be a function. Or you could use promises

[code]

[2018-07-22 04:53] #443 closed

[2018-07-22 05:00] hipstersmoothie commented on #451
Thanks for helping out @PorterK! Closing. Just use jimp to transform a buffer, output it to base64, and load it into `img.src`.

[2018-07-22 05:00] #451 closed

[2018-07-22 05:02] #394 closed

[2018-07-22 05:05] #409 closed

[2018-07-22 05:07] hipstersmoothie commented on #354
closing in favor of #280

[2018-07-22 05:07] #354 closed

[2018-07-22 05:09] hipstersmoothie commented on #395
machine learning is just a bit out of scope for jimp ;) closing, but feel free to add ML to jimp if you ever get that working

[2018-07-22 05:09] #395 closed

[2018-07-22 05:13] hipstersmoothie commented on #417
@czycha great solutions! I really appreciate your help on all these issues. closing as the question has been answered.

[2018-07-22 05:13] #417 closed

[2018-07-22 05:23] hipstersmoothie commented on #370
@FireController1847 can you provide an example of putting all the text in one line and it going off the screen? Line wrapping seems to be working in your above example.

[2018-07-22 05:33] hipstersmoothie commented on #433
It seems like the built versions of the code have been committed to the repo. I think we should remove then and only generate them for publishes.

[2018-07-22 05:38] hipstersmoothie commented on #227
Working on getting circleci set up #465. have a PR that builds for 4 versions of node. Also to get around all the arguing about formatting and linting by adding `prettier` and `xo` as those have become great no config options for beautiful code. Make accessing PRs a lot easier when a style is enforced on commits.

once circleCI is running I'm closing this issue since testing is already in place.

[2018-07-22 05:39] #362 closed

[2018-07-22 05:39] hipstersmoothie commented on #436
duplicate of #309

[2018-07-22 05:39] #436 closed

[2018-07-22 05:41] hipstersmoothie commented on #368
@steffkelsey why monkey patch when you can make a PR. please do!

[2018-07-22 05:43] hipstersmoothie commented on #398
look at #449 closing in favor of

[2018-07-22 05:43] #398 closed

[2018-07-22 05:46] #397 closed

[2018-07-22 05:47] hipstersmoothie commented on #326
closing as there are many other issues covering this

[2018-07-22 05:47] #326 closed

[2018-07-22 05:49] #375 closed

[2018-07-22 05:49] hipstersmoothie commented on #180
@Manu-shukla example code?

[2018-07-22 05:52] hipstersmoothie commented on #166
@jtlapp @ArmorDarks it seems like GIF support was added. Can you verify it does what you need?

[2018-07-22 05:54] hipstersmoothie commented on #353
@jtlapp any reason why you didn't try to add GIF support directly to jimp?

[2018-07-22 05:54] #372 closed

[2018-07-22 05:55] #351 closed

[2018-07-22 05:59] hipstersmoothie commented on #363
closing in favor of #452

[2018-07-22 05:59] #363 closed

[2018-07-22 06:02] #255 closed

[2018-07-22 06:05] #97 closed

[2018-07-22 08:44] #457 closed

[2018-07-22 09:06] #177 closed

[2018-07-22 09:09] #311 closed

[2018-07-22 10:13] DanielRuf commented on #433
But keep in mind that changing past commits is not ideal as then all forks are out of sync due to new commit hashes (in most cases).

[2018-07-22 20:19] hipstersmoothie commented on #433
I wouldnt change past commits. Unless that's what git rm does. Plan is to `git rm` them and add them to the gitignore. Is that ok?

[2018-07-22 20:31] hipstersmoothie commented on #433
Would you mind submitting a PR for that?

[2018-07-22 20:58] hipstersmoothie opened #468 "Clean Up API, Break Backwards Compatibility"
It seems like there is a lot of work being done to ensure that the package is backward compatible. This seems a little odd to me and has led to weird API decisions. Some methods are chain-able via `this`, some return promises, and some use a node style callback. I believe we should decide on a consistent way of doing things and bump to the version to 1.0.0 since we will probably be breaking some t

[2018-07-22 20:58] hipstersmoothie commented on #468
@edi9999

[2018-07-22 21:06] DanielRuf commented on #433
I can try to invest some time next week.

[2018-07-23 00:34] hipstersmoothie commented on #433
Yeah i just tried to do it real quick and it was for sure harder than I though! In your PR it would be awesome if you could include steps other contributors should take once the cleansing is done in the main fork.

[2018-07-23 06:11] edi9999 commented on #468
yes I agree with you.

The API should be coherent.

I think all methods returning something asynchronously should use Promises.

For option parameters, at least for boolean parameters, and probably for all, we should use an options object to set the parameters, makes sense.

[2018-07-23 08:44] hipstersmoothie commented on #432
@Smiley01987 Can you try again with latest master?

[2018-07-24 18:30] hipstersmoothie opened #476 "ES6 Plan"
4000 lines is way to long for a file! Breaking it up will make it easier to develop going forward.

* move all constants into 1 file
* move generic prototype methods to class
* group related function into files in `transform` directory
	* color
	* size
	* text
* move non-prototype methods to different file

[2018-07-25 13:33] Jefwillems commented on #219
Hello everyone,

I just stumbled upon this beautiful library and saw this issue. If you still need any help maintaining/ bug fixing, i have some free time i could spend on this project.

[2018-07-25 23:12] hipstersmoothie commented on #190
browser version fixed in latest master. make sure that you're webpack build is using the "browser" version, although this should be done automatically.  closing in favor of #280

[2018-07-25 23:12] #190 closed

[2018-07-25 23:14] hipstersmoothie commented on #283
change this

[code]

to this

[code]

[2018-07-25 23:14] #283 closed

[2018-07-25 23:18] #238 closed

[2018-07-25 23:21] #341 closed

[2018-07-25 23:36] hipstersmoothie commented on #468
I propose every function now takes a options object even if they only have 1 arg.

* supports adding more options to any function in the future without breaking changes
* when done will be a breaking change
* simplifies the code a lot

We should also continue to support chaining as much as possible. So code like this should work.

[code]

Functions that take node-style-callbacks that should return

[2018-07-25 23:39] hipstersmoothie commented on #468
@edi9999 thoughts?

[2018-07-25 23:41] hipstersmoothie commented on #468
Should every method just return a promise? might make the desired syntax hard

[2018-07-26 01:24] #449 closed

[2018-07-27 07:55] #164 closed

[2018-07-27 07:55] #319 closed

[2018-07-27 08:02] hipstersmoothie commented on #312
Would switching to `fs.writeFile` alleviate this?

[2018-07-27 08:04] #323 closed

[2018-07-27 08:06] hipstersmoothie commented on #425
@zfwman can you provide a repo with a minimal implementation?

[2018-07-27 08:07] hipstersmoothie commented on #349
@akshayseth can you provide a minimal example repo? thanks!

[2018-07-27 08:08] hipstersmoothie commented on #219
@Jefwillems Feel free to start coding! I have merge right and will respond quickly

[2018-07-27 08:15] zfwman commented on #425
@hipstersmoothie Isn't that code enough? It's just an event. Also, I found it might be caused due to the fact I was running it on the ARM architecture which has some problems with nodejs

[2018-07-27 09:32] hipstersmoothie commented on #276
Since babel is transpiling it I beleive that supporting old node is really no problem. #473 should close this as it exposes the babeled version as "Main"

[2018-07-27 09:46] #345 closed

[2018-07-27 10:17] hipstersmoothie commented on #337
It might be. Why not give it a try and try switching out our implemenation? Make sure to keep it synchronous!

[2018-07-27 10:30] hipstersmoothie commented on #336
We're still alive! I just took over the project so PR til your heart's content.  @kolbma @maqboolkhan @Ojas-Gulati @me-12 @tiendq

[2018-07-27 10:30] #336 closed

[2018-07-27 10:34] hipstersmoothie commented on #346
@WisdomTheDoctor I can't tell the difference between our code and your code. What are the correct values?

[2018-07-27 10:35] hipstersmoothie commented on #220
closing in favor of #303

[2018-07-27 10:35] #220 closed

[2018-07-27 10:36] hipstersmoothie commented on #274
This will be fixed in #473

[2018-07-27 10:38] hipstersmoothie commented on #154
closing in favor of #280

new versions should be fixed via #473

[2018-07-27 10:38] #154 closed

[2018-07-27 11:01] WisdomTheDoctor commented on #346
@hipstersmoothie , you see, the new green value must be counted based on original values of red and blue, but after line
`red = (red * 0.393) + (green * 0.769) + (blue * 0.189);`
value of red is already changed, so green value is wrong
So I placed original values in defferent variables.

[2018-07-27 16:58] niccih commented on #376
I would be very interested in seeing your sample repo, with the minimal working webpack build - tia,

[2018-07-27 17:29] hipstersmoothie commented on #376
@niccih https://github.com/hipstersmoothie/jimp-example let me know if you have any problems!

[2018-07-27 18:42] oliver-moran opened #484 "New Minor Release"
@hipstersmoothie, thanks for all this. If you walk me through what's changed in this release and I'll put it live on NPM.

Since this is a change to ES version, I think we should jump major version number. So this would be 0.3.0. What do you think?

[2018-07-27 18:46] hipstersmoothie commented on #484
Changes in 0.2.29:

* Lots of docs updates
* TIFF support
* Lots of tiny bug fixes
* Browser version was fixed somewhere in the past year. This PR #482  makes the following work in browser again.

[code]

[2018-07-27 18:51] hipstersmoothie commented on #484
the babel configuration targets ie8. so it should be quite compatible with many browsers.

[2018-07-27 18:54] #346 closed

[2018-07-27 18:54] awcchungster opened #485 "Awaiting multiple Jimp page creation before running final function"
I have two images that I'm adding text to, and then after that I have a function that converts those images to PDF format. I've tested the PDF generator, and that seems to be fine.

I attempted to emulate the syntax shown in #463 while editing each file. I load a Promise.all with the file and font, and then make my changes. However, I'm getting the following error:

Two questions:
Why am I getting

[2018-07-27 18:56] hipstersmoothie commented on #270
@cesarpachon make a PR. we like speed improvements in the codebase too!

[2018-07-27 19:22] webarthur commented on #90
+1

[2018-07-27 19:56] hipstersmoothie commented on #485
You are consuming the return value of Promise.all incorrectly. Promise all calls the `then` with and array of the resolved promises. Notice `([image, font])`. This destructures the return value. image.print is now a function

[code]

[2018-07-27 19:56] #485 closed

[2018-07-27 19:59] hipstersmoothie commented on #484
I'd also like to get promise based returns into this release. I'm gonna do a backwards compatible implementation real quick.

[2018-07-27 20:00] awcchungster commented on #485
Thanks for catching that, @hipstersmoothie

I still have the question linger of how I await for both promises to complete before moving to the final then section. From observing the code, the `convertImagesToPDF` function runs even though there's a timeout and it's after the then clause.

Appreciate your feedback!

[2018-07-27 20:01] hipstersmoothie commented on #485
You are using setTimeout incorrectly. That might be part of the problem.

[code]

[2018-07-27 20:05] hipstersmoothie commented on #485
You could also probably do this all in 1 then block.

[code]

[2018-07-27 20:19] awcchungster commented on #485
@hipstersmoothie Thank you for all your help!

[2018-07-27 21:20] awcchungster commented on #485
@hipstersmoothie One more question, and hopefully this is the end of it. Thank you again in advance.

How would I make the _Completed_ print after all the code in the callbacks finish?
[code]

[2018-07-27 21:34] hipstersmoothie commented on #485
your problem is that the setTimeout isn't a promise, so the `then` will fire before the setTimeout callback fires. If your function convertImagesToPDF is synchronouse this should work. Although I have not ran the code.

[code]

[2018-07-27 21:35] awcchungster commented on #485
The convertImagesToPDF is sync. Is there a way I can run the convertImagesToPDF after Jimp completes the writing of all the images?

[2018-07-27 21:59] hipstersmoothie commented on #485
when #486 merges it will be a lot easier since you can have `write` return promises but for now

[code]

[2018-07-27 22:03] hipstersmoothie commented on #484
Promises implemented in #486

[2018-07-27 22:23] oliver-moran commented on #484
Looks brilliant, Andrew. Thank you.

I've hit a speed bump on my side making the release to NPM. But I've teed up for a new release and will make it ASAP.

About future releases: release early and release often (I know, I know, we haven't released for over a year!). If you're in the mood for making additions, I'm happy to facilitate.

[2018-07-27 23:03] hipstersmoothie commented on #484
If we set up circleCI and https://github.com/ericclemmons/github-semantic-version we can make a release on every merge to master. Then we will never have to worry about communicating over an ocean to get a release going 😉

All you have to do is label the PR with patch, minor, or major and a github/npm release is made on commits to master! If you are uncomfortable giving me the npm token to set up

[2018-07-27 23:15] hipstersmoothie opened #487 "Plugin System"
Jimp has a lot of extra functions and Issues related to adding super specific function to Jimp.

It would be awesome if there was a plugin system so that people could publish their unique functions as npm packages for jimp to consume. For example, #80 could be published as a package and loaded only when needed. This would help reduce the size of Jimp (we could maybe make some of the current functi

[2018-07-27 23:16] hipstersmoothie opened #488 "Tree Shakeable Jimp"
It would be awesome if we could set up Jimp in a way that unused function were shaken from the build by webpack, rollup, or parcel.

[2018-07-27 23:33] #75 closed

[2018-07-27 23:33] #274 closed

[2018-07-27 23:33] #276 closed

[2018-07-27 23:33] #466 closed

[2018-07-27 23:33] #476 closed

[2018-07-27 23:36] #151 closed

[2018-07-27 23:42] hipstersmoothie commented on #121
still an issue

[2018-07-27 23:52] #147 closed

[2018-07-27 23:52] #308 closed

[2018-07-27 23:54] #216 closed

[2018-07-27 23:56] hipstersmoothie commented on #239
I can overwrite images. Open another issue if this persists

[2018-07-27 23:56] #239 closed

[2018-07-27 23:56] #249 closed

[2018-07-27 23:56] #246 closed

[2018-07-28 01:41] hipstersmoothie commented on #121
https://github.com/eugeneware/jpeg-js/issues/17

[2018-07-29 04:03] septs commented on #90
@FireController1847
[code]
see https://mdn.io/bind
see https://nodejs.org/dist/latest/docs/api/util.html#util_util_promisify_original

[2018-07-29 06:00] hipstersmoothie opened #493 "Bundle Size is hUUUUUge"
Our code: 143.84kb uncompressed, 16.14kb gzipped
All code: 1.43mb uncompressed, 158.21kb gzipped

😮

https://bundlephobia.com/scan-results?packages=bignumber.js@7.2.1,bmp-js@0.1.0,buffer@5.0.2,exif-parser@0.1.9,file-type@8.1.0,jpeg-js@0.3.4,load-bmfont@1.2.3,mime@2.3.1,mkdirp@0.5.1,omggif@1.0.9,phin@2.9.0,pixelmatch@4.0.0,pngjs@3.0.0,tinycolor2@1.1.2,utif@2.0.0

[code]

<img width="1411" alt="scre

[2018-07-29 10:50] hipstersmoothie commented on #493
I'm gonna switch `exif-parser` to `jpeg-exif` once my two PRs are merged.

https://github.com/zhso/jpeg-exif/pull/9 - So we don't have to read the file twice
https://github.com/zhso/jpeg-exif/pull/10 - So we can support tiff as well.

The only information from exif that we use is the orientation. `jpeg-exif` exposes that property so we can easily switch to it! 15kB of the bundle but that's still o

[2018-07-29 10:54] peter-mouland commented on #493
great bit of analysis - i'll have to do the same on my projects!

[2018-07-29 10:56] hipstersmoothie commented on #493
Bundlephobia is a great tool! With that plus webpack-bundle-analyze you can really hunt down bloated dependancies.

[2018-07-29 18:36] FireController1847 commented on #90
I had actually been doing it wrong and got it to work lol, thanks anyways

[2018-07-30 00:12] hipstersmoothie commented on #493
Opened #496 to switch to our own mime type lookup.

[2018-07-30 04:33] hipstersmoothie commented on #493
Opened #497 switch from BigNumber.js to any-base

[2018-07-30 09:12] #90 closed

[2018-07-30 09:12] #232 closed

[2018-07-30 09:12] #374 closed

[2018-07-30 09:12] #445 closed

[2018-07-30 19:38] #350 closed

[2018-07-30 20:27] hipstersmoothie commented on #89
https://github.com/eugeneware/jpeg-js/issues/44
https://github.com/photopea/UTIF.js/issues/36

Keeping track of the orientation after rotations might be hard

[2018-07-31 00:31] #468 closed

[2018-07-31 00:34] hipstersmoothie commented on #188
close via #479

[2018-07-31 00:34] #188 closed

[2018-07-31 01:18] hipstersmoothie commented on #160
we no longer use BigNumber, so this shouldn't be a problem. Feel free to open another issue if you find one!

[2018-07-31 01:18] #160 closed

[2018-07-31 01:30] hipstersmoothie commented on #291
@tkir can you see if this is still an issue? I can't run your code cause there are undefined functions

[2018-07-31 01:33] #171 closed

[2018-07-31 01:36] hipstersmoothie commented on #171
No browser support CMYK and non of the libraries we use to decode images support it either. So not possible ATM.

[2018-07-31 01:50] #181 closed

[2018-07-31 01:52] hipstersmoothie commented on #186
@Messilimeng Can we get a test image? Or can you try again? Will close if no response

[2018-07-31 01:55] Messilimeng commented on #186
yes，it works ,thanks

[2018-07-31 01:55] #186 closed

[2018-07-31 01:55] hipstersmoothie commented on #208
closed via #473

[2018-07-31 01:55] #208 closed

[2018-07-31 01:58] #223 closed

[2018-07-31 01:59] hipstersmoothie opened #501 "Change all Functions to accept `options`"
This can clean up the API quite significantly.

Other issues have been created related to this. But this issue is only for tracking just the `options` breaking change.

[2018-07-31 02:01] hipstersmoothie commented on #240
This doesn't seem in the scope of jimp. Closing. If you need something specific to enable this feel free to open another issue.

[2018-07-31 02:01] #240 closed

[2018-07-31 02:02] hipstersmoothie commented on #251
@Ratismal does this still happen? What version did it work in?

[2018-07-31 03:12] Ratismal commented on #251
I have no idea. I tried making a new script to test with (since the old one no longer exists), but after installing `npm i oliver-moran/jimp` I get the error `Cannot find module 'jimp'`. This doesn't happen when installing the NPM release.

[2018-07-31 03:19] hipstersmoothie commented on #251
The builds are no longer hosted in the repo. Just rpm link the module and
run ‘NPM run build’
On Mon, Jul 30, 2018 at 8:12 PM stupid cat <notifications@github.com> wrote:

[2018-07-31 03:35] #305 closed

[2018-07-31 03:39] hipstersmoothie commented on #293
Def out of scope. Closing

[2018-07-31 03:39] #293 closed

[2018-07-31 03:39] Ratismal commented on #251
Can't get it to build, but wrote a script anyways for testing.
[code]
when run, this should be the resulting out.png file:
![out](https://user-images.githubusercontent.com/1059362/43436274-eac89caa-9440-11e8-9cd4-9439d755e955.png)

if the issue still exists, you'll get something like this:
![image](https://user-images.githubusercontent.com/1059362/43436288-0aef344e-9441-11e8-8794-9cd5c8ba386f.png)

[2018-07-31 03:46] hipstersmoothie commented on #251
Thanks for the test case! I’m interested to see if you get build errors
though.

Steps to install:
npm i
npm run build

Do you get any errors?
On Mon, Jul 30, 2018 at 8:39 PM stupid cat <notifications@github.com> wrote:

[2018-07-31 03:51] Ratismal commented on #251
[code]
Currently working off of a windows machine because my linux machine is at work, will try building on it tomorrow.

[2018-07-31 03:53] hipstersmoothie commented on #251
Oh shit I don’t have a way windows machine. It looks like the environment
variables work differently on windows. Do you know how to set cli env bars
on windows? I thought it was a cross platform method
On Mon, Jul 30, 2018 at 8:51 PM stupid cat <notifications@github.com> wrote:

[2018-07-31 03:56] hipstersmoothie commented on #251
Googling around a little I might have to put ‘set” in front of all the Babel envs. Can you try that out? Thanks for all the help!

[2018-07-31 04:05] Ratismal commented on #251
was able to build after converting the scripts to windows-compatible calls. the scripts in question:
[code]
in addition to using set, I had to separate calls with `&&`

im not sure how you'd make this compatible with both windows and linux

[2018-07-31 04:06] hipstersmoothie commented on #251
Thanks! I’m not sure either but I’ll try tonight!
On Mon, Jul 30, 2018 at 9:05 PM stupid cat <notifications@github.com> wrote:

[2018-07-31 04:06] hipstersmoothie commented on #251
Does the bug persist?
On Mon, Jul 30, 2018 at 9:06 PM Andrew Lisowski <lisowski54@gmail.com>
wrote:

[2018-07-31 04:08] hipstersmoothie commented on #251
I’ll be using the cross-env package. Now I know why we use it at work lol
On Mon, Jul 30, 2018 at 9:06 PM Andrew Lisowski <lisowski54@gmail.com>
wrote:

[2018-07-31 04:13] Ratismal commented on #251
the output looks fine, so i guess this bug is not longer occurring.

[2018-07-31 04:13] #251 closed

[2018-07-31 04:14] hipstersmoothie commented on #251
Sweet!
On Mon, Jul 30, 2018 at 9:13 PM stupid cat <notifications@github.com> wrote:

[2018-07-31 04:14] hipstersmoothie commented on #251
Thanks for all the responses and working with me 😁
On Mon, Jul 30, 2018 at 9:14 PM Andrew Lisowski <lisowski54@gmail.com>
wrote:

[2018-07-31 04:14] Ratismal commented on #251
no problem, was a pleasure

[2018-07-31 10:09] Nightmare2112 commented on #330
easiest way to do this, is image1.writefile("filename.extension"), then you just call this in your message send
message.channel.send({
    files: [
        "path for filename.extension"
    ]
)

[2018-07-31 21:07] hipstersmoothie commented on #484
@oliver-moran all merges have happened! (btw 0.X.0 is a minor release)

[2018-07-31 21:09] hipstersmoothie opened #503 "Fix new Jimp()"
When creating a `new Jimp()` asyncronous stuff shouldn't happen.

[code]

it should be the folowing.

[code]

To achieve this all we have to do is use `fs.readFileSync` rather than `fs.readFile` and stop supporting the callback. The callback within the constructor is an anti-pattern anyway.

This will be a breaking change. But it really cleans up the API.

related to #303

[2018-07-31 21:14] hipstersmoothie commented on #455
closing in favor of #484

[2018-07-31 21:14] #455 closed

[2018-07-31 21:14] hipstersmoothie commented on #452
closing in favor of #484

[2018-07-31 21:14] #452 closed

[2018-07-31 21:25] hipstersmoothie commented on #339
closing in favor of #214. Whats happening is your image has exif orientation encoded into it and jimp autorotates your image according to that orientation

[2018-07-31 21:25] #339 closed

[2018-07-31 21:31] hipstersmoothie commented on #144
@binarykitchen feel free to write a JS library the decode/encodes webP! Could be a really cool project

[2018-08-01 00:46] hipstersmoothie commented on #144
here's the spec https://developers.google.com/speed/webp/docs/riff_container

[2018-08-01 00:56] hipstersmoothie commented on #144
and here is the c++ code for the decoder in libwebp https://github.com/webmproject/libwebp/blob/master/src/dec/webp_dec.c

I'd be interested in doing this project with someone if they want to.

[2018-08-01 00:57] hipstersmoothie commented on #144
or we could try to use web assembly

[2018-08-01 00:59] hipstersmoothie commented on #144
https://medium.com/@kennethrohde/on-the-fly-webp-decoding-using-wasm-and-a-service-worker-33e519d8c21e

[2018-08-01 07:04] hipstersmoothie commented on #86
@phips28 @bpikaar can i get a url that works? all the ones in this thread don't resolve to anything @czycha

[2018-08-01 07:54] hipstersmoothie commented on #107
@mihaiserban you can just do this to get the byte length of the buffer

[code]

[2018-08-01 07:54] #107 closed

[2018-08-01 10:04] #447 closed

[2018-08-01 10:06] #340 closed

[2018-08-01 11:13] etshy commented on #438
hmm sorry I don't remember which image I used and as I don't have to use jImp now I can't really test again.

I'll try to find the page and I'll send it if I find it.

[2018-08-01 11:26] photopea commented on #89
Guys, images are not a place to store text. Just add a text file next to your image, or put it inside a file name (in your file system).

[2018-08-01 17:47] hipstersmoothie commented on #89
@photopea that's not the point. Both JPEG and TIFF support EXIF data. The images we are processing start out with exif data. we should be able to keep that data in the image. Also this doesn't look like text to me

[code]

It's metadata about the image. It makes no sense to just store it in a text file. As a user I would be confused if my image processing library started producing text files rando

[2018-08-01 21:36] oliver-moran commented on #484
@hipstersmoothie Thank you enormously for all of this work. I've put 0.3.0 live. (Yes, I'm counting 0.X.0 releases as major releases because I'm not going to bump past an actual version 0.)

Sorry for the delay in doing this but I had difficulty accessing NPM. Now that that's fixed, let me know whenever you want to do a release and I'll review the code for malware and push it up.

Apologies for wa

[2018-08-02 00:06] hipstersmoothie commented on #484
Thank you for letting me do it! I'm excited to see where the future of jimp goes. Once web assembly is more accepted (years) we'll really be cooking 😉

Looking into bugs and fixing error handling is my next task.

Really excited that we got a release out 🎉 🎉

[2018-08-02 00:19] hipstersmoothie commented on #484
@oliver-moran it seems like you did not publish master. I just tried to install 0.3.0 and it has none of the work from the past 2 weeks. was this intentional? It seems like you might not have pulled master in a while

Commands needed to release:
[code]

`npm run build` will build the browser, es5 and esm versions of jimp.

[2018-08-02 11:24] Killian22 commented on #493
Yesterday we started using jimp to rotate image created using node-canvas.

Adding jimp added 2000~ files to the project and it seemed quite large.

The only thing being done is
`Jimp.read(canvas.toBuffer()).then(image => {
                    image.rotate(rotation);

                    image.getBuffer(Jimp.MIME_PNG, (err, buffer) => {`

Is there a lighter weight version of JIMP that supports jus

[2018-08-02 15:19] himself15 commented on #102
I'm trying to use node-thumbnail which I believe use the Jimp library. I'm passing an array of images to the thumbnail generating function and I'm getting the same "marker was not found" issue. I'm pretty sure none of my images is corrupted and I can't seem to work my way out of this

[2018-08-02 21:25] hipstersmoothie commented on #484
Okay now it's good!

[2018-08-03 12:57] jotalanusse opened #505 "Jimp.read() can't read an url from a webserver"
For example:
`Jimp.read("http://www.images.com/0.jpg")`
Output:
`Error: TypeError [ERR_INVALID_ARG_TYPE]: The "msecs" argument must be of type   number. Received type object`

[2018-08-03 14:18] Zyberg commented on #505
Are you sure that a link you are using has an image file?

[2018-08-03 14:26] Zyberg opened #506 "Expose y position in print callback"
I have to print 2 text blocks onto an image and the second one needs to be separated by exactly 100px after the first.

What I am doing right now is simply looping through the text and by using `measureText` function trying to find the number of lines that my text block has, then finding the max y value of each line of the text (which turns out to be 2px higher for every line than `font.common.lin

[2018-08-03 14:51] jotalanusse commented on #505
I changed some things and now i get this:
`Error: socket hang up`
Every time i try an url, heres the full log:
[log.txt](https://github.com/oliver-moran/jimp/files/2257751/log.txt)

[2018-08-03 15:53] seantw opened #507 "Can't install v0.3.1"
Why need git binary?
the error message is as follows:

npm -g install jimp
npm ERR! code ENOGIT
npm ERR! Error while executing:
npm ERR! undefined ls-remote -h -t ssh://git@github.com/makr28/jpgjs.git
npm ERR!
npm ERR! undefined
npm ERR! No git binary found in $PATH
npm ERR!
npm ERR! Failed using git.
npm ERR! Please check if you have git installed and in your PATH.

[2018-08-03 16:17] hipstersmoothie commented on #505
@jotalanusse your link in the first post does nothing. How are you running jimp? In the browser? Node? Webpack?

[2018-08-03 16:20] hipstersmoothie commented on #505
the following works for me in all situations

[code]

just tested in all and i got no errors. can you provide the full code?

[2018-08-03 16:23] hipstersmoothie commented on #507
Thats a dep for UTIF.js. How are you installing jimp? I just reinstalled it on my test project with no problems

[2018-08-03 16:23] NathanYocum opened #508 "Fonts not in 0.3.1 npm package"
In my code I'm doing:
[code]

My promise loadFont is throwing an error:

[code]

When I look for the font file in my node_module I can't see any fonts. I tried it outside of that sandbox and it threw a similar error with a different path.

[code]

Also can't see anything for that one either.

[2018-08-03 17:08] #508 closed

[2018-08-03 17:18] hipstersmoothie commented on #508
This should go out with v0.3.2. Hopefully today!

[2018-08-03 20:16] lukepighetti commented on #454
Hey guys, I cannot catch SOI or 403 or 404 error with Jimp. I've tried putting .read() and .writeAsync() in async try/catch, and I've tried .catch(). I'm at a loss. This thing just keeps crashing when the image isn't valid during web scraping and I can usually pad these problems with try/catch blocks.

[2018-08-03 20:46] hipstersmoothie commented on #253
@extend1994 @sufuf3 we now have a working version on npm 💯

we have:

* a browserified version under `browser`
* a babeled to es5 version under `main` in `dist`
* and esmodules version under `es`

[2018-08-03 20:46] #253 closed

[2018-08-03 20:54] hipstersmoothie commented on #508
@NathanYocum should be released 🙏

[2018-08-03 21:03] haggins commented on #493
I'm currently researching which image library might fit best for my "server-less" web app. I just need scaling, resizing and filling background with a color. It would be really cool if features would be modularized so that only that code is included in ones project which you actually use.

Apart from that, this seems to be a very nice project!

[2018-08-03 21:12] marcsyp commented on #215
Can you post your solution or an example? I am trying to accomplish the same.

[2018-08-03 22:14] hipstersmoothie commented on #493
The problem with the bundle doesn't really come from the functions that jimp does. Rather it is the encoding and decoding of images that adds a lot to the bundle. If you were to take out all the rotate, resize, etc the bundle size would basically be the same because the image libraries are the majority of the bundle.

Does your web app require jimp to decode the images? If the answer is yes then t

[2018-08-03 22:21] hipstersmoothie commented on #493
@Killian22 the same goes for you. decoding images is hard and takes some code to do. The getbuffer function uses libraries fro png, jpg, bmp, and tiff. those libararies account for the brunt of jimp.

I've wrestled with this fact for the past week. In the future I may come up with a way to only include the decoding libraries that are needed but until then I think the best solution is to lazy load

[2018-08-03 22:28] Killian22 commented on #493
Thanks! That is what I wanted to hear!  ( I think ) .  The 2k File check in just was kinda scary adding to the project haha.

We're not using this front-end. We have draw routines on the front end using canvas. And even though our app is C# Web app , we are using Node + IISNode + node-canvas so that we can use the same code frontend + backend.

Our backend images are used in reports and those imag

[2018-08-04 01:40] extend1994 commented on #253
@hipstersmoothie Thanks a lot! 👍

[2018-08-04 03:03] sufuf3 commented on #253
Thank you.

[2018-08-04 04:31] hipstersmoothie commented on #330
Seems like there are some good answers above. Closing

[2018-08-04 04:31] #330 closed

[2018-08-04 04:39] hipstersmoothie commented on #402
@huytran0605 can you try out the latest version? If the error persists post the full stack trace please

[2018-08-04 05:26] seantw commented on #507
- OS: Window 10 (x64)
- Install via node-v8.11.3-x64.msi
- Run "npm install -g jimp" on Command Prompt

[install-debug.log](https://github.com/oliver-moran/jimp/files/2259222/install-debug.log)

[2018-08-04 05:36] hipstersmoothie commented on #507
can you check out this https://github.com/npm/npm/issues/10729? I am on a mac and am having trouble reproducing this. I installed the node version but it still installs fine.

If you could post an issue on https://github.com/photopea/UTIF.js/ too that would be cool. I've been trying to get the guy to switch to something that's on the registry

[2018-08-04 08:57] hipstersmoothie commented on #392
@nosteine The image no longer works. can you provide it again?

[2018-08-04 09:01] hipstersmoothie commented on #289
@JOscarEduardo can you provide me some sample code?

[2018-08-04 16:30] seantw commented on #507
UTIF.js  author said  that he has never used NPM :cry:

[2018-08-04 19:39] jotalanusse commented on #505
I run my code in Node, the link I provided was an example. I already tried with every link you posted.

[2018-08-04 20:01] hipstersmoothie commented on #505
PR #510 helps with catching the errors. The link "http://www.images.com/0.jpg" doesn't actaully lead to an image so this is an expected result.

This link still works fine for me "https://images.pexels.com/photos/296282/pexels-photo-296282.jpeg?auto=compress&cs=tinysrgb&h=350" You get the same error with this link?

What version of jimp are you using?

[2018-08-05 06:47] #484 closed

[2018-08-05 07:02] #114 closed

[2018-08-05 08:50] #393 closed

[2018-08-05 15:46] #281 closed

[2018-08-05 20:04] #347 closed

[2018-08-05 20:04] #353 closed

[2018-08-05 20:04] #408 closed

[2018-08-05 20:04] #422 closed

[2018-08-05 20:04] #454 closed

[2018-08-05 20:57] hipstersmoothie commented on #166
omggif is a dep already. if more features are needed new issues should be opened

[2018-08-05 20:57] #166 closed

[2018-08-05 21:33] barisusakli commented on #420
@hipstersmoothie I am still unable to catch the error on 0.3.2, here is the sample app to reproduce. Although the error message changed a bit on 0.3.2.

[code]

Output when executed.

[code]

[2018-08-05 21:34] jtlapp commented on #166
Ah, I see that Jimp now uses the omggif repo. When I was working with it last year, it was using a local copy.

Unless they belong in separate layer which can be implemented as an independent module.

In any case, I've gradually been rewriting Jimp methods for my own purposes at high performance, so I myself don't have any further need for Jimp.

[2018-08-05 21:48] hipstersmoothie commented on #420
Issue has been merged but not released. Look for it in jimp0.3.3
On Sun, Aug 5, 2018 at 2:33 PM Barış Soner Uşaklı <notifications@github.com>
wrote:

[2018-08-05 21:56] barisusakli commented on #420
Ahh thought it was in 0.3.2, I'll test again once 0.3.3 is released.

[2018-08-05 21:57] hipstersmoothie commented on #166
I would love to see those perf improvements in jimp! Do you think they
could be used in jimp?
On Sun, Aug 5, 2018 at 2:34 PM Joe Lapp <notifications@github.com> wrote:

[2018-08-06 03:49] hipstersmoothie commented on #280
Should be good in latest release. Feel free to open more issues if the problem persists!

[2018-08-06 03:49] #280 closed

[2018-08-06 03:58] hipstersmoothie commented on #450
Jimp returns an encoded  bmp. You could just parse the header in js to get to the start of the data. I don’t think that bmp-js has the ability to partially encode an image.

Could you use the raw bitmap before it’s encoded to a filetype? You could access this through image.bitmap I think.

[2018-08-06 04:12] hipstersmoothie commented on #418
@mfaheemakhtar I would say it is. But I have no experience with that technology. If you have a specific example where the code does not work feel free to open an issue.

And if you publish a module with jimp In it add it to the reader!

[2018-08-06 04:12] #418 closed

[2018-08-06 04:42] hipstersmoothie commented on #334
Answered above, closing

[2018-08-06 04:42] #334 closed

[2018-08-06 04:45] hipstersmoothie commented on #322
What mime type do you supply to getbuffer?

[2018-08-06 08:25] tylerlong opened #516 "Wrong font path in NPM package"
[code]

I checked the content of the NPM package, the physical  path is `\node_modules\jimp\fonts\open-sans\open-sans-16-white\open-sans-16-white.fnt`

So either we change the path, or we change where the font is placed physically.

[2018-08-06 08:34] #516 closed

[2018-08-06 08:41] hipstersmoothie commented on #516
should go out in next release!

[2018-08-06 08:41] hipstersmoothie commented on #516
@oliver-moran

[2018-08-06 13:52] jotalanusse commented on #505
Problem solved! I was using the Current version of Node (10.8.0) instead of the LTS (8.11.3). Thanks everyone.

[2018-08-06 13:52] #505 closed

[2018-08-06 20:58] gsalvo opened #519 "Error with exifRotate function"
Hello:

![image](https://user-images.githubusercontent.com/4744433/43740533-76225554-9999-11e8-8294-957cd131ec03.png)

throws the following error:

Error to get image: TypeError: image.exifRotate is not a function

Thanks!

[2018-08-06 21:52] hipstersmoothie commented on #519
exifRotate was mistakenly put in the type file. Use .rotate instead

[2018-08-06 21:52] #519 closed

[2018-08-06 21:53] finneganh opened #521 "Exporting PNG to BMP makes everything red"
I'm trying to load a PNG, tweak it, and export it to a BMP.

When I do so, everything ends up very red.

My guess is that Jimp is passing an RGBA buffer to js-bmp, which is interpreting it as ABGR, which ends up throwing out the red, swapping blue and green, and using the alpha (0xFF) for all red pixels.

<img width="216" alt="screen shot 2018-08-06 at 5 52 55 pm" src="https://user-images.githubus

[2018-08-06 22:58] hipstersmoothie commented on #521
can i get the input png?

[2018-08-07 00:12] finneganh commented on #521
![itemframe_background](https://user-images.githubusercontent.com/260837/43746900-e116519c-99b4-11e8-94d3-b630385ad316.png)

Exporting to JPEG seemed fine.

I added the following hack code to my export and it seems to have solved my issues:
[code]

(This is after cropping the image down to 20x20.)

[2018-08-07 00:40] hipstersmoothie commented on #521
Cool! I hope i can integrate your code. Still need the original source image. Or make a PR if you can

[2018-08-07 00:40] hipstersmoothie commented on #521
unless that little thing is the source

[2018-08-07 02:47] finneganh commented on #521
Yeah, that's the source. It's a Minecraft texture I was working with.

Is it also worth checking that BMPs are the right color order on the way in to Jimp?

[2018-08-07 11:32] 2pai opened #522 "how to set write() to base64"
i want to make the result of image manipulation to base64
so i can display it without store the image on my server
this is my code

[code]
but the result is undefined

[2018-08-07 15:43] gsalvo commented on #519
Hi.
I have a question. ¿How can i rotate automatically an image based on its EXIF data with .rotate?

Thanks!

[2018-08-07 15:44] CepheiA commented on #519
+1

[2018-08-08 00:01] Alec-Fox opened #523 "text - writing special characters"
For special characters that are not in the font, is it possible instead of Jimp ignoring them, to write a certain character (ex ツ would output as ?)

[2018-08-08 00:35] hipstersmoothie commented on #519
the image should be exif rotated automatically when loading the image. you don't have to do anything

also @CepheiA please no '+1's use the reactions

[2018-08-08 00:39] hipstersmoothie commented on #522
just use the `base64` function instead of `write`

Jimp.read(
  'https://scontent-sin6-1.cdninstagram.com/vp/86449fc9f74675290a52d4e2a133fdf9/5C0C1F53/t51.2885-15/e35/19436764_1153046358134464_2721742701283246080_n.jpg'
).then(img => {
  img.getBase64(Jimp.AUTO, (err, res) => {
    console.log(res)
  })
});

[2018-08-08 00:39] #522 closed

[2018-08-08 07:56] #523 closed

[2018-08-08 10:11] rorbla opened #525 "Could not find MIME for Buffer <File.PNG>"
I'm trying to resize a file that i get from an <input  type="file">
`Jimp.read(params.file.name, (err, file) => {
        if (err) throw err;
             file
            .resize(256, 256) // resize
     );`

But i have this error:  Could not find MIME for Buffer <File.PNG>
I've tried using 'blob-to-buffer' library too
`const responseBlob = await fetch(`${params.file.preview}`);
    const blob =

[2018-08-08 11:58] gsalvo commented on #519
Ok thanks!!

[2018-08-08 12:06] albertodangelo opened #526 "Error with Node > 6.0"
After latest update I had a problem running Jimp on AWS Cloud9. Seems to be an error in the  index File in the dist folder.  Object.entries does not work in Node 6+ preferable using Object.keys

[2018-08-08 17:55] hipstersmoothie opened #527 "Fix chaining"
we take an optional callback but return it. this make it impossible to chain off of the this value. I propose changing all of these:

[code]

To this:

[code]

which will allow the callback to be called but still allow chaining.

@edi9999 What do you think?

[2018-08-08 21:13] jagsarai opened #528 "Are .rotate() and .getBase64() method lossless"
I have a question regarding the rotate() and getBase64() methods. Wasn't able to find much information on it. Are manipulated images ( using either of the two methods above) lossless? The original image is .jpeg and the resulting image type is not being changed.

[2018-08-08 23:40] hipstersmoothie commented on #528
Jimp will do not 'compression' during transformations. It just takes the bitmap and does the specified transform. The resulting image may be bigger because the JS libraries we use to encode images aren't perfect.

[2018-08-08 23:40] #528 closed

[2018-08-09 00:02] hipstersmoothie commented on #506
You could expose this the line counting functionality. IDK of any current way to get what you want. PRs are welcome! All the printing code is found in `src/image-manipulation/text.js`

[2018-08-09 07:26] hipstersmoothie opened #531 "Stop extending event emmiter"
It seems weird to me that we extend a event emmiter. IDK how many people use the emitted event but it seems more like hinderance than a feature to me.

[2018-08-09 07:32] #432 closed

[2018-08-09 07:32] #521 closed

[2018-08-09 07:33] #526 closed

[2018-08-09 07:34] edi9999 commented on #527
Yes, what you propose seems good to me, I don't see a good reason for returning the callback return value.

[2018-08-09 07:36] #139 closed

[2018-08-09 07:38] hipstersmoothie commented on #527
Nice I'll get a PR together

[2018-08-09 07:41] edi9999 opened #532 "All tests could also be running in the browser"
Some of the tests are not runned in browser environment :

For example : https://github.com/oliver-moran/jimp/blob/master/test/filetypes.test.js#L13

I think it would be possible to have a function that can read from the disk using one of :

`fs.readFile(path)`

`fetch(path).then(function(response) {return response.text()})` with a static webserver running

What do you think of that @hipstersmooth

[2018-08-09 07:42] edi9999 commented on #532
Maybe instead of having a condition detecting if the build is in the browser we could even use a webpack-loader to load the pngs using require.

[2018-08-09 07:43] hipstersmoothie commented on #532
I think we have something similar `getJimpDir` gets images and fonts served in the browser. The test you cite writes back to the filesystem, something I don't think we can do.

[2018-08-09 07:43] edi9999 commented on #531
Yes, extending event emitter is probably not a used feature, just legacy.

[2018-08-09 07:45] hipstersmoothie commented on #532
A combination of

https://github.com/oliver-moran/jimp/blob/5294ae92c0cb3c6a757b732eb0822200ee71f8a2/src/constants.js#L50

and

https://github.com/oliver-moran/jimp/blob/master/karma.conf.js#L26

serve files to the browser.

[2018-08-09 07:46] edi9999 commented on #532
Some of the other tests could run in the browser too I think : https://github.com/oliver-moran/jimp/blob/master/test/async.test.js#L44

[2018-08-09 07:46] hipstersmoothie commented on #532
Also I don't believe we should be doing any webpacking in jimp. Libraries like jimp should not be webpacked I beleive.

https://twitter.com/HipsterSmoothie/status/1023034485749637120

[2018-08-09 07:47] hipstersmoothie commented on #532
I am ES6ing the tests right now. I'll unblock the `getBuffer` and `getAync` in the browser.

[2018-08-09 07:48] hipstersmoothie commented on #532
async/await make the tests so much more readable

[2018-08-09 07:49] edi9999 commented on #532
Ok, good !

[2018-08-09 08:08] rorbla commented on #525
Rubén Ordieres

2018-08-08 19:23 GMT+02:00 Andrew Lisowski <notifications@github.com>:

[2018-08-09 09:00] #527 closed

[2018-08-09 09:01] #532 closed

[2018-08-09 09:02] hipstersmoothie commented on #525
@rorbla No image was attached!

[2018-08-09 09:07] hipstersmoothie commented on #200
closed via #514

[2018-08-09 09:07] #200 closed

[2018-08-09 09:18] hipstersmoothie commented on #356
color compositions seems to work. the following fills different colors:

[code]

[2018-08-09 09:18] #356 closed

[2018-08-09 10:46] rorbla commented on #525
<img width="1027" alt="research" src="https://user-images.githubusercontent.com/26737610/43894216-b283ffa4-9bd1-11e8-959e-be4b11063156.PNG">
Uncaught Error: Could not find MIME for Buffer <research.PNG>

![canyon](https://user-images.githubusercontent.com/26737610/43894242-d0ef9930-9bd1-11e8-945f-c90496fe1325.png)
Uncaught Error: Invalid file signature with the 2nd

![09-posterization-opt](https:/

[2018-08-09 11:02] finneganh commented on #521
Yay! Thanks so much!

On Thu, Aug 9, 2018 at 3:32 AM Edgar Hipp <notifications@github.com> wrote:

[2018-08-09 11:26] itsTeknas opened #536 "Catching errors on faulty image urls is not working."
[code]

[code]

[2018-08-09 11:29] itsTeknas commented on #536
Might be related to #262

[2018-08-09 11:31] itsTeknas commented on #536
This functionality is working in v0.2.27

[2018-08-09 12:10] chancein007 opened #537 "How to add red or purple color text on the image?"
var Jimp = require('jimp');
Jimp.read('test.jpg', (err, image) => {
    if (err) throw err;
    Jimp.loadFont(Jimp.FONT_SANS_32_BLACK).then(function(font) {
        image.print(font, 10, 10, 'Hello world!');
        image.write('lena-small-bw.jpg');
    });
});

I can use the above source to write 'Hello world!' on the test.jpg picture, however, it seems that Jimp only can write white or black tex

[2018-08-09 13:36] maxdanilov opened #538 "Version 0.3.3 should be pushed to NPM registry"
Here the latest published one is 0.3.2: https://www.npmjs.com/package/jimp

[2018-08-09 16:43] hipstersmoothie commented on #538
Should be published within the day. @oliver-moran holds the keys