[2018-08-09 16:43] #538 closed

[2018-08-09 16:51] hipstersmoothie commented on #537
I think you have to find a bitmap font that is already colored. Printing seems to work by having a bitmap font file that maps characters to a special png with all the characters on it already. You might have to play around with a few tools to get your fonts to have color

some examples after a little googling

https://www.colorfonts.wtf/
https://learn.fontself.com/create-your-first-color-font-step

[2018-08-09 16:57] #390 closed

[2018-08-09 17:02] #537 closed

[2018-08-09 17:03] hipstersmoothie commented on #536
Should work in v0.3.3 when it gets released. 🙏 @oliver-moran

[2018-08-09 17:03] #536 closed

[2018-08-09 17:18] hipstersmoothie commented on #521
thanks for the code 👍

[2018-08-10 01:06] chancein007 commented on #537
@hipstersmoothie  Many thanks

[2018-08-10 09:03] maxdanilov commented on #538
Still not there. @oliver-moran do you have ETA on the package publication?

[2018-08-10 12:16] AtaS opened #540 "getBufferAsync() returns Promise<Jimp> and not Promise<Buffer>"
These below are from `jimp.d.ts` file. By using `getBuffer()` method we can obtain the `buffer` object in the callback.

[code]

How can we do the same with `await getBufferAsync()` as it returns a type of `Promise<Jimp>` rather than a type of `Promise<Buffer>`?

[2018-08-10 17:01] hipstersmoothie commented on #540
fixed in master https://github.com/oliver-moran/jimp/blob/master/jimp.d.ts#L252

[2018-08-10 17:01] #540 closed

[2018-08-10 17:04] hipstersmoothie commented on #538
It could happen today. It all depends on @oliver-moran getting around to it and the tests passing. Right now they pass so I'm hoping for 12pm-4pm PST. But again I don't hold the keys

[2018-08-10 18:17] AtaS commented on #540
Great, thanks!

[2018-08-11 12:07] lonix1 opened #543 "0.3.3 : Cannot find module 'core-js/modules/es6.array.is-array'"
jimp 0.3.3
ubuntu 18

`package.json`:
[code]

`app.js`:
[code]

run it:
`node app.js`

result is an error with:
`Error: Cannot find module 'core-js/modules/es6.array.is-array'`

[2018-08-11 13:36] termax commented on #543
same here

[2018-08-11 17:28] lonix1 commented on #543
@hipstersmoothie I should have mentioned I'm on LTS of everything, so
ubuntu 18.04
`npm -v` = 3.5.2
`node -v` = 8.10.0
Maybe you're on bleeding edge?

[2018-08-11 17:29] hipstersmoothie commented on #543
Did my above fix help until a release can get out?

[2018-08-11 17:32] lonix1 commented on #543
@hipstersmoothie I don't use yarn, so don't know if that works, sorry. But I downgraded to 0.3.2 which works for me.

[2018-08-11 17:33] hipstersmoothie commented on #543
Can you verify the babel polyfill? you can instead just

[code]

npm i and yarn add are the same thing

[2018-08-11 17:36] lonix1 commented on #543
@hipstersmoothie I tried that and it works. Might be useful for those using those tools, thanks.

I'll wait for the next version though.

[2018-08-11 17:45] hipstersmoothie commented on #543
I'm gonna keep this open til a release happens

[2018-08-11 17:53] RumbleFrog commented on #543
Thought my node installation was broken, was going insane. Thanks for the quick release.

[2018-08-11 17:55] hipstersmoothie commented on #543
I'm trying to get it release ASAP. But I don't have the key yet. In the meantime please install @babel/polyfill and jimp should work as expected

[2018-08-11 20:46] oliver-moran commented on #543
I've published the release but the problem seems to be still there in 0.3.4.

![screen shot 2018-08-11 at 21 39 11](https://user-images.githubusercontent.com/414918/43995900-d27d2710-9daf-11e8-8f3e-971d579008bd.png)

This is from my smoke test as follows:

[code]

[2018-08-11 20:55] oliver-moran commented on #543
I've published the release but the problem seems to be still there in 0.3.4.

![screen shot 2018-08-11 at 21 39 11](https://user-images.githubusercontent.com/414918/43995971-38890014-9db1-11e8-9057-bea2edf7fa43.png)

This is from my smoke test as follows:

[code]

[2018-08-11 20:57] hipstersmoothie commented on #543
It got added as a dev dep so it wasn't installed 😢

[2018-08-11 21:03] johnnykramer commented on #543
still `Error: Cannot find module 'core-js/modules/es6.array.is-array'`...

[2018-08-11 21:05] hipstersmoothie commented on #543
I just pushed a commit that should resolve the issue. https://github.com/oliver-moran/jimp/commit/97ed2a524ea4263af2581dd20578f166d714fd34 @oliver-moran

[2018-08-11 21:17] johnnykramer commented on #543
@hipstersmoothie sorry but still `Error: Cannot find module 'core-js/modules/es6.array.is-array'`

[2018-08-11 21:29] johnnykramer commented on #543
@hipstersmoothie unfortunately, last commit didn't...

[2018-08-11 21:30] hipstersmoothie commented on #543
My branch here seems to work. I ran

[code]

and running the above code yields no errors.

[2018-08-11 21:52] johnnykramer commented on #543
[code]
And still `Error: Cannot find module 'core-js/modules/es6.array.is-array'`

[2018-08-11 21:54] hipstersmoothie commented on #543
did you `rm -rf node_modules/`

[2018-08-11 21:56] oliver-moran opened #545 "RFC: Andrew Lisowski (hipstersmoothie) as NPM maintainer?"
About 18 months ago, [I put call out](https://github.com/oliver-moran/jimp/issues/219) saying I was no longer able to actively look after this project and that I was looking for collaborators. I took the approach of giving write access here to anyone who asked. Thank you to everyone who did. There have been some brilliant improvements since. However, I held back giving NPM publishing rights for ob

[2018-08-11 21:57] hipstersmoothie commented on #543
@johnnykramer what version of node are you using?

[2018-08-11 22:00] johnnykramer commented on #543
@hipstersmoothie
[code]
yes, i've done `rm -rf node_modules/`

[2018-08-11 22:05] oliver-moran commented on #543
I've published 0.3.5. Smoke test works again from my end.

I'm also using v8.11.3.

[2018-08-11 22:06] hipstersmoothie commented on #543
I just tested with v8.11.3 also and it seems to work

[2018-08-11 22:06] hipstersmoothie commented on #543
@johnnykramer can you test with v0.3.5 ?

[2018-08-11 22:11] johnnykramer commented on #543
@oliver-moran @hipstersmoothie
node v10.8.0 also `Error: Cannot find module 'core-js/modules/es6.array.is-array'`

[2018-08-11 22:15] hipstersmoothie commented on #543
I can no longer reproduce the issue on any version of node. Could you throw a sample project together.

this is my setup right now:

[code]

[code]

[code]

[2018-08-11 22:24] hipstersmoothie commented on #543
maybe its a lock file problem? try deleting any of those if you have them

[2018-08-11 22:29] johnnykramer commented on #543
@hipstersmoothie yes, `@babel/polyfill` present in the jimp's dependencies

[2018-08-11 22:29] hipstersmoothie commented on #543
<img width="893" alt="screen shot 2018-08-11 at 3 28 51 pm" src="https://user-images.githubusercontent.com/1192452/43996604-58518762-9d7b-11e8-9549-4bd12161d1ea.png">

[2018-08-11 22:30] hipstersmoothie commented on #543
can i see the full stack trace?

[2018-08-11 22:32] hipstersmoothie commented on #543
core-js is in node modules too?

[2018-08-11 22:44] johnnykramer commented on #543
[code]
`core-js` also installed.
@hipstersmoothie

[2018-08-11 22:48] hipstersmoothie commented on #543
Okay I'm a little baffled. I can't reproduce this at all. Is this within a AWS instance?

[2018-08-11 22:48] hipstersmoothie commented on #543
The dependancies are installed so I don't know why it can't resolve them...

[2018-08-11 22:51] hipstersmoothie commented on #543
does it work if you add `@babel/polyfill` or `core-js` directly?

[2018-08-11 22:52] hipstersmoothie commented on #543
How about what npm version are you using?

[2018-08-11 22:54] hipstersmoothie commented on #543
If you are on npm@2 it could be a problem https://github.com/babel/babel-preset-env/issues/162

[2018-08-11 22:59] johnnykramer commented on #543
it is cloud9 on the aws ec2 instance.
npm v6.2.0

[2018-08-11 23:00] johnnykramer commented on #543
And i've installed `@babel/polyfill` and `core-js` manually — still not working! :(

[2018-08-11 23:02] hipstersmoothie commented on #543
I have no experience with aws. You have any ideas? I'll search around for similar issues

[2018-08-11 23:03] hipstersmoothie commented on #543
you definitely have `core-js/modules/es6.array.is-array` installed and babel is for sure trying to include it. maybe you could globally install it on the instance? (I'm just taking guesses at this point)

[2018-08-11 23:28] hipstersmoothie commented on #543
Awesome!

[2018-08-11 23:30] hipstersmoothie commented on #543
now to figure out why core-js 3 was being installed

[2018-08-11 23:31] hipstersmoothie commented on #543
I'm looking at the lock file and see no reference to core-js v3

[2018-08-11 23:33] hipstersmoothie commented on #543
So on a clean install it defaults to core-js@3-ish?

[2018-08-11 23:34] hipstersmoothie commented on #543
These are my only entries for core-js in my yarn.lock

[code]

and in the package-lock.json

[code]

what does your lock file look like?

[2018-08-12 03:14] #543 closed

[2018-08-12 03:57] hipstersmoothie commented on #525
running this code I cannot reproduce the issues. First I right clicked the images and just saved them.

[code]

test.js:
[code]

Both buffers print fine

[2018-08-12 04:28] hipstersmoothie commented on #370
Closing:

* You are expicitely telling jimp where to put this. #506 asks for a way to know how many lines a block of text will be
* text wrapping is working. if @FireController1847 can provide an example please file a new issue

[2018-08-12 04:28] #370 closed

[2018-08-12 04:29] hipstersmoothie commented on #309
This seems to work in the current version. Feel fre to file a new issue if the problem persists!

[2018-08-12 04:29] #309 closed

[2018-08-12 04:32] hipstersmoothie commented on #406
Tried in current version (v0.3.4) with no problems

![anime-test](https://user-images.githubusercontent.com/1192452/43998598-104e2082-9dae-11e8-8c11-f47e6bc02b35.png)

[2018-08-12 05:43] hipstersmoothie commented on #431
`loadFont` does not currently load fonts from a url. This enhancement is tracked in #448. closing

[2018-08-12 05:43] #431 closed

[2018-08-12 05:44] hipstersmoothie commented on #327
@mepdr are you sure that the buffer contains just the image? can i test it out with the image you are using?

[2018-08-12 05:50] hipstersmoothie commented on #291
This was probably due to #510 (errors being uncatchable). Feel free to open another issue if you still have problems!

[2018-08-12 05:50] #291 closed

[2018-08-12 05:52] hipstersmoothie commented on #292
closing in favor of #243

[2018-08-12 05:52] #292 closed

[2018-08-12 06:01] hipstersmoothie commented on #365
@khyokhyo @riatzukiza @bruno-serfe

I can't really see whats wrong with the second image. can you point me towards whats wrong? also this might just be an issue with jpeg-js.

Can you try just reading then immediately writing? Does the issue persist? If it does this is more likely a dupe of https://github.com/oliver-moran/jimp/issues/121 and not an issue with composite.

[2018-08-12 06:06] lonix1 commented on #543
@hipstersmoothie Thanks for fixing this.

Off topic, what terminal are you using [in that image](https://github.com/oliver-moran/jimp/issues/543#issuecomment-412305512)?

[2018-08-12 06:08] FireController1847 commented on #370
apologies for not responding, honestly it's been so long I forgot about the issue and I'm not even attempting this anymore lol

[2018-08-12 06:09] hipstersmoothie commented on #392
I just tried with https://upload.wikimedia.org/wikipedia/commons/2/2d/Snake_River_%285mb%29.jpg (5mb) and it seemed to work. Imma guess this was a problem with jpeg-js. Please try with the latest release. Will be closing this soon if no reply is given

[2018-08-12 06:11] hipstersmoothie commented on #543
@lonix1 Integrated vscode terminal, oh-my-zsh, with my custom theme https://github.com/hipstersmoothie/PowerlevelHipstersmoothie

[2018-08-12 06:12] hipstersmoothie commented on #543
🤘 Weed leafs and flames 🤘

[2018-08-12 06:15] hipstersmoothie commented on #301
@felixfong227 what do you mean by image data destroyed? the EXIF data?

[2018-08-12 07:27] hipstersmoothie commented on #235
The `composite` function will overlay one image onto another. You can also set the opacity of the overlayed image.

[code]

[2018-08-12 07:27] #235 closed

[2018-08-12 07:28] hipstersmoothie commented on #234
look at #388

[code]

[2018-08-12 07:28] #234 closed

[2018-08-12 07:29] hipstersmoothie commented on #248
They will all have similar performance.

[2018-08-12 07:29] #248 closed

[2018-08-12 07:30] hipstersmoothie commented on #371
SVG is not supported. just use css for that. Otherwise use the `brightness` function

[2018-08-12 07:30] #371 closed

[2018-08-12 07:31] hipstersmoothie commented on #180
Feel free to open issues if they persist. Since no example code has ever been posted closing.

[2018-08-12 07:31] #180 closed

[2018-08-12 07:32] hipstersmoothie commented on #401
@liupishui

The `composite` function will overlay one image onto another. You can also set the opacity of the overlayed image.

[code]

[2018-08-12 07:32] #401 closed

[2018-08-12 07:33] hipstersmoothie commented on #405
@marcolino is @steffkelsey's answer sufficient?

[2018-08-12 07:39] hipstersmoothie commented on #423
`diff` will return an image with differing pixels. that both try to calculate how similar the images are

jimp works on a pixel bitmap. it has no object detection built in, and it is out of scope of this library. ignoring the background is not an option since we don't detect that. If you can write an implementation that isn't to heave feel free to make a PR!

[2018-08-12 07:39] #423 closed

[2018-08-12 07:47] hipstersmoothie commented on #148
@thread So you guys want a function `writeStream` which returns the encoded data as a stream? No matter what we have to make the data into a buffer before you get the data back. We have to encode the bitmap data into the desired format. So I'm not sure you can really skip the conversion to a buffer.

Ideas?

[2018-08-13 08:54] shawmraz commented on #182
1

[2018-08-13 08:58] hipstersmoothie commented on #182
@c1c2ai @shawmraz Jimp is primarily a bitmap manipulator. So it needs a bitmap font. Try using a tool to convert your ttf font to a bitmap font. Jimp cannot support non-bitmap fonts

[2018-08-13 08:58] #182 closed

[2018-08-13 09:13] shawmraz commented on #419
@kreja I wanna print Chinese too , do you have any idea? thx

[2018-08-13 09:14] hipstersmoothie commented on #419
@kreja @shawmraz It should work if you have a bitmap font that supports chinese characters

[2018-08-13 09:15] hipstersmoothie commented on #419
If one of you can provide me with one I can verify if it works

[2018-08-13 12:14] chancein007 opened #548 "Can't load open-sans-32-white.fnt"
After installing the jimp by the below command:
npm install jimp --save
and I tried to run the below source code
----------------------------------------------------------------
var Jimp = require('jimp');
Jimp.read('test.png', (err, image) => {
    if (err) throw err;
    Jimp.loadFont(Jimp.FONT_SANS_32_WHITE).then(function(font) {
        image.print(font, 10, 10, 'Hello World!')
        .fade(0

[2018-08-13 16:52] hipstersmoothie commented on #548
@chancein007 What version are you using? This should be fixed

[2018-08-15 00:07] hipstersmoothie commented on #236
The fonts do work, I can verify that. use a tool like https://github.com/libgdx/libgdx/wiki/Hiero to convert your font. I tried your font and it worked fine. make sure to move both the .fnt and .png file that are generated.

[2018-08-15 00:07] #236 closed

[2018-08-15 00:13] hipstersmoothie commented on #205
https://github.com/mattdesl/parse-bmfont-xml/pull/2

[2018-08-15 08:39] mattdesl commented on #205
I merged in those two PRs for the bmfont modules. Let me know if there's anything else!

[2018-08-15 08:40] #205 closed

[2018-08-15 08:41] hipstersmoothie commented on #205
@mattdesl I just tested it and it works! Thanks for the quick response.

[2018-08-15 09:33] chancein007 commented on #548
The version is   "jimp": "^0.3.2"

[2018-08-15 09:39] chancein007 opened #552 "Can Jimp provide more size types of white color as black color?"
Jimp  is great library.

As we known that Jimp default provide open-sans fonts with white color as below:
open-sans-8-white
open-sans-16-white
open-sans-32-white
open-sans-64-white
open-sans-128-white

Can Jimp provide more size types of white color as black color? For example,
open-sans-10-white
open-sans-12-white
open-sans-14-white
open-sans-18-white

Thanks in advance

[2018-08-15 16:54] hipstersmoothie commented on #548
This should be fixed in v0.3.3. But you should install latest (v0.3.4)

[2018-08-15 16:54] #548 closed

[2018-08-15 16:55] hipstersmoothie commented on #552
It's pretty easy to make your own fonts. Try out the tools linked in the README

⭐️ http://kvazars.com/littera/

⭐️ https://github.com/libgdx/libgdx/wiki/Hiero

[2018-08-15 16:55] #552 closed

[2018-08-15 23:47] hipstersmoothie commented on #439
@ETLegacyy @glyphCezilleSantillan #388 seems to have a working way to rotate the font. similar to what @glyphCezilleSantillan describes.

@glyphCezilleSantillan "It isn't perfect; the placeholder might be too small, for instance; you have to check the output or manage the string length." - this is true regardless of rotation. if your string goes off the page it's on you to manage a correct maxWidt

[2018-08-15 23:47] #439 closed

[2018-08-15 23:59] hipstersmoothie commented on #388
@edi9999 have any ideas on how to fix this?

[2018-08-16 01:25] hipstersmoothie commented on #388
So after some reading it seems like we somehow need anti-aliasing on rotation

[2018-08-16 01:29] hipstersmoothie commented on #388
this looks like a good solution

https://www.npmjs.com/package/multimath

look up unsharp mask

[2018-08-16 02:01] chancein007 commented on #548
many thanks

[2018-08-16 02:02] chancein007 commented on #552
many thanks

[2018-08-16 02:26] hipstersmoothie commented on #388
it doesn't seem that anti-aliasing is the solution given the comments here
https://stackoverflow.com/questions/3011274/antialiasing-algorithm

[2018-08-16 20:17] MLiranG opened #554 "make jimp supporting otf font files"
please make jimp supporting otf font files, its making me go crazy becuase there isn't any otf to fnt font converters.

please, send me a online converter or make jimp support otf font files

[2018-08-17 16:54] hipstersmoothie commented on #554
@MLiranG i just used hiero (linked in the readme) to convert an otf font with ease. I'll look into supporting those font types but it might not be possible

[2018-08-17 17:43] hipstersmoothie commented on #554
I just looked into it more. this requires canvas to be available for jimp to render the text chars.

To do this we would have to:

1. load font.
2. render chars to canvas
3. convert canvas to RGBA data

All the canvas for node implementations I have found require OS specific dependancies. This breaks the core rule of jimp "full javascript image manipulation".

If you can find a good way to convert

[2018-08-17 17:43] #554 closed

[2018-08-17 23:34] hipstersmoothie commented on #388
I think the only solution is to do the scaling described above making sure to use the smallest img possible for the text printing. It seems to have the best results

[2018-08-18 01:50] hipstersmoothie commented on #506
Exposing the function would accomplish the same thing though. Calling the measureText function twice...

[2018-08-18 04:16] hipstersmoothie commented on #459
@JonathanBouligny did you get this working?

[2018-08-18 04:17] #450 closed

[2018-08-19 13:33] Zyberg commented on #506
@hipstersmoothie this would work without calling the same function twice, so it looks like a great solution.

[2018-08-20 01:01] Slyke opened #556 "Modify H and V resolution, and change resolution unit."
# Expected Behavior

Image is being saved with a horizontal and vertical resolution of 96 dpi, even though the input image is 1 dpi. The Resolution Unit also doesn't appear to be saved.

# Current Behavior

Jimp is setting its own values, regardless of the input image. There doesn't appear to be a way to change these settings either.

# Failure Information (for bugs)

I would expect the meta data

[2018-08-20 02:27] hipstersmoothie commented on #556
@Slyke this is probably an issue with https://github.com/eugeneware/jpeg-js. I have an issue open to encode exif data here. The DPI issue seems different though, you might want to open another issue there.

I might try to pursue this on my own, but I don't know how easy it will be to add these features to jpeg-js.

[2018-08-20 05:36] Slyke commented on #556
As in the other thread, @patrickhulce suggested to use https://github.com/hMatoba/piexifjs to encode and decode exif data.

[2018-08-20 05:38] hipstersmoothie commented on #556
PRs welcome! I'm gonna investigate moving just the bytes over as that seems like it could work well. I'll probably get to it later this week

[2018-08-20 06:02] ahmed-sharief5 opened #557 "mimeType = "video/mp4" doesn't work"
Hi, I am trying to create a thumbnail from video using your npm  but unfortunately its showing me the error mentioned in the title. Does not this package supports video format?? Please help me to resolve this issue

[2018-08-20 06:06] hipstersmoothie commented on #557
Nope, jimp is for manipulating images, not videos. maybe try https://www.npmjs.com/package/quicklook-thumbnail

[2018-08-20 06:06] #557 closed

[2018-08-20 06:08] ahmed-sharief5 commented on #557
Ok thank you

[2018-08-20 16:02] XkijuX opened #558 "Module Build needs to export '*.mjs'"
Ok so this is the error
[code]

How i got it:
[code]

im using this version of jimp
`` "jimp": "^0.3.5",``

im on **meteor** with **node.js** both should be up to date

[2018-08-20 17:06] hipstersmoothie commented on #558
the module version of jimp should only be used in environment supporting it. I've gotten it working with webpack. Does meteor support module builds? Otherwise just import 'jimp'

[2018-08-20 17:09] hipstersmoothie commented on #558
There does seem to be a bug in our module build though. the files should end with `.mjs` for node.

[2018-08-20 21:51] oliver-moran commented on #545
🎈🎈 🎉 🎉 🎈🎈

Congratulation, Andrew Lisowski (@hipstersmoothie)!
I've added you as a maintainer on NPM.

🎈🎈 🎉 🎉 🎈🎈

Thank you for all your work! I am sure the project will continue to go from strength to strength under your guidance!

[2018-08-20 23:54] #545 closed

[2018-08-21 04:41] Slyke commented on #556
Not sure how to integrate this smoothly with piexifjs.

I got it working on my own repo, but it involves reading the source image, storing the metadata in memory, then writing over the output image's metadata once the file has been written. I'll see if I can figure out how to optionally inject the source metadata into the output buffer on here.

See: https://github.com/Slyke/Yi-360-Studio-Image-Cu

[2018-08-21 11:47] DennisJames commented on #437
I am experiencing this problem too, have you found the way to fix?

[2018-08-21 12:23] rxluz opened #560 "Jimp UTIF dependency breaking elasticbeanstalk/AWS deploys"
# Expected Behavior

The application runs without errors

# Current Behavior

When I tried to update JIMP to 0.3.5 it's break my AWS deploy once UTIF uses jpgjs from github, not from npm, probably AWS doesn't accept this dependency type

## Steps to Reproduce

1. Update JIMP to 0.3.5
2. Deploy to elasticbeanstalk/AWS

## Context

-   Jimp Version: 0.3.5
-   Operating System: Linux
-   Node version

[2018-08-21 16:15] Favna opened #562 "Unable to print larger font ("cannot read property width of undefined")"
# Expected Behavior

Font is printed to the image successfully

# Current Behavior

Jimp throws an error saying the width cannot be found despite the font file working in the past before v0.3.X. Oddly enough a smaller variant of the same bitmap font does work.

# Failure Information (for bugs)

[code]

## Steps to Reproduce

1. Download this larger font file: [fonts.zip](https://github.com/oliver-

[2018-08-21 16:51] hipstersmoothie commented on #560
@rxluz do you have git installed?

[2018-08-21 16:55] Favna commented on #562
Update: I messed around a bit with BitMapFontGenerator, the program I use, and I managed to fix it with a new font but I honestly have no idea what the reason is why the bug occurs. The only difference is that I enabled spaces and small cap letters as well as the full alphabet while the previous one only had the letters I would ever need anyway.

Fact still remains that pre-0.3.X my font worked ju

[2018-08-21 17:02] hipstersmoothie commented on #562
Yeah your larger font is missing most characters. It only has around 10 chars.

I know why it might no work with a full alphabet. PR incoming

[2018-08-21 17:04] #562 closed

[2018-08-22 08:18] chancein007 opened #564 "Optimize print function"
I tried to use the below source code to generate image that combined the template image and text together.
 Jimp.read(templateImagePath, (err, image) => {
        let start1=new Date().getTime();
        if (err) throw err;
        image.print(fontSize28, 24, 24, typeDescription)
        .print(fontSize28, 24, 180, date)
        .print(fontSize36, 24, 220, duration)
        .resize(399,209)

[2018-08-23 03:07] hipstersmoothie commented on #560
Also please post a comment here. https://github.com/photopea/UTIF.js/issues/39 The more complaining we do the faster they can merge

[2018-08-23 04:08] chancein007 commented on #564
Use the gm framework can resolve this issue

[2018-08-23 23:35] lipho commented on #560
We are encountering this issue.  Have git installed in the container and also have other git/github dependencies resolve correctly.

[2018-08-24 00:02] hipstersmoothie commented on #560
@lipho  can you go to the mentioned issue and comment there too?  Part of the problem is that they’re using an unmaintained fork of that library

[2018-08-24 02:32] hipstersmoothie commented on #560
Oh yeah there was a bug for git resolution in older nom. @lipho I’d still appreciate a comment of the utif issue!

[2018-08-24 08:18] rxluz commented on #560
@hipstersmoothie Yes I have, but the issue isn't in my local environment, the problem is when I try to update the application to AWS, probably they don't accept git dependencies in package.json, I backed to Jimp 0.2.28 version and worked well

[2018-08-24 08:36] hipstersmoothie commented on #560
Check your node version. I’m gonna do a release tomorrow that allows you to
exclude tiff as a image option
On Fri, Aug 24, 2018 at 1:18 AM Ricardo Luz <notifications@github.com>
wrote:

[2018-08-25 01:08] luigi-rosso opened #565 "Wrong documentation for buffer constructor."
# Intro
This documentation is wrong:
[code]

# Expected Behavior
Construct an image from a buffer by calling:

[code]

# Current Behavior
Error occurs complaining about unexpected/wrong parameters.

# Failure Information
I peaked through the source and realized that the buffer field is actually expected to be named **data**. This will work:
[code]

Relevant internal code here:
https://github.com/o

[2018-08-25 02:13] hipstersmoothie commented on #565
Wanna make a PR? @luigi-rosso

[2018-08-25 12:14] d07RiV commented on #565
Just ran into the same issue and got the same answer after debugging. +1

[2018-08-25 16:03] luigi-rosso commented on #565
Thanks for submitting @d07RiV!

I hadn't submitted one myself as I wanted to give the author the option of deciding whether to change the docs or the code. Not sure which is preferred, but the name **buffer** is nice as it also implies the expected type.

[2018-08-25 19:04] #565 closed

[2018-08-25 19:09] edi9999 commented on #487
Yes, good work again !

[2018-08-25 19:09] hipstersmoothie commented on #564
Gm is not an option for jimp. We have to run in browser and in node. so we can't use gm. as for making that faster I'm not sure how much we can. There might be some optimization we can do to the print function.

[2018-08-25 22:48] k1ker opened #568 "Error: text must be a string or an object"
Can you allow also numbers? Maybe just converted to string behind the scene?)

[2018-08-27 08:51] darkbob opened #574 "core-js version conflict"
# Expected Behavior

For jimp not to crasch when required.

# Current Behavior

Crash on require.

# Failure Information (for bugs)

Stack trace:

Error: Cannot find module 'core-js/modules/es6.object.define-property'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Module.require (module.js:596:17)
    at require (internal/module.js

[2018-08-27 08:53] hipstersmoothie commented on #574
This is an old bug. Please update to a newer version of jimp. This bug was fied on v0.3.5

[2018-08-27 09:08] darkbob commented on #574
Still an issue. Please check https://github.com/darkbob/jimp-issue-754

[2018-08-27 09:10] hipstersmoothie commented on #574
This is probably because babel polyfill relies on a specific version of core-js.

[2018-08-27 09:15] lillem4n commented on #574
I got hit on this on multiple projects last evening.

[2018-08-27 17:26] hipstersmoothie commented on #574
is there anyway that you can upgrade to core-js v2.5.7? is there a reason you need to use the older version? @darkbob @lillem4n

[2018-08-27 17:42] darkbob commented on #574
It's one of my dependencies that uses an old version of core-js and for some reason it installs that version in the root of my dependency tree. Why cant jimp have core-js as a dependency when it obviously depends on it?

[2018-08-27 17:44] hipstersmoothie commented on #574
jimp depends on '@babel/polyfill' which in turn depends on 'core-js'. Since npm an yarn both install only one version of a dependency it would not matter if we depended on it directly. The same issue would happen.

[2018-08-27 17:49] lillem4n commented on #574
Hm, I don't know about yarn but npm will install the specific depended upon version if it is required by the package. It would save us in our projects at least if jimp had a pinned dependency for core-js v2.5.7, I think.

[2018-08-27 17:50] lillem4n commented on #574
Also, since Jimp directly requires the specific core-js file/lib a change in babel upstream would also break jimp in the future. The logical thing, I think, is to add core-js as a direct dependency to jimp.

[2018-08-27 18:02] hipstersmoothie commented on #574
@lillem4n can you try out v0.3.8 for me?

[2018-08-27 18:34] hipstersmoothie opened #577 "Renovate testing"
# Expected Behavior

Tests currently live in just the `jimp` package. This means we don't have coverage generated for any of the other packages.

Testing should be set up in such a way that each individual package tests itself and jimp tests that it still exposes all the same functionality

# Current Behavior

No coverage, tests all in one place.

[2018-08-27 23:08] hipstersmoothie commented on #574
It seems like i need to add an explicit dep to each package in the monorepo for this to work correctly

[2018-08-28 00:29] hipstersmoothie commented on #574
Okay I made the changes in v0.3.9

[2018-08-28 06:07] darkbob commented on #574
0.3.9 fixed the issue for me. Thx for fast response.

[2018-08-28 07:47] christofferEkblom opened #580 "Custom color for the contain function"
# Expected Behavior
If you use the contain function and pick a value that is higher than the image size, you should be able to set a custom color.

# Current Behavior
The current color is rgb(0,0,0).

[2018-08-28 16:58] barisusakli commented on #420
Hi @hipstersmoothie I just tested on 0.3.9, and the callback is getting called twice now. Here is the code and the output.
[code]

[code]

[2018-08-28 18:09] lillem4n commented on #574
Works here as well! Superior win! \o/

[2018-08-28 22:29] rthomps7 commented on #560
I've actually seen this issue in a couple other places: Heroku deploys and CI integrations.

What's odd is it seems inconsistent. Sometimes I redeploy without any changes (or rerun my CI) and things work.

[2018-08-28 22:46] hipstersmoothie commented on #560
If you care about this issue please go bug the project owners on this issue. https://github.com/photopea/UTIF.js/issues/43 and 🙏 for a fast release.

[2018-08-29 07:40] AtaS opened #581 "error TS2497: Module ''jimp'' resolves to a non-module entity and cannot be imported using this construct."
Hi,

I cannot import jimp with typescript, getting error. Details are below.

# Expected Behavior
There shouldn't be a compilation-time error.

# Current Behavior

There is a compilation-time error.
`error TS2497: Module ''jimp'' resolves to a non-module entity and cannot be imported using this construct. import * as jimp from 'jimp';`

Also,  `import jimp from 'jimp';` doesn't work because it imp

[2018-08-30 02:29] hipstersmoothie commented on #459
Solution posted here https://stackoverflow.com/questions/51256473/angular-cannot-find-name-buffer

[code]

[code]

[2018-08-30 02:29] #459 closed

[2018-08-30 02:44] hipstersmoothie commented on #581
released in v0.3.10

[2018-08-30 02:54] hipstersmoothie commented on #580
@christofferEkblom contain will use the `_background` color for those pixels. you can use the `background` function to set this value

[code]

[2018-08-30 02:54] #580 closed

[2018-08-30 03:02] hipstersmoothie commented on #581
This actaully doesn't seem to work fully.

Now when i try to import in a non ts file it is exported under default

Do you know of any way to get this to work @AtaS ?

[code]

[2018-08-30 07:36] hipstersmoothie commented on #581
I gotta go back to because the latest release broke vscode's autocompletion.

[code]

I've found you can make <0.3.10 work with the following

[code]

[2018-08-30 07:58] hipstersmoothie commented on #581
If I `export class Jimp {` and `export default Jimp.Jimp` i get autocompletions in CJS code and tsc compiles. but tyepscript has no autocompletions...

[2018-08-30 08:13] hipstersmoothie commented on #581
I've found if you do either of the following in your tsconfig.json <0.3.10 `tsc build` works and autocompletions in both environments work

[code]

So with that I am going to revert back to the code in 0.3.9

[2018-08-30 16:32] hipstersmoothie commented on #581
Feel free to make a or!! I’m pretty new to typescript
On Thu, Aug 30, 2018 at 2:24 AM Ata Sasmaz <notifications@github.com> wrote:

[2018-08-31 08:09] cccRaim commented on #560
I rollback version to `0.2.28`, and remove the `jpgjs` dependency successful.

---
I just need change 'xxxxxAsync' to 'xxxxx'.
Because I don't use `tiff`, so the downgrade action is convince for me.

[2018-08-31 09:02] hipstersmoothie commented on #560
Please go comment on the above issue. I can help you set up a custom
versions of jimp. It’s quite easy
On Fri, Aug 31, 2018 at 1:14 AM 陈然 <notifications@github.com> wrote:

[2018-08-31 22:39] hipstersmoothie commented on #581
@AtaS ping

[2018-09-01 01:39] #420 closed

[2018-09-01 01:43] hipstersmoothie commented on #503
Although we probably don't want to block on a sync readFile. it could be an option

[code]

[2018-09-01 02:09] hipstersmoothie commented on #169
documentation reflects correct value. and test image works with false set on autocrop. definitely gonna clean up the that for loop though

[2018-09-01 02:10] #169 closed

[2018-09-01 02:38] #438 closed

[2018-09-01 02:39] #525 closed

[2018-09-01 02:44] hipstersmoothie commented on #442
I dont think is is fixable really. The modes are there to support different cases.

I'm not quite sure what you mean by " but the quality of other pictures is poor."

Do you mean if you use a jpg it looks bad. but transparent pngs are fine?

[2018-09-01 02:45] hipstersmoothie commented on #507
closing in favor of #560

[2018-09-01 02:45] #507 closed

[2018-09-01 08:00] hipstersmoothie commented on #366
@edi9999 this would be a good candidate for a plugin that isn't included in the default jimp. Do you know of any npm packages the are emf encoder/decoders?

[2018-09-01 08:05] hipstersmoothie commented on #214
proposed api:

[code]

[2018-09-01 08:33] hipstersmoothie commented on #299
`diff` doesn't use phash so you can use a phash to calculate it.

[2018-09-01 08:34] #506 closed

[2018-09-01 08:38] hipstersmoothie commented on #304
@ChenYuHo that is the solution. Thanks for this answer!

[2018-09-01 08:38] #304 closed

[2018-09-01 08:39] hipstersmoothie commented on #441
will close within the month if no example code is given @edsilv

[2018-09-01 09:12] #405 closed

[2018-09-01 09:12] hipstersmoothie commented on #400
@SomeNerdNamedSteve Any updates?

[2018-09-01 09:33] hipstersmoothie commented on #219
@jtlapp the state of jimp is much better. are there any changes you want?

[2018-09-01 09:51] hipstersmoothie commented on #369
[code]

[2018-09-01 09:51] #369 closed

[2018-09-01 12:56] edsilv commented on #441
Hi, sorry for the delay. Here's an example project:

https://github.com/edsilv/jimp-mock-fs-error-demo

Annoyingly I can't install Jimp to test this locally right now because of https://status.npmjs.org/incidents/v22ffls5cd6h - but it _should_ be what you need.

[2018-09-01 12:57] edi9999 commented on #366
There seems to be a beginning of conversion from emf to canvas : https://github.com/g21589/wmf2canvas/blob/master/js/wmf.js

I'm closing this since probably nobody else is going to want this feature and I don't particulary need it anymore.

[2018-09-01 12:57] #366 closed

[2018-09-01 16:32] AtaS commented on #581
Hey @hipstersmoothie , I will have a look on Monday and Tuesday, on holiday as of now.

I actually got this working previously in a PR here https://github.com/oliver-moran/jimp/pull/427 but that was closed in favour of another one which I just tested recently but I will go over again and create another PR soon.

If you welcome the idea maybe we should tidy up the type definition file because it is

[2018-09-01 18:00] hipstersmoothie commented on #581
I definitely open to a rewrite of the types file. I recently broke the reop into a mono repo structure where everything is now a plugin. It would be really cool if each plugin/type had it's own typedef file that extended the main jimp type file!

[2018-09-01 18:56] hipstersmoothie commented on #219
Really awesome implementation @rafaelcastrocouto!

[2018-09-01 18:57] hipstersmoothie commented on #219
@rafaelcastrocouto if you have any more questions or requests though please open a new issue. This one is getting a little long.

[2018-09-01 19:12] hipstersmoothie opened #590 "v0.4.0"
I would like to get a release out this weekend. I just got publish access for https://github.com/photopea/UTIF.js/ so we can close #560

What I would like in the release:

Features:
* #586
* #589
* #588
* #585

Bugs
* #587
* #560

@edi9999

[2018-09-01 21:08] #560 closed

[2018-09-01 21:13] #368 closed

[2018-09-02 06:26] #271 closed

[2018-09-02 06:27] #568 closed

[2018-09-02 06:28] #299 closed

[2018-09-02 07:11] edi9999 commented on #590
Yes, good idea ! So you will  publish all packages and plugin in version 0.4.0 ?

[2018-09-02 07:15] hipstersmoothie commented on #590
I'm pretty sure that lerna will do that. If i understand correctly it keeps all the package numbers in sync default. some packages didn't bump last time though. Maybe a minor will force bump them all?

[2018-09-02 07:16] hipstersmoothie commented on #590
The monorepo is live btw. I think it went out with 0.3.9. Everything is currently published

[2018-09-02 19:08] edi9999 commented on #590
Ok ! Good

[2018-09-02 22:59] #577 closed

[2018-09-02 23:09] hipstersmoothie commented on #590
0.4.0 released https://github.com/oliver-moran/jimp/releases/tag/v0.4.0

[2018-09-02 23:09] #590 closed

[2018-09-02 23:10] hipstersmoothie commented on #420
Released in [v0.4.0](https://github.com/oliver-moran/jimp/releases/tag/v0.4.0)

[2018-09-02 23:10] hipstersmoothie commented on #560
Released in [v0.4.0](https://github.com/oliver-moran/jimp/releases/tag/v0.4.0)

[2018-09-02 23:10] hipstersmoothie commented on #368
Released in [v0.4.0](https://github.com/oliver-moran/jimp/releases/tag/v0.4.0)

[2018-09-02 23:11] hipstersmoothie commented on #271
Released in [v0.4.0](https://github.com/oliver-moran/jimp/releases/tag/v0.4.0)

[2018-09-02 23:11] hipstersmoothie commented on #299
Released in [v0.4.0](https://github.com/oliver-moran/jimp/releases/tag/v0.4.0)

[2018-09-02 23:11] hipstersmoothie commented on #506
Released in [v0.4.0](https://github.com/oliver-moran/jimp/releases/tag/v0.4.0)

[2018-09-02 23:12] hipstersmoothie commented on #568
Released in [v0.4.0](https://github.com/oliver-moran/jimp/releases/tag/v0.4.0)

[2018-09-02 23:12] hipstersmoothie commented on #448
Released in [v0.4.0](https://github.com/oliver-moran/jimp/releases/tag/v0.4.0)

[2018-09-03 02:43] dreki commented on #389
I've been using Jimp for months and months and I always pass it a URL and it reads it just fine.

I've also run into this issue. It happens with GIFs (non-animated) like this: https://static1.squarespace.com/static/57ed984e9de4bbb0f817ec59/t/5b6741388a922d428420c474/1533493573475/basic180815.gif

[2018-09-03 03:07] hipstersmoothie commented on #389
@dreki this seems to be a problem with omggif. It seems like it only reads 89a gifs (whatever that is). That gif you provided is a type that doesn't seems to be supported.

Maybe file an issue here?

https://github.com/deanm/omggif

[2018-09-03 03:27] hipstersmoothie commented on #301
closing in favor of #556

[2018-09-03 03:27] #301 closed

[2018-09-03 03:27] hipstersmoothie commented on #89
closing in favor of #556

[2018-09-03 03:27] #89 closed

[2018-09-03 03:29] hipstersmoothie commented on #556
Potential insight on exif

@patrickhulce

[2018-09-03 03:31] hipstersmoothie commented on #433
@DanielRuf any progress on this?

[2018-09-03 03:33] hipstersmoothie commented on #392
We could probably find a way to do the blur in a more performant way. maybe using a new jimp instance instead of arrays.

[2018-09-03 03:37] hipstersmoothie commented on #303
We definitely need to be non blocking on file reads. My suggestion would be to do the following and just giving jimp a buffer:

[code]

[2018-09-03 04:13] DanielRuf commented on #433
Not yet, other things have and had a higher priority.

[2018-09-03 09:54] hipstersmoothie commented on #441
I installed jimp v0.4.0 to the provided repo and ran `npm run test`. The test passed with no errors so I think this is fixed.

[2018-09-03 09:54] #441 closed

[2018-09-03 16:10] barisusakli commented on #420
Hi @hipstersmoothie works fine now thanks. One more question is jimp node 8+ only or are there polyfills for node 6?

[2018-09-03 18:09] hipstersmoothie commented on #420
should work on node 6

[2018-09-03 21:03] hipstersmoothie commented on #365
I think this is for sure a dup of #121 and has nothing to do with compositing. Closing in favor of #121

[2018-09-03 21:03] #365 closed

[2018-09-04 05:56] hipstersmoothie commented on #324
I was gonna make this into a plugin. But I found I could do it in one line. If you first convert the image to greyscale you can then uses the `color` function to mix in whatever color your want.

[code]

[2018-09-04 05:56] #324 closed

[2018-09-04 13:36] turakvlad commented on #395
Guys, I've created a small package for replacing color with another one pixel by pixel. I'll allow myself to share it with you. The package calls [`replace-color`](https://www.npmjs.com/package/replace-color) and it implements one of the best color difference algorithm - [CIEDE2000](https://en.wikipedia.org/wiki/Color_difference#CIEDE2000).

Image output:
![output](https://user-images.githubuserco

[2018-09-04 13:37] turakvlad commented on #172
Guys, I've created a small package for replacing color with another one pixel by pixel. I'll allow myself to share it with you. The package calls [`replace-color`](https://www.npmjs.com/package/replace-color) and it implements one of the best color difference algorithm - [CIEDE2000](https://en.wikipedia.org/wiki/Color_difference#CIEDE2000).

Image output:
![Output](https://camo.githubusercontent.c

[2018-09-05 00:11] hipstersmoothie opened #600 "Create @jimp/cli"
It would be cool if jimp could be run from the CLI. This should be added as a package to the monorepo and not in core jimp.

[2018-09-05 00:18] hipstersmoothie commented on #322
duplicate of #437

[2018-09-05 00:18] #322 closed

[2018-09-05 18:31] hipstersmoothie commented on #153
To my knowledge a memory leak will get larger and larger. where as this seems to top out at a certain amount of memory used. Javascript implementations of image encoders and decoders are bound to be slow.

This would be a great place to write type plugins that use native deps or different JS libraries. If you do make a plugin please make a PR to add it to the readme!

[2018-09-05 19:05] #80 closed

[2018-09-05 21:41] hipstersmoothie commented on #357
I you resize an image too much smaller it will be blurry/pixelated no matter what. A smaller bitmap can only represent so many pixels, so you are bound to loose on image quality a little.

Using the example image above I got the best result using RESIZE_BILINEAR.

[2018-09-05 21:41] #357 closed

[2018-09-06 16:52] hipstersmoothie opened #601 "Create @jimp/thread"
# Expected Behavior

Run jimp inside of a worker thread in node. This should make jimp more performant in server environments and make it "non-blocking"

probably gonna use this https://github.com/wilk/microjob

# Current Behavior

Jimp blocks main thread while doing work

Behavior of @jimp/thread described in #229

[2018-09-06 16:54] hipstersmoothie opened #602 "Create @jimp/web-worker"
# Expected Behavior

Jimp loaded in a webworker and easy to use

# Current Behavior

Jimp loads in browser and slow things down

[2018-09-06 16:58] hipstersmoothie commented on #229
closing in favor of #600 #601 #602

[2018-09-06 16:58] #229 closed

[2018-09-07 03:12] DennisJames commented on #437
@hipstersmoothie
![test](https://user-images.githubusercontent.com/20571746/45196396-90d86100-b28e-11e8-9627-00c1ec45e921.png)
here is one of my sample with size 8.21KB , i run code like :
`
var image = await Jimp.read(file);
image.write(newPath + 'test2.' + image.getExtension(), function (err, res) {
	console.log(err, res);
});
`
then i get a png with size 21.8KB,

[2018-09-07 03:33] DennisJames commented on #437
beautify my code , ~~
[code]

[2018-09-08 06:33] KangarooBee opened #603 "JPG read error on some photos, which can be viewed by normal tools with no problem"
# use jimp read function like below, but got error.
jimp.read(targetjpg, function (err, demo) {
	 if (err) throw err;
 if ((demo.bitmap.width==640 && demo.bitmap.height==480)
........

# some JPG photo (photo taken by different devices, android camera, micro controller controlled camera)
,which can be view by normal picture tool, but can not be read by Jimp, the error message is "if (err) throw er

[2018-09-08 06:41] hipstersmoothie commented on #603
@KangarooBee what jimp version are you on?

[2018-09-08 06:43] hipstersmoothie commented on #603
[code]

[2018-09-08 09:26] hipstersmoothie commented on #600
build using

https://www.npmjs.com/package/inquirer
https://github.com/sindresorhus/ora
https://github.com/sindresorhus/log-update
https://www.npmjs.com/package/yargs

[2018-09-08 10:46] hipstersmoothie commented on #437
The png options werent getting passed correctly so I've opened #437. Once merged the following code will allow you to get smaller files.

[code]

Output:

[code]

Note: colorType 0 makes it greyscale. This works for this image but maybe not other. Play around with the functions listed [here](https://github.com/oliver-moran/jimp/tree/master/packages/type-png)

[2018-09-09 03:45] KangarooBee commented on #603
@hipstersmoothie Thanks for the reply!

I rechecked the code, there is some variable mismatch in my program. Due to unfamiliar with the call back method, thought it is a Jimp problem.  As you said, Jimp works fine.

My bad, for this issue reporting. I am closing it. Or you can delete it.

Thank you again for your time and contribution!

[2018-09-09 03:45] #603 closed

[2018-09-09 10:58] doczoidberg opened #605 "Typescript errors"
- Jimp Version: 0.4.0
-  Typescript: 2.8.3

I get the errrors when compiling in an angular 6.1 project:

[code]

[2018-09-09 18:35] edi9999 commented on #602
+1 !

Being a separate package makes a lot of sense,

[2018-09-09 21:52] hipstersmoothie commented on #605
Duplicate of #581 tracking typescript errors in that issue

[2018-09-09 21:52] #605 closed

[2018-09-09 23:49] hipstersmoothie commented on #148
@gabriellesc @niftylettuce @rbarriuso @meszaros-lajos-gyorgy @Romesz @dannyk08 @Enitoni @0xff00ff What would you wan the API to look like?

[2018-09-09 23:52] hipstersmoothie commented on #183
@houd1ni has someday come? This could maybe work as a plugin to jimp.

[2018-09-09 23:59] hipstersmoothie commented on #273
closing in favor of #602

[2018-09-09 23:59] #273 closed

[2018-09-10 00:03] hipstersmoothie commented on #286
@Pragmateek all the error handling stuff should be fixed now.

[2018-09-10 00:06] hipstersmoothie commented on #286
I've loaded both photos into current jimp and neither has an issue. Feel free to open another issue if the problem persists!

[2018-09-10 00:06] #286 closed

[2018-09-10 00:09] hipstersmoothie commented on #290
I have tested the gif and it works find in jijmp exporting to png. I'm gonna assume omggif fixed something. Feel free to open another issue if the problem persists

[2018-09-10 00:09] #290 closed

[2018-09-10 00:11] hipstersmoothie commented on #297
@ThriceGood @An2An96  will close within a month if not given an update or example repo

[2018-09-10 00:16] hipstersmoothie commented on #327
@mepdr closing in a month if no update is given.  The error comes from getBuffer where you have to pass a mime type, which you are. Please give the newest version of jimp a try

[2018-09-10 08:17] amirsaleem-kn opened #607 "Error: marker was not found is crashing the server."
[code]
This error is causing our server to crash, proper exception handling needs to be implemented.

[2018-09-10 18:43] houd1ni commented on #183
@hipstersmoothie almost! Thank you for the interest! I'll have a time after 22nd, gonna make a reminder :)

[2018-09-10 20:48] #607 closed

[2018-09-10 20:49] hipstersmoothie commented on #607
As the PR template says:

IF YOU DO NOT FILL OUT THE FOLLOWING FORM YOUR ISSUE WILL AUTOMATICALLY BE CLOSED!!!

Please fill out the full issue templete

[2018-09-12 09:37] bastoune opened #609 "pass a URL with jimp.read and have option to pass "rejectUnauthorized : false" to the request"
# Expected Behavior
I would like to pass an option `rejectUnauthorized : false` to the Jimp.read()` method when I pass a URL to it.
I want to read the image even if there is a problem with the certificate.
I don't want to configure the behaviour globally to the server.

# Current Behavior
If I have somehow troubles to get the certificate of the URL, I get the following error => Error: unable to ve

[2018-09-12 11:53] rossbulat opened #610 "Whitespace not erased when aligning text to the right / center"
# Expected Behavior
The last character of a line of text should not be whitespace. Some weird stuff is happening when you align text to the right. Maintains whitespace, sometimes more than 1 space.

Spaces to be removed at the alignment side (right side in this case)

# Current Behavior

Some weird stuff is happening when you align text to the right. Maintains whitespace, sometimes more than 1 spa

[2018-09-13 04:56] #610 closed

[2018-09-13 18:26] omarojo commented on #148
is there a way to use Express to retrieve an image using JIMP ?

`generateArt = (text = "COMMUNITY") => {
  Jimp.read("./bgImage.jpg")
    .print(
      civilFont,
      209,
      0,
      {
        text: theText,
        alignmentX: Jimp.HORIZONTAL_ALIGN_LEFT,
        alignmentY: Jimp.VERTICAL_ALIGN_MIDDLE
      },
      834,
      1920
    )
    .getBuffer(Jimp.MIME_JPEG, buff => {
      return

[2018-09-13 18:32] niftylettuce commented on #148
@hipstersmoothie I created https://lipo.io and use that instead of `jimp` and `sharp` by itself

[2018-09-13 20:53] hipstersmoothie commented on #148
@niftylettuce that's cool that you made that but it doesn't really answer my question. I've never used streams and am not sure what the API might look like if i were to implement it. What would you want that API to look like?

[2018-09-13 20:58] hipstersmoothie commented on #148
@omarojo The following code works

Problems I found with your code:

1. `Jimp.read` returns a promise so you have to await it's results and chain later
2. `getBuffer` takes a node style callback so the first param will be an error or null. the second param is where the buffer actually lies

[code]

you could simplify it further too:

[code]

[2018-09-13 21:49] Pragmateek commented on #286
@hipstersmoothie OK thanks for the fix, it's been a while since I've worked on this project, but who knows maybe I'll need it later. :)

[2018-09-14 15:44] akwizgran opened #612 "Regression in blit function when srcx is non-zero"
# Expected Behavior

The blit function takes optional arguments `srcx, srcy, srcw, srch` to specify a region of the source image to blit. For example, if the source image is a 100w x 100h square and the destination is a 50w x 100h rectangle, it should be possible to blit the left half of the source image into the destination with `dest.blit(src, 0, 0, 0, 0, 50, 100)`, or the right half with `dest.

[2018-09-15 00:52] omarojo commented on #148
Got it Thanks !
On Sep 13, 2018, 13:58 -0700, Andrew Lisowski <notifications@github.com>, wrote:

[2018-09-15 01:45] hipstersmoothie commented on #612
Hmm this seems to work the same in both for me

   * @param {number} x the x position to blit the image (***Must set this to effect where the image will blit to***)
   * @param {number} y the y position to blit the image
   * @param {number} srcx (optional) the x position from which to crop the source image (***if you provide a point halfway though t the image it crops there. doesn't effect x***)

[2018-09-15 01:46] hipstersmoothie commented on #612
If you can provide me images and an example that'd be awesome!

[2018-09-15 01:55] hipstersmoothie commented on #609
related to #267

[2018-09-15 04:38] sol0matrix commented on #369
Thanks for pointing me in the right direction however im currently using node v6.12.0  async is not able for that version so the code below was my workaround.

Thanks again :)

[code]

[2018-09-15 07:07] t3rminus commented on #612
I'm going to add a +1 to this. My app had been silently producing blank images since the last update, and nobody noticed, since the function was seldom-used. I was doing a partial re-write and started tearing my hair out over why it was spitting out blank images.

Reverting to 0.2.28 fixed things.

Heres a silly fiddle demonstrating the problem: https://jsfiddle.net/t3rminus/gbzne7v3/23/

It loads

[2018-09-15 08:57] hipstersmoothie commented on #612
@t3rminus that was super useful! I basically added your code as test cases. The cat example made me laugh.  I've opened #613. Once merged I'll put a release together.

[2018-09-15 09:17] hipstersmoothie commented on #297
How about you @lovetrivedi

[2018-09-15 14:40] aguyinmontreal opened #614 "HORIZONTAL_ALIGN_CENTER and VERTICAL_ALIGN_MIDDLE not working?"
# Expected Behavior

Hello there! I'm trying to center printed text!  Am I doing something wrong?

# Current Behavior

Text isn't centered!

## Steps to Reproduce

1. test.png is a small 60by60 png file
2. run code
3. text will not be centered

[code]

**Screenshots**

## Context

- Jimp Version: 0.4.0
- Operating System: Windows 7
- Node version: v8.9.3

## Failure Logs

[2018-09-15 19:02] edsilv commented on #441
Hi, just having another look at this.

`/cat/cat.jpg` passes.

`c:\cat\cat.jpg` throws

"catcat.jpg" - It was to do with using windows backslashes in file paths. Once I normalised these to using forward slashes it started working :-)

[2018-09-15 19:55] hipstersmoothie commented on #614
When you supply HORIZONTAL_ALIGN_CENTER and VERTICAL_ALIGN_MIDDLE you have to also supply maxHeight and maxWidth to tell the print function where to center in.

[code]

[2018-09-15 19:55] #614 closed

[2018-09-15 20:14] #612 closed

[2018-09-15 20:36] hipstersmoothie commented on #612
Released in [v0.5.0](https://github.com/oliver-moran/jimp/releases/tag/v0.5.0)

[2018-09-15 20:36] hipstersmoothie commented on #610
Released in [v0.5.0](https://github.com/oliver-moran/jimp/releases/tag/v0.5.0)

[2018-09-15 21:54] hipstersmoothie commented on #612
Seems to be working now https://jsfiddle.net/n7rd8by3/ 🎉

[2018-09-17 06:50] #564 closed

[2018-09-17 20:05] omarojo opened #617 "Print text vertically or rotated 90degrees"
Is there a way to print text vertically ? I mean have the text rotated 90 degrees ?

[2018-09-18 19:39] omarojo commented on #617
oh wow.. nice trick ! thanks

[2018-09-19 06:10] forethoughtde opened #618 "Is it possible to use new color modification rules in plugin-color?"
I have noticed that there are only few color modification rules are defined. I have a scenario where I should be able to change image color to any given **Hex Color Code**(#800000, #637B80, #F6AE99). I would like to know if it is possible to achieve using jimp?

If yes, how can I go about achieving this?

Thanks

[2018-09-19 07:42] forethoughtde commented on #618
The first one

[2018-09-19 07:50] hipstersmoothie commented on #618
If you are just changing one solid color to another why not just create a new image?

[code]

[2018-09-19 07:53] forethoughtde commented on #618
@hipstersmoothie I already have images which needs to be changed to different color and saved in a directory. Please chech the attached image.
![turbine_sgt5_2000e_10](https://user-images.githubusercontent.com/9781577/45738831-b7cd5600-bbf1-11e8-89d8-44f8c7886a4f.png)

[2018-09-19 07:55] hipstersmoothie commented on #618
what would you want the output to look like? like a blue pipe?

[2018-09-19 07:56] forethoughtde commented on #618
For instance, the output image should be in the following colors;
1. #ff33cc,
2. #0066ff

[2018-09-19 07:59] hipstersmoothie commented on #618
I'm not sure i can picture what that would look like. You want jimp to somehow divide up all the colors and only render them those two colors?

[2018-09-19 08:01] forethoughtde commented on #618
Please check this.
![turbine_sgt5_2000e_10_ 0066ff](https://user-images.githubusercontent.com/9781577/45739301-ed267380-bbf2-11e8-935f-10b7670c6250.png)

[2018-09-19 08:07] hipstersmoothie commented on #618
The method I described in the linked issue generates this

[code]

![test](https://user-images.githubusercontent.com/1192452/45739608-3bfaeb80-bba8-11e8-9238-604e66f98783.png)

[2018-09-19 08:09] forethoughtde commented on #618
Can I please know why are you using  grayscale() on the image?

[2018-09-19 08:12] hipstersmoothie opened #621 "Color Functions take forever"
# Expected Behavior

Color functions don't take forever

# Current Behavior

SO LONG! Multiple takes even longer

## Steps to Reproduce

[code]

**Screenshots**

## Context

- Jimp Version: 0.5.0
- Operating System: OSX
- Node version: 10.8.0

[2018-09-19 08:14] hipstersmoothie commented on #618
If you just mix then some other colors get mixed in. just check the result yourself and you will see. Going to greyscale makes the image black and white only so it is easier to mix in just the one color

[2018-09-19 08:14] #618 closed

[2018-09-19 08:16] hipstersmoothie commented on #621
duplicate of #270

[2018-09-19 08:16] #621 closed

[2018-09-19 09:38] #270 closed

[2018-09-19 09:43] hipstersmoothie commented on #600
closed via #606

[2018-09-19 09:43] #600 closed

[2018-09-19 13:47] lgzajac commented on #556
I am not sure if this helps, (haven't tested this solution and probably won't have time to in a next few days/weeks), but i found some library which may solve this issue. (after converting buffer to blob)
https://github.com/shutterstock/changedpi

[2018-09-19 16:32] briman0094 opened #623 "Types wrong for getBase64Async"
# Expected Behavior

`getBase64Async` should be declared as returning `Promise<string>`

# Current Behavior

`getBase64Async` is declared as returning `Promise<Jimp>`

## Steps to Reproduce

Reference Jimp in a TypeScript-enabled project. Load an image and attempt to await `image.getBase64Async()`. Result of Promise is declared as Jimp even though it is resolved with a string at runtime.

<!-- Ple

[2018-09-19 17:30] #623 closed

[2018-09-21 21:48] Xdabier commented on #277
as a previews experience I face no issues while implementing it in an ionic 3 app and worked perfectly on mobile, but while trying to use it in a react native app, it throws this error : `.../node_modules/jimp/index.js`: Module `fs` does not exist in the Haste module map
...`

[2018-09-22 17:07] alyyousuf7 opened #626 "getPixelColor() returns color of different position"
# Expected Behavior

I have a program that copies each pixel onto another picture with the same size:
The expected behavior is that the input.bmp should be cloned and saved as output.bmp

# Current Behavior

The output image is not exactly the input file.

# Failure Information (for bugs)

## Steps to Reproduce

[code]

**Screenshots**

For some reasons, GitHub doesn't allow to upload BMP files. H

[2018-09-22 18:10] alyyousuf7 commented on #626
I just tried `clone()` function as well and it resulted with the same issue:

[code]

[2018-09-22 18:43] alyyousuf7 commented on #626
An update.
The issue seems to be in decoding BMP files created using GIMP.
I face no issues if the BMP was created using JIMP library.

[2018-09-23 01:35] OutsourcedGuru opened #627 "Using convolute() to skew doesn't seem to work"
**Is your feature request related to a problem? Please describe.**
Per many mathematical [references describing a standard x-skew](https://www.w3.org/TR/SVG11/coords.html#EstablishingANewUserSpace), I had hoped that applying a standard matrix for this would result in a skewed image. Attempting to apply a skew transformation like this is really not resulting in anything close to what I'm attempting

[2018-09-23 04:38] OutsourcedGuru commented on #627
For what it's worth, I was able to build my own prototype for the Jimp class which seems to fit my own requirements.

The `config.js` file in question includes `xSkew` as 30 in this case.
[code]

(I also added another prototype to chop off the top 200 pixels so don't be confused.)
![screen shot 2018-09-22 at 9 34 22 pm](https://user-images.githubusercontent.com/15971213/45924218-5508e280-beaf-11e8

[2018-09-23 05:35] hipstersmoothie commented on #627
@OutsourcedGuru convolution isnt the thing you're looking for I think. This is what convolute does https://docs.gimp.org/2.6/en/plug-in-convmatrix.html

[2018-09-23 05:39] hipstersmoothie commented on #627
Can you link me to a documented function in another image manipulation program that would use your matrix? I can make a plugin that performs that.

[2018-09-23 18:50] turakvlad commented on #609
@hipstersmoothie, hey.

I had the same issue. Do you have any workaround on it except for [this one](https://github.com/oliver-moran/jimp/issues/267#issuecomment-360546370)?

[2018-09-23 20:34] hipstersmoothie commented on #609
I feel like you could just do a custom constructor in the mean time.  I just release d https://github.com/oliver-moran/jimp/pull/628. In v0.5.1 you can do the following. This allows you to load your URL however you want and still fallback to jimp image parsing.

[code]

Is this sufficient? @bastoune @turakvlad

I'm also looking to exposing more options to the request, but the library [we use](http

[2018-09-23 20:58] hipstersmoothie commented on #267
@rwpino @syzer v0.5.2 has a new constructor option that allows you to pass the headers. Can you try it out for me?

[code]

[2018-09-23 20:58] hipstersmoothie commented on #609
@bastoune @turakvlad v0.5.2 has a new constructor option that allows you to pass the headers. Can you try it out for me? Does this suit your usecase?

[code]

[2018-09-24 00:15] OutsourcedGuru commented on #627
In PhotoShop, the [skew and perspective](https://helpx.adobe.com/photoshop/using/transforming-objects.html) options are close to this. It's unlikely to find the source code for what goes on behind-the-scenes in PS, though.

The matrix:

[code]

...is supposed to provide an xSkew and ySkew effect, as provided instead of the default zero that would have been there. My first link above is some docume

[2018-09-24 12:21] MerriemWeebster opened #631 "Rotation command gives opposite results"
I'm not sure if this is a bug or a change, but I recently updated Jimp again after a long time and have a issue with the rotate command.

When I use image.rotate(-3) I expect the image to be rotated 3 degrees anti-clockwise. Instead, it rotates clockwise.

A similar case happens when I use image.rotate(20), it rotates anti-clockwise instead of clockwise.

Basically I get the opposite result of wha

[2018-09-24 15:39] bastoune commented on #609
Hi @hipstersmoothie , thanks for replies.
 I am sorry I had to find another way and I am now running this part of code in python.

I will answer you here if I change my mind ;)

[2018-09-25 11:48] turakvlad commented on #609
@hipstersmoothie, hey.

Thanks for helping us with this issue. Please, have a look at this [Runkit](https://runkit.com/turakvlad/5baa1c31cd3e740012900bc6). To be honest, I am not sure that the `headers` will help us. What should I pass in the `headers` to ignore HTTPS errors?

For example, Node.js has [`rejectUnauthorized`](https://nodejs.org/api/https.html#https_https_request_url_options_callback

[2018-09-27 00:53] noelportugal opened #633 "Need to encode to 1-bit BMP"
**Is your feature request related to a problem? Please describe.**
I have web service that receives PNG/JPEG and converts them into BMPs. The generated BMP is then requested by a low-powered microcontroller (esp8266) and then displayed in a small B&W 2.7 inch E-Ink display. The microcontroller has some issues with timeouts when image sizes are "large".

**Describe the solution you'd like**
I would

[2018-09-27 08:35] hipstersmoothie commented on #633
related https://github.com/shaozilee/bmp-js/issues/21

[2018-09-27 19:27] jakinov opened #634 "404 trying to downloading @jimp/plugin-flip@^0.5.0"
# Expected Behavior

jimp installs

# Current Behavior

Fails to install

# Failure Information (for bugs)

## Steps to Reproduce

1. I ran `npm install --save-dev jimp`

**Screenshots**

## Context

- Jimp Version: Default
- Operating System: MacOs
- Node version: v8.11.3

## Failure Logs

[2018-09-27 19:33] hipstersmoothie commented on #634
Hmmm I just tried a fresh install and it seemed to work fine. Are you sure you're connected to the internet?

[2018-09-27 19:40] jakinov commented on #634
@hipstersmoothie

I am. The odd thing is the link it gets 404 from works fine in my browser.

[2018-09-27 20:00] jakinov commented on #634
@hipstersmoothie

I got it to work by commenting out my `_auth` value and `email` from `.npmrc` someone elsewhere mentioned having an issue with downloading an angular dependacy when they had `always-auth=true` but commenting that out didn't work so i tried commenting out my credentials

I had it something like:

[code]

any idea why npm would get a 404 for just for plugin-flip for having those va

[2018-09-28 16:14] turakvlad commented on #609
@hipstersmoothie, hi!

I've spent some time to examine this issue. [This](https://runkit.com/turakvlad/5bae50cb4a0edb00114e003f) works great. It's possible to pass `rejectUnauthorized` thankfully to [this](https://github.com/turakvlad/phin/blob/master/lib/phin.js#L59) line of code in phin. And [later](https://github.com/turakvlad/phin/blob/master/lib/phin.js#L124) in the code the `https.request()`

[2018-09-28 18:34] turakvlad commented on #609
@hipstersmoothie, thanks! I am glad to help.

I will make a PR tomorrow.

[2018-10-01 08:04] dhavalsojitra8866 commented on #525
If i use facebook url then it shows below error.
var url='https://graph.facebook.com/890843584382401/picture?type=large&width=200&height=200'
var url1 = url.replace('?height=90&width=90', '?type=large&width=200&height=200')
jimp.read(url1, function(err, image) {
    console.log("image ------>", image)

image ------> undefined
jimp Error :  { Error: Could not find MIME for Buffer <null>
    at Jimp

[2018-10-01 08:25] dhavalsojitra8866 opened #636 "Could not get image MIME for Buffer <null> when i take image form url:'https://graph.facebook.com/890843584382401/picture?type=large&width=200&height=200'"
If i use facebook url then it shows below error.
<--------------- code---------------->
var url='https://graph.facebook.com/890843584382401/picture?type=large&width=200&height=200'
var url1 = url.replace('?height=90&width=90', '?type=large&width=200&height=200')
jimp.read(url1, function(err, image) {
console.log("image ------>", image)

<--------------- error ---------------->
image ------> undefi

[2018-10-01 19:15] turakvlad commented on #609
@hipstersmoothie, I am sorry for a delay. Will make a PR tomorrow.

[2018-10-01 20:21] alyyousuf7 commented on #626
The issue arises when an image is exported as BMP using GIMP and color space information is written to it.

To avoid this issue, select "Do not write color space information" under "Compatibility Options" when exporting as BMP.

[2018-10-01 21:46] hipstersmoothie commented on #609
@turakvlad no worries! take your time

[2018-10-03 12:19] andrekisi commented on #316
Hi, I tried this method to convert a png with transparent background to a jpeg with white background:

[code]

However, it turns the background into cyan.
Input image:
![image](https://user-images.githubusercontent.com/31482129/46409789-0b25c500-c717-11e8-9448-df8e4235aec3.png)
Output image:
![my-jpg](https://user-images.githubusercontent.com/31482129/46409819-298bc080-c717-11e8-9d78-210e708136ab.

[2018-10-03 17:08] hipstersmoothie commented on #316
@andrekisi maybe https://www.npmjs.com/package/replace-color can solve your problem

[2018-10-03 20:04] hipstersmoothie commented on #609
closed via #637

[2018-10-03 20:04] #609 closed

[2018-10-03 20:05] hipstersmoothie commented on #267
confirmed that v0.5.2 solve this issue. Feel free to open another PR if you have further issues.

[2018-10-03 20:05] #267 closed

[2018-10-04 04:37] dhavalsojitra8866 commented on #636
hipstersmoothie  what is the possible solution?

[2018-10-04 19:41] SwissArmyMike opened #639 "Can't Access filesystem. - Electron"
# Expected Behavior
1. use fs.writeFileSync() to write a file to the user's local folder.
2. use Jim.read('file://..path/to/file') to read the file, manipulate it and save it.

# Current Behavior
1. fs.writeFileSync() works fine.
2. Jimp.read('file://..path/to/file') throws an error "Can't Access filesystem"
The issue is on line 33773 where it is checking if fs is available (which it should be)

#

[2018-10-06 12:14] forethoughtde opened #640 "Is there any event emitted upon image write operation complete?"
I have following code to change color of the image and save it with a name.

[code]

Is there any event get emitted when writeAsync completes the operation? Thanks in advance

[2018-10-06 20:11] hipstersmoothie commented on #640
It returns a promise so either:

[code]

or

[code]

[2018-10-06 20:11] #640 closed

[2018-10-08 14:18] SwissArmyMike commented on #639
Hi, I put it into a new project and it appears to work. I place the same code in my existing project and it doesn't. So there is something in my project causing the problem. There is a strange thing happening. When I save the file using fs, and then try to access that file using Jimp in the one that works, it's finding the file fine without needing to add 'file://' to it. In the version that doesn

[2018-10-08 21:04] hipstersmoothie commented on #639
I've never tried to use it in an electron app before.

The offending code is probably somewhere in:

https://github.com/oliver-moran/jimp/blob/master/packages/core/src/index.js#L83

`loadFromURL` might be getting called when it shouldn't.

Can you link the sample repo with steps to reproduce?

[2018-10-09 07:17] Ksistof commented on #639
Hi there!

I am facing the same issue: "Cannot access filesystem".

Here is the repository on GitLab: https://gitlab.com/Kristof89/s3-image-uploader

I have also raised an issue on Stackoverflow: https://stackoverflow.com/questions/52715291/error-cant-access-the-filesystem-you-can-use-the-getbase64-method-electronjs

[2018-10-09 14:08] dragouf opened #641 "aws lambda and webpack"
# Expected Behavior

I try to use jimp with webpack to execute it on aws lambda.

# Current Behavior

unfortunately it crash when I just try to read image from base64 with :
[code]

# Failure Information (for bugs)

it return something like o.read is not a function

## Steps to Reproduce

here is my webpack.config.js :
[code]

then just run webpack and upload index.js from dist folder

## Context

[2018-10-09 15:16] dragouf commented on #641
ok it works with
[code]

[2018-10-09 15:56] SwissArmyMike commented on #639
I'd be happy to link you to my project's repository but it is private. Is there a way that you can contact me so that I can provide it to you?

As far as I can see, it might be an issue with the combination of node modules that I am using conflicting with JIMP. When I have a clean project and only use Jimp and FS, it works fine. When I use the same code in my project, it doesn't work and I get the

[2018-10-09 17:03] hipstersmoothie commented on #639
You can shoot me an email at lisowski54@gmail.com and i'll try to take a look

[2018-10-10 10:50] montyanderson opened #642 "Doesn't bundle with Browserify"
# Expected Behavior

Jimp should bundle with browserify without any errors.

[code]

# Current Behavior

[code]

# Failure Information (for bugs)

## Steps to Reproduce

[code]

**Screenshots**

## Context

- Jimp Version: 0.5.3
- Operating System: Ubuntu 18
- Node version: 10.7.0

## Failure Logs

[2018-10-10 17:08] hipstersmoothie commented on #642
Good thing we already did it you should be able to access the browser version via

[code]

let me know if that works!

[2018-10-10 20:03] bkonno commented on #633
Exactly what I need...  1-bit by pixel

[2018-10-11 03:44] Allaphy opened #643 "Could not find MIME for buffer (null)"
I have this problem "Could not find MIME for buffer (null)" and i don't know how to fix it.
I believe that the problem is in jimp.read.
that is the part of the code where i read the images:

**var imgs = [pa1, pa2];**   _// pa1 and pa2 are images URLs._
**var jimps = [];**
**for (var i = 0; i < imgs.length; i++) {
      jimps.push(await jimp.read(imgs[i]));
}**

'imgs[]' are the URLs of the images

[2018-10-11 03:55] hipstersmoothie commented on #643
I’m probably going to need a link to one of your images. I’m pretty sure
image urls are working so I’ll need a test image
On Wed, Oct 10, 2018 at 8:44 PM Allaphy <notifications@github.com> wrote:

[2018-10-11 08:18] DavidOndrus commented on #643
I experience it too but with files saved locally. I've been using old version (0.2.28) for a long time, then on 2nd October I made an update to 0.5.3. It never happened to me before. It's not reproducible when someone sends you a file because in my situation, for example only 2 of 5 tries crash. When it crashes and then I try the same file, after some time it works. It doesn't make sense.

Right n

[2018-10-11 20:14] Allaphy commented on #643
the urls aren't aways the same, are urls from discord's avatars (message.author.displayAvatarURL), for example: https://cdn.discordapp.com/avatars/472158887966015508/a64800726ff83aedd350092730484a1e.jpg?size=2048

with me, just some times crashes too, some times works fine, and some times it wont.

[2018-10-12 06:29] hipstersmoothie commented on #643
The following runs without any errors. I'll do a run with a 1000 but I'm not sure this will reproduce it.

Are you able to reproduce this outside the discord server?

[code]

[2018-10-12 06:31] hipstersmoothie commented on #643
I feel like maybe the request is failing? you said it had to do with upload. maybe sometimes you do it too soon and the resource isnt quite there yet?

[2018-10-12 06:31] DavidOndrus commented on #643
I'm able to reproduce it with local files, without network so it's not an issue with online files, it's a general Jimp.read issue.

[2018-10-12 06:32] hipstersmoothie commented on #643
You you give me a script like the one i provided above? Currently 700 requests and no errors

[2018-10-12 06:34] DavidOndrus commented on #643
Download my file and use your script with Jimp.read('/app/.tmp/uploads/636629e3-dcee-4a34-9c07-99f7aadfbd99.jpg')

[2018-10-12 06:36] hipstersmoothie commented on #643
Still no luck. How often does it happen for you?

<img width="665" alt="screen shot 2018-10-11 at 11 35 57 pm" src="https://user-images.githubusercontent.com/1192452/46852048-72461800-cdae-11e8-8bce-7210ecdafba2.png">

[2018-10-12 06:41] hipstersmoothie commented on #641
So what I think is happening is webpack is resolving the "browser" field first. since you are targeting node its breaking.

You can configure what webpack resolves first. since we ship a module build you could use that instead.

https://twitter.com/HipsterSmoothie/status/1023453544710516738

You'll probably want:

[code]

[2018-10-12 06:47] hipstersmoothie commented on #639
@Ksistof Did the answer on stack overflow solve your problem? It seems like electron apps need to access the filesystem in a different thread.

@SwissArmyMike You should take a look too. Does your project happen to use webpack?

[2018-10-12 07:29] hipstersmoothie commented on #636
I think I figured it out.

The url you are requesting is not in fact an image. If you open the url in your browser the image automatically downloads. Thats a hint it's not just an image. If you add `&redirect=false`. You can see what the actual response for the URL is.

https://graph.facebook.com/890843584382401/picture?type=large&width=200&height=200&redirect=false

[code]

If you then use `https

[2018-10-12 07:30] hipstersmoothie commented on #643
Can you put together a repo that demonstrates the issue? I so far have not been able to reproduce. I am also not on windows

[2018-10-12 07:40] DavidOndrus commented on #643
I would not try to reproduce it with tests because even if one of many tries fails, you are not able to repeat the same process with the same result. I mean, if one line printed "null" in the test output above, it's not very useful information I think. I've searched this repo and found a line with the error string we've posted so I would go for investigating the stack trace. If similar errors occu

[2018-10-12 13:11] Allaphy commented on #643
send the buffer to cosole.log i know how to do it, but when i do this, it wont send the message on discord.

i must do something with this buffer ?

[2018-10-12 13:18] Allaphy commented on #643
**var p1 = hguData[sort1].user; // String
var pa1 = hguData[sort1].avatar; // avatar URL (image)
var p2 = hguData[sort2].user; // String
var pa2 = hguData[sort2].avatar; // avatar URL (image)
var data;
var imgs = [pa1, pa2];
var jimps = [];

for (var i = 0; i < imgs.length; i++) {
	jimps.push(await jimp.read(imgs[i]));
}

Promise.all(jimps).then(function() {
	return Promise.all(jimps);
}).then(fun

[2018-10-12 14:10] patheticcockroach opened #645 "TypeScript definition - Wrong return type for getPixelColor()"
# Expected Behavior

getPixelColor(x, y) should return a number

# Current Behavior

The TypeScript definition says getPixelColor(x, y) returns a Jimp object, causing compilation to fail

# Failure Information (for bugs)

## Steps to Reproduce

Try to compile this typescript code
[code]
You'll get an error:
[code]

**Screenshots**
N/A

## Context

- Jimp Version: 0.5.4
- Operating System: Windows

[2018-10-12 17:13] SwissArmyMike commented on #639
I'm not sure how the window creation applies to this issue. Yes, I'm using webpack. Do you have a link to the stack overflow you are referencing?

[2018-10-12 18:09] hipstersmoothie commented on #643
@Allaphy That code wasn't really doing what you wanted to accomplish. The following does what you intended. I also changed the `print` calls to center the text within the picture width so you can put any string there now.

@DavidOndrus  if you provide me an example like this I can try to fix it as well.

[code]

[2018-10-12 18:16] hipstersmoothie commented on #639
@SwissArmyMike https://stackoverflow.com/questions/52715291/error-cant-access-the-filesystem-you-can-use-the-getbase64-method-electronjs

if you are using webpack it might be resolving the browser version of jimp and that could be messing you up. Look at my comment [here](https://github.com/oliver-moran/jimp/issues/641#issuecomment-429221196)

[2018-10-12 18:22] DavidOndrus commented on #643
My code is really simple in this case - it crashes on the first Jimp line (Jimp.read) - in the case where it happened, I also had sails.log.debug before Jimp.read printing uploadedFiles[0] object a "fd" field was properly there:
[code]

[2018-10-12 18:31] hipstersmoothie commented on #643
Have you been able to reproduce the error outside of sails? As in a just a simple script no server. I still have now been able to reproduce your issue. Currently running this following with your file with no errors so far:

[code]

[2018-10-12 18:48] DavidOndrus commented on #643
I didn't try outside of sails because Sails is a must for me in the project, it must work everywhere. You said "I still have now been able to reproduce your issue" - so were you ? Or is it a mistake ?

[2018-10-12 18:49] SwissArmyMike commented on #639
**It looks like this worked for me!**

Adding this to the webpack config files solved the problem.
[code]

[2018-10-12 18:51] hipstersmoothie commented on #643
Oops just a typo. Still *cannot* reproduce. If you cannot reproduce outside of sails then this must be a problem with the interaction between the two.

I have never used sails so i really need you to put together a repo with as little code as possible that showcases the problem. Otherwise I will not be able to fix this at all.

[2018-10-12 18:52] hipstersmoothie commented on #639
Awesome! glad I could help

[2018-10-12 18:52] #639 closed

[2018-10-12 18:53] hipstersmoothie commented on #641
Feel free to open another issue if this doesn't resolve it. I'm pretty sure it does.

[2018-10-12 18:53] #641 closed

[2018-10-12 19:06] hipstersmoothie commented on #643
To me it seems like this has to be async issues with your code. You've said:

* it happens locally without hitting a network (so it doesn't have to do with jimp's request function)
* it happens when running a sails server with local files.
* it happens sometimes

This leads me to believe that you are not properly awaiting a promise at some point resulting in the image *sometimes* being there. jimp

[2018-10-12 19:13] hipstersmoothie commented on #643
@DavidOndrus do you happen to be using webpack?

[2018-10-13 00:10] hipstersmoothie commented on #633
I have created https://github.com/hipstersmoothie/bmp-js/tree/ts a fork of bmp-js to handle encoding. Just need to write some tests and release @bkonno @noelportugal

[2018-10-13 00:10] jdanbrown commented on #277
- @linjunshi Try https://github.com/parshap/node-libs-react-native to polyfill `Buffer` for react-native?
- @Xdabier Try one of the fs libs mentioned at https://github.com/parshap/node-libs-react-native to polyfill the node `fs` module?

[2018-10-13 23:48] hipstersmoothie commented on #643
I'm gonna close this. If someone can put together an example that errors consistently and share it with me feel free to open an issue!

[2018-10-13 23:48] #643 closed

[2018-10-13 23:50] hipstersmoothie commented on #297
Closed due to inactivity.

[2018-10-13 23:50] #297 closed

[2018-10-13 23:50] hipstersmoothie commented on #312
@mk @riatzukiza @zombiesbyte closing in a month if there is no activity

[2018-10-13 23:50] hipstersmoothie commented on #327
Closed due to inactivity.

[2018-10-13 23:50] #327 closed

[2018-10-13 23:51] hipstersmoothie commented on #400
Closed due to inactivity.

[2018-10-13 23:51] #400 closed

[2018-10-14 11:05] JannisX11 opened #646 "Web build (jimp.min.js) missing"
# Expected Behavior

In v0.2.28 i used the "browser/lib/jimp.min.js" file to use Jimp both in a browser and in Electron.

# Current Behavior

The file jimp.min.js is missing from the current build and I can't find an alternative file in the repo.

[2018-10-14 22:43] Xdabier commented on #277
@jdanbrown I'll try that, an comment the results as soon as possible!

[2018-10-15 02:14] noelportugal commented on #633
Great news @hipstersmoothie! I'm hoping is released in the next couple days :)

[2018-10-15 09:07] dhavalsojitra8866 commented on #636
No its did not solved my issue.
Because it only happen when i use "https://graph.facebook.com/" url.

[2018-10-15 09:27] hipstersmoothie commented on #636
Yeah, graph urls for picture do some weird redirect thing so you have to get the url yourself. Why is the answer not sufficient?

[2018-10-24 17:30] chris-maclean opened #647 "LosslessJpegDecoder is undefined"
# Expected Behavior
Jimp should be able to process DNG files.

# Current Behavior
Jimp throws an error `LosslessJpegDecoder is undefined`.

# Failure Information (for bugs)
[code]

I'm using Jimp within an AWS Lambda function. When I import Jimp to perform conversion on a DNG to base64, I get the error `LosslessJpegDecoder is undefined`. This occurs before I perform any image processing.

I've fou

[2018-10-24 17:34] hipstersmoothie commented on #647
This is def a problem with utif. I can put together a small example for an
issue there but I am currently away from a computer. Are you using the
latest jimp? 0.4.0 is old
On Wed, Oct 24, 2018 at 10:31 AM Christopher Anna <notifications@github.com>
wrote:

[2018-10-24 17:50] c-anna commented on #647
Looks like I am not using the latest jimp. npmjs.org says 0.4.0 is about 2 months old, which sounds like about the time I started on this function. I'll upgrade to the latest and see if that does anything (I doubt it, since the code currently in Github looks the same as what I posted).

Thank you so much! I have an issue open on the `utif` project here: https://github.com/photopea/UTIF.js/issues/4

[2018-10-24 19:37] gvelasquez760 opened #648 "color manipulation not working"
# Expected Behavior

im tryng to manipulate r,g,b of a image object

# Current Behavior

Throw the error:  TypeError: Cannot read property 'constructor' of undefined

# Failure Information (for bugs)

im tryng to run a basic code like the example:

[code]

Thanks!

[2018-10-24 19:53] c-anna commented on #647
The devs at UTIF.js replied to me: https://github.com/photopea/UTIF.js/issues/49#issuecomment-432802236

Looks like DNGs are outside the purview of UTIF.js. Does that mean that it's also outside the purview of Jimp? Do the Jimp developers think it should decode DNG files?

When I filed this issue, I thought that I had been processing DNGs with Jimp for some time. After some investigation, I realiz

[2018-10-24 21:39] hipstersmoothie commented on #647
I did not realize DNG was an image type. Jimp does not support that image. If you wrote a encoder/decoder in JS though it would be easy to integrate.

Jimp supports the following image types:

bmp
gif
jpeg
png
tiff

[2018-10-24 21:40] hipstersmoothie commented on #647
So if you want to add it feel free to make a PR and i will guide you on how to do it. Otherwise processing this image file is outside the scope of jimp. Close? or would you like me to keep it open to track DNG?

[2018-10-25 12:56] c-anna commented on #647
That sounds like an interesting project, I think I can do it. There already exists a package `lossless-jpeg-decoder` (https://www.npmjs.com/package/lossless-jpeg-decoder) that can probably handle the heavy lifting of decoding. What do I need to do to integrate such a decoder into Jimp?

[2018-10-25 13:48] c-anna commented on #647
In fact, @rdhenderson solved the problem for our team with some webpack wizardry, basically providing `LosslessJpegDecoder` as a peer dependency (tying it to `lossless-jpeg-decoder`). So I know that I won't have to reinvent the wheel re:DNG decoding (which I know nothing about), I'll just need to integrate that package into Jimp.

Any help/guidance is appreciated! Thank you!

[2018-10-25 17:07] hipstersmoothie commented on #647
Awesome that you got it working! As for adding it to jimp you will probably add it as a dependency to this package https://github.com/oliver-moran/jimp/tree/master/packages/jimp.

You might be able to just add it? I'm not quite sure how to go about it. The hard part is going to be the UTIF.js just uses `LosslessJpegDecoder` and doesn't require or import it. So just installing the dependency won't

[2018-10-25 19:50] c-anna commented on #647
I agree that modifying UTIF.js is an attractive solution. If I could modify UTIF.js, adding `lossless-jpeg-decoder` as a dependency and sticking

[code]

at the top of UTIF.js would solve the problem. But the folks at Photopea (or at least the person who replied to my issue) doesn't want to support DNG (https://github.com/photopea/UTIF.js/issues/49#issuecomment-432802236):

I guess that's fair eno

[2018-10-25 19:56] hipstersmoothie commented on #647
The guys that run hat toe to really don’t understand npm so be wary
On Thu, Oct 25, 2018 at 12:50 PM Christopher Anna <notifications@github.com>
wrote:

[2018-10-25 20:00] hipstersmoothie commented on #647
Maybe look into optional dependencies. You could use require ensure to check for the package and then require it before he call the lossless jpeg decoder. The user could still optionally install the dep and we wouldn’t have to do anything with webpack

[2018-10-25 20:01] rdhenderson commented on #647
I initially tried to resolve the problem by using webpack to inject LosslessJpegDecoder as a global variable with shimming.  Downside to that approach was it required webpacking node modules which felt like a hack.  I ended up using a simple post install hook to inject a require statement into utif.js if it wasn't present, and that does the trick nicely.

[code]
Will look into a better solution fo

[2018-10-25 20:03] hipstersmoothie commented on #647
@rdhenderson look at my last comment. This should work and be okay with the utif team

[2018-10-25 20:07] rdhenderson commented on #647
@hipstersmoothie Awesome - I've run across that in the docs, but haven't used it in the wild. Should be perfect, thanks!

[2018-10-25 20:37] itslenny commented on #316
You can achieve this with compositing...

[code]

[2018-10-25 22:04] rdhenderson commented on #647
[PR](https://github.com/photopea/UTIF.js/pull/51) submitted on UTIF.js

[2018-10-26 01:32] #636 closed

[2018-10-26 01:37] #645 closed

[2018-10-26 01:48] hipstersmoothie commented on #646
@JannisX11 I just installed v0.5.4 and the following code did not fail. I cannot reproduce your issue.

[code]

[2018-10-26 01:53] #648 closed

[2018-10-26 01:58] hipstersmoothie commented on #648
fixed in v0.5.5

[2018-10-27 12:40] JannisX11 commented on #646
I am not using Require in my web build. In the previous version I was simply loading the jimp.min.js script from the HTML document. In this version when I download the repo, this file is missing.

[2018-10-27 17:18] hipstersmoothie commented on #646
If I can require the file it exists. Mind sharing code showcasing the
problem? I can’t reproduce so unless you give me a reproducible case I
won’t be able to fix this. I will be closing if you do not provide code
since it definitely works on my end.

It seems like that may just be an html file so it should be easy.

I think I just figured out your actual problem. You are downloading the
repo and n

[2018-10-27 17:36] JannisX11 commented on #646
Thanks, this worked.

I think sections I filled were pretty self explainatory. There was no code involved, so I couldn't have made an example. It was just the file that was missing and I wasn't expecting it to be not in this repo anymore.

[2018-10-27 17:36] #646 closed

[2018-10-27 20:52] JannisX11 opened #651 "Autocrop creates one-line image in some situations"
# Expected Behavior

The image.autocrop() function should remove the transparent parts around the object in the image.

# Current Behavior

Instead, in some rare cases, it creates a seemingly empty, one line graphic.

# Failure Information (for bugs)

I cannot tell when exactly the source image causes autocrop to fail, but in the image in the example down below this is the case.

## Steps to Repro

[2018-10-28 05:43] kendickson opened #652 ""print" method on transparent background produces black fringe"
# Expected Behavior

Printing text on a image with a transparent background should result in text with a transparent fringe.

# Current Behavior

Instead of a transparent fringe, the text is drawn with a black fringe.

# Possible Fix

In the drawCharacter method of plugin-print, changing:

`image.blit(characterPage, x + char.xoffset, y + char.yoffset, char.x, char.y, char.width, char.height);
`

.

[2018-10-29 06:59] griffin2000 commented on #642
Same results for me with that file (same results just pasting that line into a js file and browserifying that) , in version 0.5.6:

[code]

[2018-10-29 08:21] hipstersmoothie commented on #642
Hmmm i honestly have no clue. Ive been thinking of switching over to webpack soon to make a browser version but idk if that would solve this problem. I honestly have no clue how to go about debugging that as 'jimp has no `'./src/converter'`

[2018-10-29 18:24] HRK44 opened #653 "Error: No matching constructor overloading was found."
# Expected Behavior

Create a new PNG file

# Current Behavior

Error: No matching constructor overloading was found. Please see the docs for how to call the Jimp constructor.

# Failure Information (for bugs)

## Steps to Reproduce
[code]

## Context

- Jimp Version: 0.5.6
- Operating System: Ubuntu 18.04.1
- Node version: 10.12.0

## Failure Logs

[2018-10-29 18:38] hipstersmoothie commented on #653
Have you tried makeing `pixelData` into a buffer?  Has this worked before?

[2018-10-30 07:14] HRK44 commented on #653
It's the first time I'm using Jimp, just following the docs and APIs. I just tried with ``pixelData.buffer`` and it doesn't work, same error.

[2018-10-30 08:50] hipstersmoothie commented on #653
This is the code uses to determine if the data is a image buffer

https://github.com/oliver-moran/jimp/blob/master/packages/core/src/index.js#L95

it looks like you may have the wrong size.

[2018-10-30 09:39] HRK44 commented on #653
I see, indeed my image is a 1 channel (white/black) with non-alpha. How could I do it in this case? Maybe it would be good to update the error message into something more explicit like : "Received xxx bytes but expecting yyy bytes" or "Wrong image size".

Thanks for your help

[2018-11-08 19:53] hershyheilpern opened #654 "marker was not found on big images"
# Expected Behavior

i want to resize my image

# Current Behavior

when I try to do anything with big images I get this error

# Failure Information (for bugs)

E:\Server\Server.js:118
                                                                  if (err) throw err;
                                                                           ^

Error: marker was not found
    at decodeScan (E:\

[2018-11-08 20:35] hipstersmoothie commented on #654
Can I get your test image?
On Thu, Nov 8, 2018 at 11:53 AM hershyheilpern <notifications@github.com>
wrote:

[2018-11-08 20:41] hershyheilpern commented on #654
the 2 images that i posted on top

[2018-11-08 20:42] hipstersmoothie commented on #654
Sorry didn’t show up in the email
On Thu, Nov 8, 2018 at 12:41 PM hershyheilpern <notifications@github.com>
wrote:

[2018-11-08 20:44] hershyheilpern commented on #654
http://1hclouds.com/temp/OCCU-LUX-250-JB-BO-A.jpg
http://1hclouds.com/temp/Arthur_(hi_res).jpg

[2018-11-09 01:51] Favna commented on #581
I'd like to revive this issue for Jimp v0.5.2 with tsc v3.1.6. Currently I'm using `import Jimp from 'jimp'; however the Jimp in runtime then turns out as `undefined` thus I cannot access simple functions like `Jimp.read()`.

[2018-11-10 10:01] mojodev commented on #437
any update to fix this issue ?

[2018-11-11 15:56] RezaT1994 opened #655 "Error on read function"
# Expected Behavior
It should resolve the image in promise, but it's return an error.

# Current Behavior
The error I get:
`TypeError: Cannot read property 'image/jpeg' of undefined`

- Jimp Version: @jimp/types@0.5.4
- Operating System: Windows
- Node version: 10.13.0

[2018-11-11 19:29] hipstersmoothie commented on #655
Can i get the image and code to reproduce this problem? Cant do much without that

[2018-11-11 19:31] hipstersmoothie commented on #437
converting the image to png will make it bigger unless you use the png options. have you tried my above code @mojodev

[2018-11-11 19:32] hipstersmoothie commented on #581
Have you tried importing in other ways? @Favna

[2018-11-11 19:44] Favna commented on #581
Actually yes, I have since figured out that it works with `import Jimp = require('jimp');`. It ended up being documented on [typescriptlang](https://www.typescriptlang.org/docs/handbook/modules.html)

Extract:

IMO it feels off to be using `require` in TypeScript but if we would like to use `import * as Jimp from 'jimp'` or such a more ES6 Import/Export structure the definitions file would have to

[2018-11-11 20:20] hipstersmoothie commented on #581
Yeah i can write typescript code but have had no luck getting .d.ts files to work right all the time. The require feels off to me too. I've tried messing with the .d.ts file too with no avail. If anyone tries to fix this these requirements still stand:

Requirements:

* intellisense works in CJS project without having to `require('jimp').default`
* intellisense works in TSC project
* TSC can build

[2018-11-12 01:34] maikelag opened #656 "How change depth color?"
how to convert png image from 24 to 8 bit

[2018-11-12 08:17] RezaT1994 commented on #655
[code]

Image:
![15419512476045439](https://user-images.githubusercontent.com/31609638/48334660-ac862c00-e670-11e8-96bb-9a9c0a4fb217.jpg)

[2018-11-12 17:37] hershyheilpern commented on #654
did you find anything

[2018-11-12 22:16] nrkn opened #657 "Negative contrast clarification"
Can you clarify how negative contrast values are expected to behave? The only thing I have to compare with is Photoshop, which has two modes, standard and legacy. Jimp appears to behave like *both* of these in some respects

# Expected Behavior

When passing a negative value to contrast, result is similar or the same as one of Photoshop's contrast adjustment modes (standard or Legacy)

# Current B

[2018-11-12 22:52] nrkn commented on #657
This is subjective, but I think the most **useful** way to define negative contrast would be similar to Photoshop's legacy mode, or how CSS filters work with sub 100% values:

[code]

![screenshot_2018-11-13 w3c contrast](https://user-images.githubusercontent.com/607925/48379862-71e8c600-e73a-11e8-8961-f6115d4e1f18.png)

[2018-11-13 05:09] hipstersmoothie commented on #657
So do you just want to lay two images on top one another with a little bit of transparency?

[2018-11-13 05:10] hipstersmoothie commented on #657
I am not sure what the original implementors intent was with that function. Other functions can accomplish this though I think

[2018-11-13 05:12] nrkn commented on #657
I want to reduce or increase the contrast of some images. Increasing
contrast works exactly as expected. Decreasing contrast is confusing.
On Tue, 13 Nov 2018 at 18:10, Andrew Lisowski <notifications@github.com>
wrote:

[2018-11-13 05:15] hipstersmoothie commented on #657
Hmm you might be able to look at the implementation and find what the problem is. I have never touched that part of the code. PRs welcome!

I can guide you through developing on the project. Right now I do not have the time to do this myself

[2018-11-13 05:17] nrkn commented on #657
I have an implementation that works, I’ll send a pull request when I have
time
On Tue, 13 Nov 2018 at 18:15, Andrew Lisowski <notifications@github.com>
wrote:

[2018-11-13 05:19] hipstersmoothie commented on #657
Awesome! You can update any tests that don’t make sense given the new code since this eeems to be a bug

[2018-11-13 05:20] hipstersmoothie commented on #656
You can try fiddling with the pngjs options. But if pngjs doesn’t support it jimp won’t be able to encode to that bit depth

[2018-11-13 09:06] RezaT1994 commented on #655
I change the import line to this:
`import jimp from 'jimp';`

Now it returns `TypeError: Cannot read property 'read' of undefined`

I'm using it just like this [link](https://github.com/oliver-moran/jimp/tree/master/packages/plugin-resize)

[2018-11-13 09:13] hipstersmoothie commented on #655
This following code works

[code]

They way resize works is not how you're calling it. It doesn't take 3 args. So i'm not sure your code is doing what you intend. At least that's not how jimp's resize works

[2018-11-13 09:14] hipstersmoothie commented on #655
oh okay i understand you code more now `resize` is a function you've defined

[2018-11-13 09:15] RezaT1994 commented on #655
I'm using typescript, not javascript

[2018-11-13 09:16] hipstersmoothie commented on #655
The following works as well

[code]

[2018-11-13 10:02] hipstersmoothie commented on #655
@RezaT1994 can i close?

[2018-11-13 10:05] RezaT1994 commented on #655
Yes, thank you. solved my problem

[2018-11-13 16:15] HRK44 commented on #653
Unfortunately I'm working with some sensitive data and cannot share the image, but I guess you could reproduce with any 1 channel non alpha image. But as indicated in the docs, this constructor only take RGB(A) images, thus displaying this error message.

Two solutions I guess : change the error message to something more explicit and/or accept other type of images instead of only RGB(A) - which I

[2018-11-13 18:45] #655 closed

[2018-11-16 12:46] pndewit commented on #581
Not really an expert, but the following seems to fix most of my issues.

Add the following to the top of the `jimp.d.ts` file: `import * as jimp from 'jimp';`
Remove this from the `jimp.d.ts` file:`declare module 'jimp' { export = Jimp.Jimp; }`

Let me know if this helps in any way.

[2018-11-17 03:47] hipstersmoothie commented on #581
@favna @AtaS Can you verify that the change suggested by @pndewit works?

[2018-11-18 00:37] qodesmith opened #659 "Any way to do a gradient on an image from opaque to transparent?"
I have images of audio waveforms. They are pngs where the waveform is a solid color but the background is transparent. Example:

![02 - yuck](https://user-images.githubusercontent.com/11034792/48667265-17d06380-eaa0-11e8-9302-7089fccfb12f.png)

Any way to make this image go from red to transparent (bottom to top) with Jimp? Thanks for an awesome project!

[2018-11-18 12:34] Favna commented on #581
@hipstersmoothie it "works" but that's honestly stretching the definition. That it to say, the TS compiler throws this (replace "read" with whatever) on all functions and properties from Jimp `Property 'read' does not exist on type 'typeof import("e:/UserFiles/DevProjects/ribbon/node_modules/jimp/jimp")'. [2339]`.

![image](https://user-images.githubusercontent.com/4019718/48672336-dd64d600-eb34-1

[2018-11-19 04:06] hipstersmoothie commented on #581
Sweet! Make a PR and I will get to it in the next few days!

[2018-11-19 04:09] hipstersmoothie commented on #659
Jimp currently doesn't have gradient support (I have a branch that is allllmost working). You could maybe use a pregenerated gradient and using the `mask` function. (IDK I have never tried masking myself)

[2018-11-19 07:04] pndewit commented on #581
@Favna Nice, your solution is indeed working better. I am getting a TS error though:
`TS1039: Initializers are not allowed in ambient contexts.`
![screen shot 2018-11-19 at 08 02 36](https://user-images.githubusercontent.com/2362039/48691124-a7296400-ebd1-11e8-85b2-576792b9c160.png)

[2018-11-19 07:36] Favna commented on #581
@pndewit ai... I didn't see that one. It does work when using it and I've compiled code successfully too. Maybe we should just add `// @ts-ignore` and be done with it?

[2018-11-19 07:38] pndewit commented on #581
I'm cool with just ignoring it. I am reading a little bit about the issue we're trying to solve here and it seems like our solution is a little hacky though: https://stackoverflow.com/questions/39415661/what-does-resolves-to-a-non-module-entity-and-cannot-be-imported-using-this

[2018-11-19 10:09] Favna commented on #581
I'll add the ignore and create the PR but I'll keep this issue open (will rewrite the commit message to remove the "resolves" part). I think the ideal case would be to rewrite the declarations file, specifically by extracting the `class Jimp` from the `namespace Jimp` and basically restructuring it entirely.

[2018-11-20 01:07] Romans96 opened #661 "Write/read error: no such file or directory"
i have this code:

[code]

It gives 1 time on 2, Error: ENOENT: no such file or directory, stat 'D:\Discord Bot\gamertags-img\nero.jpg'. I tried some things, searched, but nothing works...

[2018-11-20 03:36] hipstersmoothie commented on #661
Basically your problem was using the callback style `write` instead of the promise based `writeAsync`

Things I changed:

- only function on the image with async in the name are async. so only they need to be awaited, not any image manipulation operations
- you can chain image manipulation function if you want
- write -> writeAsync - writeAsync will actually return a promise
- remove callback - wr

[2018-11-20 11:07] Romans96 commented on #661
I tried changing in writeAsync, but it continues to gives the same error at Object.fs.unlinkSync

[2018-11-20 11:11] oliversalzburg opened #662 "Deprecated Buffer usage in load-bmfont"
# Expected Behavior
No deprecation warnings are generated by using jimp.

# Current Behavior
load-bmfont (at least) uses the `Buffer` constructor, [which is deprecated](https://nodejs.org/en/docs/guides/buffer-constructor-deprecation/).

# Failure Information (for bugs)

## Steps to Reproduce

`require("jimp");`

## Context
I [tried resolving this in load-bmfont](https://github.com/Jam3/load-bmfon

[2018-11-20 12:06] Romans96 commented on #661
ok tried again changin a bit of things, and now it seems it works. The only moment where it didn't works, was when i type the command before the bot/program hadn't sent the image (and the fs unlinked)

Thank you so much

[2018-11-20 20:20] mjabraham47 opened #663 "Crop is cropping the wrong way"
I expect crop to follow the crop behavior I set forth on my front-end using react-image-crop.

Currently, when I send an image back for cropping, the image for some reason is cropped even smaller.  For example:
With crop object: {x: 67, y: 0, width: 133, height: 266}, I pass an image into Jimp.  Unfortunately, the below code has been providing even smaller cropped objects.  I checked, and I'm defi

[2018-11-21 02:10] #661 closed

[2018-11-23 18:34] renie opened #664 "TIFF to JPEG conversion with strange behavior"
I am trying to generate a thumbnail of a TIFF, in JPEG, and render it using base64.
But the thing is, in some files I got this strange result below.

Original image looks like this, with transparent background:
![1](https://user-images.githubusercontent.com/324830/48952690-36b07900-ef2a-11e8-9042-5e06662665ee.png)

# Expected Behavior

It should look like this, just with an white background.
![3](

[2018-11-24 01:02] hipstersmoothie commented on #664
does the image work going tiff -> any other format?

[2018-11-25 03:18] SamuelZhaoY opened #665 "image.threshold is not a function"
I tried to install the plugin 'jimp/plugin-threshold', and then I followed the instruction provided by
https://github.com/oliver-moran/jimp/tree/master/packages/plugin-threshold.  invoking method of 'image.threshold({ max: 150 });' will simply produce an error:

[code]
Version Info:

[code]

[2018-11-25 03:40] SamuelZhaoY commented on #665
Thanks, I found out the document for this.  Yes, the code above works 👍

[2018-11-25 03:40] #665 closed

[2018-11-26 16:20] renie commented on #664
I've tried to png also, and got the same problem.

[2018-11-26 18:14] renie commented on #664
After some more testing it turned out that the problem was about image depth. That image, of a can, was saved with 16bits.
I've tried converting the original image saving it again on Gimp, and converting on bash via Image Magick (`convert imagem16.tif -depth 8 imagem8.tif`). On both cases, after convertion to 8bits, everything worked like a charm.

[2018-11-28 01:40] hipstersmoothie commented on #664
Sweet! This problem might be a little out of my depth (bdum bdum tsk). Feel free to make a PR if you solve the issue. As i said though this is most likely a problem in a dependency of ours

[2018-11-28 14:49] kritollm commented on #581
I use `import Jimp =  require('jimp');`

I have full intelliSense .

Typescript 3.1.4

tsconfig.json:

[code]

[2018-11-28 17:06] Favna commented on #581
@kritollm please read issue comments before commenting yourself. It is known that your method works, as this is [the documented method from typescriptlang (scroll to the section about require)](https://www.typescriptlang.org/docs/handbook/modules.html). The critique however is that using "require" (a CommonJS method of importing) is ugly when the rest of your code uses proper TypeScript supported

[2018-11-28 18:20] #581 closed

[2018-11-28 19:31] hipstersmoothie commented on #662
@oliversalzburg https://twitter.com/mattdesl/status/1067211491563196416

I've dealt with updates in his packages before. I would go ahead and make a PR to the repo fixing whatever you want. I can deal with pestering him on twitter once you're done.

[2018-11-28 19:33] qodesmith commented on #282
Looking fwd to gradient features being developed in the branch mentioned in #659 😃

[2018-11-28 20:47] oliversalzburg commented on #662
@hipstersmoothie Done https://github.com/Jam3/load-bmfont/pull/7

Could you do me the favor and the tests? The browser tests are failing for me (on Windows) because testling can't find a headless browser :(

[2018-11-28 21:12] hipstersmoothie commented on #662
do you have chrome installed? that might fix the issue. I'll take a look at the tests tonight

[2018-11-28 21:15] oliversalzburg commented on #662
Yeah, I have Chrome installed, I guess it doesn't detect it properly. I also have phantomjs, but it doesn't find that either. I looked into related reported issues but those didn't get me anywhere either :/

[2018-11-28 21:44] hipstersmoothie commented on #662
hmmm okay. i'll give it a try later. Thanks for the code!

[2018-11-28 23:43] RDeluxe opened #668 "writeAsync seems not finished"
# Expected Behavior

After calling `await image.resize().writeAsync(p)` I should be able to upload it on AWS S3 without issue.

# Current Behavior

Currently, I need to add a timeout after `writeAsync`, based on the file size (longer for bigger size) to be sure that I can upload my file

# Failure Information (for bugs)

I'm getting "File not found, ENOENT" errors.

## Steps to Reproduce

Here is

[2018-11-29 01:42] hipstersmoothie commented on #668
Super weird. Maybe we are doing something wrong with out promises?

Relevant code:

writeAsync fn:
https://github.com/oliver-moran/jimp/blob/master/packages/core/src/index.js#L556

promisify:
https://github.com/oliver-moran/jimp/blob/master/packages/core/src/utils/promisify.js

write fn:
https://github.com/oliver-moran/jimp/blob/master/packages/core/src/index.js#L549

Is it possible for you to wal

[2018-11-29 09:52] RDeluxe commented on #668
Well, actually even without trying to upload (commenting all the code linked to AWS) the error still happens.

I'm wondering if chaining like this is not causing a problem, as `resize` is asynchronous too.

[2018-11-29 10:11] RDeluxe commented on #668
Ok, it crashes before any file operation, it seems `Jimp.Read()` is the culprint.

[code]

This crashes before the `console.log('read')`, but the file always exists.

[2018-11-29 13:24] GhosalkarPratik opened #669 "Image rotation is anticlock-wise, not clockwise"
Images rotating in the anti-clockwise direction

# Expected Behavior

Expected to rotate image clockwise, as per documentation.

# Current Behavior

But rotated anti-clockwise

## Steps to Reproduce

Run the following code with image 'download.jpg' attached below in the same folder
![image](https://user-images.githubusercontent.com/25661023/49224277-0a539b80-f407-11e8-8aab-4626d4b5af48.png)

[code

[2018-11-29 13:47] RDeluxe commented on #668
I'm closing this, it seems that this bug is not related to Jimp in any way, but to some issues with FS in a shared volume between windows and a linux container. The file exists, but is apparently not readable (the first file uploaded is, but after that I'm getting only errors).

[2018-11-29 13:47] #668 closed

[2018-11-29 19:16] hipstersmoothie commented on #668
Cool!

[2018-11-29 19:18] hipstersmoothie commented on #669
duplicate of #631

[2018-11-29 19:18] #669 closed

[2018-11-30 12:08] SaschaHeyer commented on #153
Hi @oliver-moran,
seems that the memory issues is still not resolved.
Do you have any further informations about the progress?

I am able to reproduce the behavior

**Memory consumption on a 9MB Image**

`{ rss: 540753920,
  heapTotal: 65892352,
  heapUsed: 20104376,
  external: 321026439 }`

I am running on version 0.5.6

Thank you
Sascha

[2018-12-02 13:06] mani-Shankar opened #671 "Any feature about converting Multiple images to Single GIF?"
Hi,

Is there any feature related to converting multiple images to single GIF?

if so please provide the solution regarding this.

Thanks

[2018-12-08 11:14] YoavSarfaty opened #673 "Can't crop small images RangeError"
# Expected Behavior

I am trying to detect if an image is inside another image by looping with an xoffset and yoffset and comparing the one image with a subsection of the other using crop()

# Current Behavior

But when i try to crop with the xoffset as anything above 0 it fails with an `RangeError [ERR_OUT_OF_RANGE]: The value of "offset" is out of range. It must be >= 0 and <= 9212. Received 921

[2018-12-08 13:53] ananaszjoe opened #674 "Jimp breaks Bluebird - PromisifyAll is not a function"
# Expected Behavior
Jimp should not break other modules

# Current Behavior
I use Bluebird and Raven like so:
[code]
if I require Jimp in my project like so,
`var Jimp = require('jimp')`
It breaks Bluebird's pormisifyAll function and I get the following error:
`TypeError: global.Promise.promisifyAll is not a function`

When I only remove `var Jimp = require('jimp')` from my poject, it runs without

[2018-12-09 09:06] hipstersmoothie commented on #674
That's weird as hell. Will def look into this this week

[2018-12-09 09:06] YoavSarfaty commented on #673
Sorry this is my code not jimp!

[2018-12-09 09:06] #673 closed

[2018-12-09 09:06] hipstersmoothie commented on #673
Glad you solved your problem!

[2018-12-09 09:08] hipstersmoothie commented on #671
This is not supported at the moment. GIF support is quite limited (I've never tried it). I would suggest looking into https://www.npmjs.com/package/gifwrap. It aims to manipulate images in a jimp compatible way.

[2018-12-10 20:55] tdobes opened #675 "crop() works incorrectly when x = 0 and w = current image width"
# Expected Behavior

Running crop() should result in a buffer of the appropriate length

# Current Behavior

Running crop() results in a buffer with an incorrect length

# Failure Information (for bugs)

There is a bug on this line:
https://github.com/oliver-moran/jimp/blob/master/packages/plugin-crop/src/index.js#L30

Specifically, it looks like we're shifting things left by 3 bits instead of 2 b

[2018-12-14 09:39] Jakovb commented on #674
Can confirm, any eta?

[2018-12-15 17:51] daydream05 opened #676 "[question] is it possible to change a specific color to alpha?"
I want to make the color white transparent and was wondering if this is possible. Thanks!

[2018-12-15 17:54] daydream05 commented on #676
Closing this issue. Found this https://github.com/turakvlad/replace-color/blob/master/README.md

[2018-12-15 17:54] #676 closed

[2018-12-17 17:29] marktani opened #677 "Create an image from scratch in browser"
**Is your feature request related to a problem? Please describe.**
I want to create a new image from scratch without reading an image before. I am in the browser.

**Describe the solution you'd like**
An API to create a new image buffer from scratch, given a certain size. `Jimp.create(300, 300)` creates a new 300x300 image buffer, on which I could run the normal Jimp API.

[2018-12-17 17:35] marktani commented on #677
Found this API, `read` should work:

[code]

[2018-12-17 17:35] #677 closed

[2018-12-18 15:59] androetto opened #678 "How do I add a watermark?"
Hi, i read post on watermark but not resolve my problem. Until now have is it:

function waterMark() {

    const image =   Jimp.read('./original.png');
    const watermark =   Jimp.read('./watermark.png');

    image.composite(watermark, 0, 0, {
      mode: Jimp.BLEND_SOURCE_OVER,
      opacityDest: 1,
      opacitySource: 0.5
    })

    image.writeAsync('originalwithmark.png');

}

Response : i

[2018-12-18 20:18] jameshfisher opened #679 "How do I set a specific pixel in an image?"
I want to manipulate an image per-pixel.

[2018-12-19 18:40] JacobDB opened #680 "Add "bevel" feature"
I'd love to be able to add a bevel to images, similar to the edge bevel in [Android Asset Studio](https://romannurik.github.io/AndroidAssetStudio/icons-launcher.html#foreground.type=clipart&foreground.clipart=android&foreground.space.trim=1&foreground.space.pad=0.25&foreColor=rgb(255%2C%20255%2C%20255)&backColor=rgb(68%2C%20138%2C%20255)&crop=0&backgroundShape=circle&effects=none&name=ic_launcher)

[2018-12-19 18:50] hipstersmoothie commented on #680
I'm looking at the tool and there are no options that mention bevel or edge. Do you mean you want to create a tiny border around the image?

I don't really see this feature coming to jimp, but you can probably achieve the effect by using a few functions. What exactly do you want? If you can carefully explain how it should look i will give it a shot

[2018-12-19 18:51] hipstersmoothie commented on #679
https://github.com/oliver-moran/jimp/tree/master/packages/jimp search "setPixel". Let me know if you have any problems!

[2018-12-19 18:51] #679 closed

[2018-12-19 18:52] hipstersmoothie commented on #678
When using promises you must either `await` or use `then`.

[code]

[2018-12-19 18:52] #678 closed

[2018-12-19 18:53] hipstersmoothie commented on #678
The original post had the awaits too. You cannot just delete them and expect the code to work.

[2018-12-19 18:55] hipstersmoothie commented on #677
If you want your code to read a little clearer you can use `Jimp.create` its just sugar

[2018-12-19 18:56] JacobDB commented on #680
Ah, sorry, I should've been a bit more clear :)

Yes, I do mean adding a slight border effect, if you look at the icon in the screenshot below, you can see what I'm referring to around the edges.

![image](https://user-images.githubusercontent.com/1123997/50241584-746bba80-038d-11e9-8dae-bac27ea899b2.png)

[2018-12-19 19:01] hipstersmoothie commented on #680
this border might be hard to achieve since it also has a slight gradient. I don't have time today to try to do this but here are the things I would try first:

- calculate the dark border color
- somehow mask it into the desired shape
- adjust the position of the dark area so the border is achieved
- repeat all this for the light color
- blit or composite all images into 1 image and layer accordin

[2018-12-19 19:02] hipstersmoothie commented on #675
One line fixes are the best though ;)

[2018-12-19 19:05] JacobDB commented on #680
Thanks, I'll try and take a look at how to do that when I have a few spare moments 🙂

[2018-12-20 11:39] oliversalzburg commented on #662
@hipstersmoothie Any chance to move forward with this?

[2018-12-20 11:49] oliversalzburg commented on #674
https://github.com/feathersjs/feathers/issues/510

Using `global` is not a great idea.

[2018-12-20 19:40] Jimbly opened #681 ".rgba(false) does not work"
# Expected Behavior

Expect to save the image without the alpha channel.

# Current Behavior

Getting an image byte-wise re-interpretted from RGBA to RGB.

# Failure Information (for bugs)

## Steps to Reproduce

[code]

**Screenshots**
In (and expected out):
![rgba](https://user-images.githubusercontent.com/774383/50306891-56b95680-045c-11e9-936a-c9f81947fcf3.png)
Actual out:
![rgb](https://user-

[2018-12-21 11:20] oliversalzburg commented on #674
@hipstersmoothie I was suggesting that babel-polyfill clobbers `global.Promise`. I don't understand why they do that if a symbol exists at that location, but it'd be an issue with babel-polyfill in that case.

In general, I would recommend to not use `global` in user code. If you want bluebird, just `const Promise = require("bluebird");` everywhere where you want to use it.

That being said, the a

[2018-12-22 00:44] jasan-s opened #682 "custom region shape and fill color pixelation"
**Is your feature request related to a problem? Please describe.**
  blurring faces with pixelating always block shape(square, rectangle), and can't really choose a different color i.e black, green etc.
**Describe the solution you'd like**
ability to set the shape of the region, i.e circle or custom shape(contour of the face). And the ability to set choose the fill color and/or control the fill co

[2018-12-22 04:30] hipstersmoothie commented on #682
Can i see picture examples?

[2018-12-23 16:50] oliversalzburg commented on #674
Don't support old versions. If the consumer of the library wants to use it with an older version of Node, have _them_ include a polyfill where it makes sense for them.

When I set a breakpoint on the `require("jimp")` call and step into the module code, I find it very hard to follow. Especially if your goal is to find out where something might register a symbol on `global`. But that might just be

[2018-12-23 18:37] darrensw777 commented on #643
Same problem here guys, this fails every time (is it because there is no file extension? If so is there a workaround?):

const image_url = 'https://images.asos-media.com/products/river-island-maxi-dress-with-tie-neck-in-snake-print/10985965-1-snakeprint';

[code]
This is the error I get:

[code]

[2018-12-23 18:55] hipstersmoothie commented on #643
Write requires a mime type in pretty sure. Nowhere near a computer so u can’t link

[2018-12-23 18:55] hipstersmoothie commented on #643
Jimp.auto as the second param

[2018-12-23 19:49] tttedu304 opened #683 "Circular Image Inside Other"
Hey, I want to add a circular image inside other image, like to make a profile, this is the code I have at the moment.
But as you see there are two different files the user mask and the bienvenido.png, I want to add user mask instead of memberavatar function, but Im really new at jimp and no one could help me with this at the moment, then my question is, How can I add the first image to the second

[2018-12-24 04:17] hipstersmoothie commented on #643
@darrensw777  The following code works for me.

[code]

but your code also just worked when i ran it....

[code]

[2018-12-24 04:18] hipstersmoothie commented on #643
`write  doesn't return a promise so you should actually use `writeAsync`

[code]

what version are you using?

[2018-12-24 04:21] hipstersmoothie commented on #683
I assume you can't just use css to round the images

[2018-12-24 04:32] hipstersmoothie commented on #683
some problems I see immediately

1. you need to await jimp.read and anything async
2. require jimp once at the top of the file. doing it inside the function is super weird. you should also not need to do it multiple times
3. you read the same image multiple times when its already in a const
4. unnecessary template string
5. you can chain image manipulation functions

here is your code cleaned up a

[2018-12-24 04:39] hipstersmoothie commented on #683
NOTE: I have not tried to actually make the masking work

[2018-12-24 12:13] darrensw777 commented on #643
Definitely not working still for me with that image url.

Tried:

[code]
Get the following error:
[code]
I only installed this yesterday so presumably the latest version. Installed using NPM

Using with NodeJS v. 11.4.0

OS: Linux 3.10.0-862.14.4.el7.x86_64 x86_64

How can I use and have it not throw a script blocking error? I have a fallback if this fails but it will not fail silently.

[2018-12-24 14:07] tttedu304 commented on #683
I FKING LOVE YOU!!! <3

[2018-12-24 15:42] hipstersmoothie commented on #683
Did it work? I can take another look today if the masking is still off. (I've never used the mask function so it will take a little tinkering)

[2018-12-24 15:46] hipstersmoothie commented on #643
Since i cannot reproduce this locally an example repo is gonna be needed. Also this has nothing to do with the issue we are using to talk about it so another issue would be cool as well.

aren't you catching and printing the error? the program should continue right?

as I said without a reproducible example I will be little help other than just speculation

[2018-12-28 03:15] AmauriAires commented on #663
Hi @mjabraham47. Your code seems to work properly. I used it and it worked as expected. What are the dimensions of your image? @mjabraham47 and @hipstersmoothie, is there a more specific way to reproduce the problem mentioned above?

[2018-12-28 18:22] hipstersmoothie commented on #663
I have not investigated this at all so far @AmauriAires. @mjabraham47 can you explain further? `imageObject` and `image` seem to be different things in you code

[2018-12-30 22:42] arj-mat opened #684 "Jimp.rgbaToInt() requires a callback on TypeScript declaration"
TypeScript declaration https://github.com/oliver-moran/jimp/blob/master/packages/jimp/jimp.d.ts is requiring a callback function within the arguments for **Jimp.rgbaToInt**.

![image](https://user-images.githubusercontent.com/5123733/50551927-4aa97200-0c70-11e9-8994-6f468c580b5f.png)

Since cb is an optional argument on Jimp.intToRGBA, it could be for Jimp.rgbaToInt as well.
The wanted number is p

[2018-12-31 07:03] libook opened #685 "Can Jimp write a jpg file which exactly have the same color which I set?"
# Expected Behavior

I used setPixelColor to operate the color of each pixels.

I used this to save the jpg file:

[code]

I wish that Jimp can write a jpg file which exactly have the same color which I set.

# Current Behavior

When I used getPixelColor to read the saved jpg,
I found that the colors are a little bit different with what I operated.

But this seems only effected with saving jpg.

A

[2019-01-02 03:44] maxcheers86 opened #686 "how to use Extra Plugins like circle"
as title

[2019-01-02 05:07] hipstersmoothie commented on #686
This should help you out https://github.com/oliver-moran/jimp/issues/665#issuecomment-441412587

[2019-01-02 05:07] #686 closed

[2019-01-02 13:11] favna opened #687 "Loading fonts from a CDN throws Unsupported MIME application/xml"
# Expected Behavior

Font will load correctly using `Jimp.loadFont('url-to-font')`. Specifically when that URL references a file that is on Google Cloud Storage / Firebase Storage.

# Current Behavior

Application crashes throwing the error:

[code]

# Failure Information (for bugs)

## Steps to Reproduce

Example code based on README for @jimp/plugin-print

[code]

The fnt file references this im

[2019-01-03 01:12] Allaphy opened #688 "Cannot convert undefined or null to object"
Well, i can't find anything undefined or null on my code, thats why i came here. I hope that one of you may tell me what is wrong in this code.

part of the code:

var imgs = [userGlobal[sender.id].petImg, userGlobal[sender.id].petIlha];
const jimps = await Promise.all(imgs.map(img => jimp.read(img)));

var pxp = userGlobal[sender.id].petxp;
var pbs = userGlobal[sender.id].petbase;
var plvl = user

[2019-01-03 01:43] hipstersmoothie commented on #688
Rewrote all you code to be more es-sexy. The problem you were running into was that `Jimp.loadFont` returns a promise and you were not awaiting.  The font hadn't been resolved yet so you got errors while printing.

Hope this helps!

[code]

[2019-01-03 01:43] #688 closed

[2019-01-03 07:24] vinaymuthanna0727 opened #689 "Error on using image boxShadow"
# Expected Behavior

Need to create an shading/shadow image.

# Current Behavior

Getting error on using image.boxShadow

# Failure Information (for bugs)

Debugger listening on ws://127.0.0.1:26445/91cb9e8a-85a4-4dcf-b420-043ca9301d64
Debugger attached.
e:\EDrive\shading\index.js:9
        image.boxShadow({ opacity: 0.8, size: 1.2, blur: 10, x: -75, y: -75 });
              ^

TypeError: image.bo

[2019-01-03 14:15] NexusLee commented on #636
Then I have to get the actual image url address by myself?

[2019-01-03 20:48] hipstersmoothie commented on #636
Yes.

fetch graph-url -> fetch image in response

[2019-01-04 01:08] NexusLee commented on #636
@hipstersmoothie thank you

[2019-01-04 09:02] Breaty commented on #420
I too am experiencing this problem.How did you solve this problem? I need your help.

[2019-01-04 09:04] Breaty commented on #420
@barisusakli  I too am experiencing this problem.How did you solve this problem? I need your help.

[2019-01-04 09:45] hipstersmoothie commented on #420
I'm locking this issue please open new issues for help. From first glance you are not using Jimp.read correctly? IDK cause the screenshot has no code and is in chines

[2019-01-06 13:49] Ganevru commented on #689
Have the same error when I try to use "boxShadow".

`TypeError: image.boxShadow is not a function`

Jimp Version: "jimp": "^0.6.0"
Operating System: mac Mojave 10.14
Node version: v8.12.0

[2019-01-06 19:40] jasan-s commented on #277
@Xdabier  did you figure it out? I m trying to do something like this and it wont work in react-native(the other option is to add Jimp to my server and make API request but multiple API calls seems slower. I wanted to saeToCameraRoll rightaway:
[code]

[2019-01-07 01:31] hipstersmoothie commented on #689
@vinaymuthanna0727  @Ganevru have you tried something like https://github.com/oliver-moran/jimp/issues/665#issuecomment-441412587

[2019-01-07 01:31] #683 closed

[2019-01-07 03:43] Xdabier commented on #277
@jasan-s as I found jimp requires too many node libraries to function, which I won't need across the app only for jimp to work, I got rid of it to use some already built for react-native image editing packages, such as react-native-image-cropper etc..

[2019-01-07 07:16] vinaymuthanna0727 commented on #689
After using the reference code of #665.
Still getting the same error

**Here is the sample code**

const Jimp = require('jimp')
const shadow = require('@jimp/plugin-shadow')
const configure = require('@jimp/custom')

var inputPath = "E:/EDrive/Images/2016_12_07_18_27_16--Project002/img.png";
var outputPath = "E:/EDrive/Images/2016_12_07_18_27_16--Project002/imgshading1.png";
const MyJimp = configu

[2019-01-07 10:51] shmlkv commented on #689
🤷‍♂️

[2019-01-07 10:51] shmlkv commented on #689
@vinaymuthanna0727

🤷‍♂️

[2019-01-07 18:12] shmlkv commented on #689
@vinaymuthanna0727
[code]

[2019-01-08 04:46] vinaymuthanna0727 commented on #689
@shmlkv

Still getting same error

Here is the sample complete code

`const Jimp = require('jimp');
const configure = require('@jimp/custom');
const shadow = require('@jimp/plugin-shadow');
var inputPath = "E:/EDrive/Images/2016_12_07_18_27_16--Project002/img.png";
var outputPath = "E:/EDrive/Images/2016_12_07_18_27_16--Project002/imgshading1.png";
configure({ plugins: [shadow] }, Jimp);
async fun

[2019-01-09 10:12] omkar-joshi commented on #631
@hipstersmoothie Any update on this? I'm facing the same issue. Also, I'm not sure why I'm getting a border around the rotated image. It can be seen in the repro given in #669. It would be great if this gets fixed in the next release.

[2019-01-09 10:17] omkar-joshi commented on #631
@hipstersmoothie I can pick this up and would be happy to submit a PR ✌️

[2019-01-09 13:47] perissology opened #691 "support image/x-icon mime types"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently, there is no way to read image/x-icon, which is the standard mime type for favicon.ico files when passed to jimp as a Buffer.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Sinc

[2019-01-10 01:50] hipstersmoothie commented on #689
@vinaymuthanna0727 the function is `shadow` not `boxShadow`

[2019-01-10 01:58] #689 closed

[2019-01-10 01:58] hipstersmoothie commented on #689
Sorry for the incorrect docs!

[2019-01-10 08:12] hipstersmoothie commented on #631
go for it! @omkar-joshi

[2019-01-10 08:12] hipstersmoothie commented on #631
just be warned about the tests though. lots of updating to do

[2019-01-11 19:12] davesnotes opened #693 "Running in Worker Threads"
# Expected Behavior

Jimp writes out my byte array to disk as an image.

# Current Behavior

It throws an exception when run inside a node worker thread.  It works just fine in the main Node thread.

# Failure Information (for bugs)

TypeError: process.umask is not a function
    at Function.sync (...\index.js:64:34)
    at Jimp.write (...\index.js:645:25)
    at Jimp.read.then.image (...\test.js:

[2019-01-12 19:57] Kikketer commented on #255
I'm looking for the same functionality.  I realize that at the surface a 100x100px image at 72ppi/dpi is about 416.6x416.6 pixels but when attempting to simply print the files produced you have to scale them in the print settings.  Otherwise the printer will use the 72dpi resolution and produce a massive image (at poor quality).

Has anyone had any luck using something like: https://github.com/shu

[2019-01-16 05:33] wallabra opened #694 "Browser version requires missing files."
# Expected Behavior

Using the browser version of JIMP, e.g. when running Browserify on a Node.JS package that requires JIMP, should be clean, as it should contain all of the JIMP code in a single file.

# Current Behavior

Browserify (most likely the browser too, if you use the browser version directly in the browser) will error due to erroneous calls to `require()`.

# Failure Information (for b

[2019-01-16 05:34] Gustavo6046 commented on #694
I've noticed that simply removing the `browser` field from JIMP's `package.json` seems to fix the issue (although I haven't tested the output in a browser environment yet).

[2019-01-17 06:20] hipstersmoothie commented on #693
Can you put together a simple sample repo?

[2019-01-17 06:20] hipstersmoothie commented on #694
Do you think should be browserifying itself? Or should it be left to users

[2019-01-17 09:39] davesnotes commented on #693
Will do

[2019-01-17 10:44] davesnotes commented on #693
I just tried to recreate this with a simple node script and it worked just fine.

https://github.com/davesnotes/web-workers

I wonder if the problem only exists when run from a web-worker in express...  I'll create another test repo using Express and update this thread...

[2019-01-17 11:57] davesnotes commented on #693
My code wrote to an absolute path which exists but errors.  If I save to a relative path it works.  I don't know why tbh, but the requirement is to save to a DB anyway, saving to the file system was temporary to test the image manipulation code.

Thanks for your time and sorry for any wasted effort.

I'll close this as it doesn't seem to be a problem with Jimp.

Thanks,
Dave

[2019-01-17 11:57] #693 closed

[2019-01-17 22:35] Xenorio opened #695 "Text alignment removes text completely"
# Expected Behavior

Text should be aligned to center

# Current Behavior

Text is not visible

# Failure Information (for bugs)

`image.print(font, 100, 100, text)` works as intended, but if i use `image.print(font, 100, 100, {
                            text: text,
                            alignmentX: Jimp.HORIZONTAL_ALIGN_CENTER
                          })` the text is not visible on the i

[2019-01-18 08:31] JR-Y opened #696 "Autocrop south not always working correct. Tolerance has no effect."
# Expected Behavior
Auto crop should crop all sides (north,east,west,south) in the same way. And tolerance value should have some effect.

# Current Behavior
In my latest use cases the south auto crop seems to sometimes not stop at the same color difference as the others. Hence south is cropped approximately 1 - 20 % too much.

Also the tolerance value only has an effect at the value 1, if I try 0

[2019-01-18 11:19] eliomaria opened #697 "Jimp read from a GridFSBucketReadStream"
**Describe the solution you'd like**
I would like to be possible for jimp to read the Stream that GridFS created on reading a file from mongoDB.

**Describe alternatives you've considered**
I tried to convert the stream to a buffer to later create a stream from jimp, but always with errors from the buffer reading.

[2019-01-18 14:57] Xenorio commented on #695
@booo Your solution is working for me! Thanks for the help!

The docs really should be changed if this is the proper way to go tho.

Closing this now!

[2019-01-18 14:57] #695 closed

[2019-01-18 17:41] hipstersmoothie commented on #697
Can i get sample code? What mime type is your buffer?

[2019-01-18 20:04] Gustavo6046 commented on #694
Pardon me, I'm not sure if I get your question; what should be Browserifying itself?

[2019-01-18 22:32] hipstersmoothie commented on #694
Jimp already tries to make a browserified version of itself (thats what isn't working for you). My question is who should the browserify step belong to, me or you?

I didn't add that functionality so I'm not sure how useful or necessary it is

[2019-01-19 08:35] Gustavo6046 commented on #694
I'm pretty sure it would be better to leave it to the user, unless JIMP relies on features that don't work in the browser.

[2019-01-19 19:45] eliomaria commented on #697
Hey, i got it to work, but for that i need to get the buffer from the stream, use it to create a Jimp object to resize and then convert it again to a buffer so i can send it from my response.

Here is the function:

     // This gets the GridFSBucketReadStream form my mongoDB
      const gridFSBucketReadStream = this.fileRepository.get(id);
      const concat = [];
      gridFSBucketReadStream.on(

[2019-01-21 00:07] Cherry commented on #449
@Acituanbus Try including the `maxWidth` and `maxHeight` options. Logically, it makes sense that these are required to center anything.

Here's a snippet of what we're using in production and it's working without issue:
[code]

[2019-01-22 17:50] itsTeknas opened #698 "Messed up colours, not an extension problem."
# Expected Behavior

Proper colours when image is downloaded and stored

# Current Behavior

There is a pinkish hue to the image

## test.jpg
<img src="https://user-images.githubusercontent.com/6565602/51554178-aabfbc80-1e9a-11e9-9d70-9cebb948379d.jpg" width="200">

## test1.jpg
<img src="https://user-images.githubusercontent.com/6565602/51554244-d478e380-1e9a-11e9-8c3f-1a48ea6cbd66.jpg" width="20

[2019-01-22 18:00] itsTeknas commented on #698
Imagemagick identify result on the image:
[code]

[2019-01-30 12:34] niccih commented on #437
Apologies if I am jumping in on the wrong thread (I will create a new issue if needed). When I just want to scale down an image, nothing else (jpeg stays a jpeg), whilst the w & h are reduced, the overall image size is increased quite a bit.

When testing on fiddle with an example jpeg (https://jsfiddle.net/niccih/5gomk4y9/17/), the source image is 35.1kB. That image is then scaled down and when I

[2019-01-30 23:43] master-of-null commented on #395
@turakvlad did you build that to only change one hex code color? Or a range of colors?

[2019-01-31 07:12] ganeshgummani commented on #440
Hi etshy,
I have the similar issue, can you please tell me how did you resolve this?

[2019-01-31 07:40] etshy commented on #440
I didnt't find any way to make it work so I stopped trying to use it for now.
I didn't take a look at this since I closes the issue.

Sorry I couldn't help.

[2019-01-31 08:54] ganeshgummani commented on #440
Thanks for the response!
I was able to get rid of this error by using older version (0.2.28, 2 year old) as I'm using React15 (2 year old) it worked for me.

[2019-01-31 21:03] turakvlad commented on #395
@master-of-null, hey.

It works for one color only right now, but you can run a few iterations to change a range of colors.

[2019-02-05 22:16] tttedu304 opened #700 "Weird error"
Hey, I'm trying to create a circular image for a Discord welcomer, everything is ok, but image right side looks really weird, maybe can you help me?
Code:
[code]
Example Image:
https://cdn.discordapp.com/attachments/532358902596108290/542467432976089108/bienvenido.png
↑ That's on a user with a png avatar
https://cdn.discordapp.com/attachments/532358902596108290/542467119900786705/bienvenido.png
↑

[2019-02-06 16:14] seiyria opened #701 "* > CssColor, CssColor > *"
**Is your feature request related to a problem? Please describe.**
It's a bit odd that there is no functions to convert _to_ a CSS Color, but there is rgbatoint, inttorgba, etc.

**Describe the solution you'd like**
Would be nice to rgba->css, int->css, css->int, css>rgba for completeness.

**Describe alternatives you've considered**
Writing it myself, but I think it'd fit in this lib.

[2019-02-08 14:36] AlexT2 opened #702 "Jimp.composite Error: w and h must be numbers"
# Expected Behavior

Trying to composite 2 images with Jimp.composite

# Current Behavior

I get an error:
`
Error: w and h must be numbers
    at Jimp.throwError (/home/pi/bot/node_modules/@jimp/utils/dist/index.js:26:13)
    at Jimp.scanQuiet (/home/pi/bot/node_modules/@jimp/core/dist/index.js:1301:30)
    at Jimp.composite (/home/pi/bot/node_modules/@jimp/core/dist/composite/index.js:71:7)

[2019-02-12 08:53] sertal70 commented on #695
Sorry guys for writing on a closed issue, but I'm trying to implement this and I found a little bit strange that @booo is actually not using alignment constants to position the text.

Its code sample calculates propers value for x and y coordinates instead of using Jimp constants, which are actually commented out.

I tried to rely on Jimp alignment constants only to position the text, but the resu

[2019-02-12 09:02] booo commented on #695
This is another example that works for me.
[code]

[2019-02-12 09:20] booo commented on #695
For alignment to work properly you need to specify maxWidth and maxHeigh in your call to print().

https://github.com/oliver-moran/jimp/blob/master/packages/plugin-print/src/index.js#L295

The code is sometimes the source of enlightenment.

[2019-02-12 09:28] sertal70 commented on #695
Thanks @booo, specifying `maxWidth` and `maxHeight` actually does the job.

Honestly I was a little bit confused about alignment constants, because If I specify
[code]

I would expect that Jimp will position the text in the center of the image, regardless of the value I passed on `x` and `y` coordinates and even if I would not set `maxWidth/maxHeight` (because they are implicitly equal to the imag

[2019-02-13 02:13] hipstersmoothie commented on #701
PRs welcome! I like the idea

[2019-02-13 02:14] hipstersmoothie commented on #702
Can i see some code @AlexT2?

[2019-02-13 02:19] hipstersmoothie commented on #695
Feel free to make PRs for the docs to be more thorough!

[2019-02-13 14:52] sertal70 commented on #695
@hipstersmoothie I did it, let me know if it is fine for you.

[2019-02-14 22:49] Favna commented on #687
Commenting to check if this is still going to be looked into. It's been a long while since the label was assigned.

Would give it a shot myself but despite my JS knowledge I just cannot wrap my head around the font loading code :\

[2019-02-15 19:25] hipstersmoothie commented on #687
I'll try to take a look this week! Being the only maintainer on this project is lonely 😢

[2019-02-18 22:32] mfurniss commented on #442
We're experiencing the same issue when resizing a PNG. Dark pixels are introduced into the alpha channel for pixels that are not fully transparent or opaque. For now we are pre-resizing in another package before using Jimp in our final composition step.

[2019-02-18 22:52] Medosopher commented on #643
let base64_data = "iVBORw0KGgoAAAANSUhEUgAAAO0AAAMiCAYAAACCG0RzAAAAAXNSR0ICQMB9xQAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUATWljcm9zb2Z0IE9mZmljZX/tNXEAABKsSURBVHja7d0hTJ13FEDxSiQSiURWViKRSCQSWYksColEIpFIJBKJRCIrn6zs7rcsJCPZljTQfQd+JCdZUtH3v/ee7PUk6z6dnZ19Av5P5mdvuMN/cvLnvBwNViDt6XA17OMfOV9mRFqsRdqb4dAs/nVGx6TFmg7yadg1C9KicYzbw8YsSIvOMR4Mt2ZBWnSOcYlQ52ZBWnSOUYQiLWLHKEKRFqFDFKFIi9ghilCkRewQR

[2019-02-18 23:43] master-of-null opened #704 "Jimp writes an empty png file after modification"
# Expected Behavior

I'm running this process on AWS Lambda. I'm expecting the file to be modified and then written

# Current Behavior

The file that is being written is a 0 Byte empty file .png file. I put the file before the mod in s3, it's as expected. I put it in s3 again after editing it and it puts a 0B file in the bucket

# Failure Information (for bugs)

I'm not getting an error, it's jus

[2019-02-19 13:31] houd1ni commented on #183
@hipstersmoothie  Jesus, Just added to the week ToDo. Maximum slowpoke.

[2019-02-19 13:43] houd1ni commented on #183
Let's start from the little scratch now. The roadmap:

- [ ] a line with color and width.
- [ ] an ellipse.
- [ ] Color filling.

[2019-02-21 13:39] InkedCurtis commented on #270
I'm also having a very similar issue when applying `saturate` using the `color` function? what approach could I take to improve the speed here?

[2019-02-22 00:38] ChrisSmith5 commented on #153
Yea we are running into major memory leak issues with JIMP.

The error we get is "Array buffer allocation failed".

Is this still being looked into @oliver-moran ?

Thanks,
Chris

[2019-02-22 18:37] Ryzenfire opened #705 "Issue with text scaling."
Hey im sorry for ignoring the template.

but I
 am having an issue I can't find a fix too.

How would someone scale text

I know you can scale images but I can't seem to figure it out,

thx for reading.

it should look like
![rank 1](https://user-images.githubusercontent.com/37125308/53263288-8c69fe00-369e-11e9-941d-6db4544e32ad.png)

but it looks like
![rank](https://user-images.githubusercontent

[2019-02-26 19:01] niccih opened #706 "Darken results in degraded image"
I have a test, on jsFiddle (uses the browser version of 0.5.6) where I am trying to darken the image. As can be seen the result (second image) is not quite what I was hoping for in that the quality has degraded noticeably.

Any advice as to what I may be missing, or what alternative steps I may take will be greatly appreciated. Note that the 'brightness' example is just for my own reference and is

[2019-03-06 17:28] Olyvar opened #707 "Rotating an image with a different width and height to 90/270 degrees results in skewed image, when passing 'false' as the resize mode"
# Expected Behavior
When rotating an image with a different width and height, the image will correctly resize at 90/270 deg when passing 'false' as the resize mode value, as it does at all other degree marks. By correctly resize, I mean the image will not be improperly skewed.

# Current Behavior

When rotating an image with a different width and height, the image will incorrectly resize at 90/270

[2019-03-10 11:10] johnxy84 opened #709 "Setting Background Color of Image not working"
# Expected Behavior

Color the Image Background to specified color

# Current Behavior

Image Background doesn't change color

# Failure Information (for bugs)

No Error

## Steps to Reproduce

- Jimp Version: 0.6.0
- Operating System: Mac Mojave
- Node version: 7.0.0

## Failure Logs

[2019-03-10 11:15] johnxy84 opened #710 "Printed text doesn't Wrap at Max Width"
# Expected Behavior

Text Should Wrap when specified max width is reached
# Current Behavior

Text Doesn't Wrap, keeps going
# Failure Information (for bugs)

No Erros
## Steps to Reproduce

## Context

- Jimp Version: 0.6.0
- Operating System: Mac Mojave
- Node version: 7

## Failure Logs

[2019-03-15 14:18] matamune94 commented on #437
how about jpeg ? when I write image to buffer , it increasing the file size 168kb > 800kb ? how can fix ?

[2019-03-15 17:40] hanbyul-here opened #711 "Replacing Lenna as an example image"
**Is your feature request related to a problem? Please describe.**
Please see the context below.

**Describe the solution you'd like**
Use something other than [Lenna](https://github.com/oliver-moran/jimp/blob/master/packages/jimp/browser/examples/lenna.png) for examples.

**Describe alternatives you've considered**
How about one from [Kodak image collection](https://github.com/lemire/kodakimageco

[2019-03-15 17:50] drewda commented on #711
+1

Also more backstory in the article at https://www.theatlantic.com/technology/archive/2016/02/lena-image-processing-playboy/461970/

[2019-03-16 21:40] Miguel-Lara commented on #377
I faced the same problem, I solved it resizing first to the big size, then to the mid size, and finally to the smal (thumbnail).

[2019-03-17 10:07] johnxy84 commented on #370
I have an issue with the text wrapping not still working with latest jimp version. I have an open issue here,
https://github.com/oliver-moran/jimp/issues/710 but no feedback on it yet

[2019-03-24 06:28] nihgwu commented on #702
Got the same error while deploying on Netlify(Ubuntu Xenial 16.04), while it's ok in local (macOS Mojave 10.14.3)

[2019-03-26 02:57] luco commented on #554
+1 on this

[2019-03-27 18:30] wmcmurray commented on #169
Using **jimp v0.6.0** I was unable to autocrop an image with **transparency on bottom side only**. Until I discovered that the image need to have at least 1px of transparent space ALL AROUND IT for this feature to work.

I think **this is not intuitive at all** and it differ from any other autocrop feature I've used in my whole life :man_shrugging: but lets just cite one : the autocrop feature of

[2019-03-28 19:48] #707 closed

[2019-03-29 16:29] onokje opened #714 "Dependency problem with Tinycolor2"
# Expected Behavior

Dependencies don't have any problems

# Current Behavior

Dependency "tinycolor2" has a security vulnerability, because it includes an old jquery version, that in term has a known vulnerability.

# Failure Information (for bugs)

I know technically this is not a bug, but i still hope i can be fixed, we now have to use path-package to fix our project, and I hate doing that.
htt

[2019-03-30 00:01] hipstersmoothie commented on #702
Gonna need some reproduction code

[2019-04-02 12:28] thbl commented on #633
+1

[2019-04-03 07:46] trszdev opened #716 "IE11: Automation server can't create object"
# Expected Behavior

Not getting error `Automation server can't create object` in Internet Explorer 11

# Current Behavior

Error occurs when I'm trying to `importScripts('jimp.min.js')` in web worker (v0.6.0 as mentioned in license but seems to be 0.6.1)

# Failure Information (for bugs)

![image](https://user-images.githubusercontent.com/9008471/55461480-f961a380-560d-11e9-82a8-cc6508eb113f.png)

[2019-04-03 08:11] thbl commented on #633
@hipstersmoothie your link dosent work anymore, could you share a new example thanks

[2019-04-03 09:20] rossmithumms commented on #653
Try this:

`Jimp.read({ data: src.pixels, width: src.width, height: src.height }).then((image) => { /* operation */});`

`src.data` is a Buffer populated by a loop of `writeUInt32BE` calls.

[2019-04-05 08:08] hamuz opened #717 "AutoCrop east side cropping messes with the cropping for other sides"
# Expected Behavior

AutoCrop should cut out all the white borders around the image.

# Current Behavior

Comments lies - when looking for east side, scan happen from west to east.

https://github.com/oliver-moran/jimp/blob/495fa8852fde16bada8bbdf6433ab2f197a4d35e/packages/plugin-crop/src/index.js#L151-L154

**Could lead to incorrect south cropping** (see attached image).
https://github.com/oliver

[2019-04-06 19:28] Gaboik commented on #375
Documenting this in the hope of helping someone in the future.

If you're using [BMFont generator from angelcode](http://www.angelcode.com/products/bmfont/), go into the 'Export options' menu via _Options_ -> _Export Options_ or by pretting `T`.

Then:
 - Set the font description to XML
 - Set the textures to PNG

And all should be good!

[2019-04-11 08:25] MatteoGioioso opened #719 "TypeError: Cannot read property '_rgba' of undefined"
# Expected Behavior
I am trying to resize an image. I have the image blob as starting point.
My goal is to obtain a blob back, but somehow is not working

# Current Behavior
`TypeError: Cannot read property '_rgba' of undefined`

## Steps to Reproduce
[code]

[code]

## Context
- Jimp Version: 0.6.1
- Operating System: Window 7
- Node version: 10.11.0

## Failure Logs

[code]

[2019-04-11 10:05] thbl opened #720 "create monocolor bitmap"
is there any ways to create a monocolor bitmap using jimp ?

[2019-04-11 10:11] thbl commented on #656
+1

[2019-04-12 09:55] tonysamperi opened #721 "Rotation adds black border"
# Expected Behavior

When the image is rotated, the image is identical to the original

# Current Behavior

A black border (1px) is added

# Failure Information (for bugs)

## Steps to Reproduce

(typescript)

[code]

IF YOUR ISSUE DEPENDS ON A PARTICULAR IMAGE BE SURE TO INCLUDE THIS AS WELL. WE CAN'T REPORDUCE IF WE DON'T HAVE YOUR IMAGE

1. step 1
2. step 2
3. you get it... -->

**Screenshots**

[2019-04-14 10:21] wahengchang commented on #175
it is working very well to me. Mac

node -v
v8.11.1

jimp
v0.6.1

[2019-04-14 19:55] itsTeknas commented on #698
Any update on this ?

[2019-04-15 18:04] samuelgoff opened #722 "Add Lanczos & Mitchell resize & rotate modes"
I'm trying to achieve the best possible image quality when resizing or rotating images. For most photographic or textural image types, as well as some illustrations or line art, Lanczos (Lanczos3 approximation of Sinc) produces the best quality for scaling up or down, as well as rotation. Mitchell can produce excellent quality with better performance when scaling down, though not necessarily super

[2019-04-19 10:36] salmanwaheed commented on #543
@johnnykramer `npm i -s core-js@2.5.7` works for me :)

Thanks man

[2019-04-21 11:16] higoka opened #724 "[Question] Change color of every non-transparent pixel"
I have a .png image and i need to change the color of every pixel which is not transparent with a specific RGB value. I was wondering if this is possible with jimp, and if so how to do it?

Hope somebody can help me.

[2019-04-23 12:09] wialex opened #725 "getBase64 returns undefined"
I am trying to add some filters to a camera snapshot and save my edits into another variable.

ts file :

[code]

html file :

`<img  src="{{ previewCapture }}" width="640" height="480" alt="preview">`

"Error: Unsupported MIME type:" <- this is what it would show if I uncomment error case(followed by base64 data)
Otherwise,console displays undefined. I tried following [this](https://github.com/ol

[2019-04-23 14:42] RMCoder198 commented on #643
I solved this issue by using promise method  as suggested in docs instead of using callback method.
Another reason i am getting this error is because of having too many images on destination directory.
@hipstersmoothie  you might try to reproduce it by having 50+ images inside destination directory.

[2019-04-25 10:35] #725 closed

[2019-04-27 16:42] hipstersmoothie commented on #697
I don't really see any way of doing less transformations. It's already pretty lean

GridFSBucketReadStream -> buffer -> jimp stuff -> buffer

What optimization do you think is possible?

[2019-04-27 16:44] hipstersmoothie commented on #698
I'm gonna guess that this is actually a problem in JPG-JS and how it's processing the image. Seems like it's similar to https://github.com/oliver-moran/jimp/issues/243

[2019-04-27 16:45] hipstersmoothie commented on #702
Closing because no repro case. Will reopen if example code is supplied

[2019-04-27 16:45] #702 closed

[2019-04-27 16:46] hipstersmoothie commented on #704
I have never used AWS myself so idk how to easily make a reproduction of this. Could you provide an example repo with AWS setup instructions?

[2019-04-27 16:48] hipstersmoothie commented on #705
I am unsure of what is wrong in the example image. To scale text you could write the text to it's own Jimp instance, resize it, then composite the text image onto your base image. The best solution would probably be to include the appropriately sized font though

[2019-04-27 16:49] hipstersmoothie commented on #706
It looks like you're using it right. Seems to be a bug in the darken algo we are using

[2019-04-27 16:51] hipstersmoothie commented on #706
You might be able to accomplish this through compositing https://github.com/oliver-moran/jimp/blob/c99d07224a3e043b87561ec87b4426016c7c4abc/packages/jimp/README.md#compositing-and-blend-modes

[2019-04-27 16:52] hipstersmoothie commented on #709
The `background` function only effects images with a transparent background. Is this what you want?

[2019-04-27 17:12] hipstersmoothie commented on #711
Totally down for it! Just don't have the time to do it myself. Feel free to make a PR!

[2019-04-27 17:16] hipstersmoothie commented on #714
Down to change to an updated version. Feel free to make a PR! The example uses jquery but not the library itself so this seems like a false alarm to me. jquery isn't even listed as any type of dependency

[2019-04-27 17:18] hipstersmoothie commented on #716
ie11 is holding the modern web back and even at my job with millions of customers we have decided to not support it anymore. I won't do the work to make jimp work in IE but if you want to submit a PR I'll merge it. But you could probably do that transpilation on your end as well

🚀 Let IE Die! 🚀

[2019-04-27 17:19] hipstersmoothie commented on #717
Seems like you know this bit of code better than me :) feel free to make a PR if you find a fix!

[2019-04-27 17:20] hipstersmoothie commented on #720
what do you mean by monocolor? like everything is a shade of blue?

[2019-04-27 17:32] hamuz commented on #717
I'd love to, but my priorities don't allow me to develop and test a fix for this.
I've investigated enough to find the root cause (which wasn't in my code), and used dirty hack as a workaround.
I'm hoping this is helpful enough. Sorry.

[2019-04-27 18:24] johnxy84 commented on #709
Oh Yes. That would be fine. I haven't tried that yet as it wasn't in the docs. Thanks for the heads up.

[2019-04-27 19:19] dex-labs opened #726 "Error: Cannot find module 'jimp'"
# Expected Behavior

var Jimp = require('jimp'); to load the requested modules.

Checked the node_modules folder and it only has the browser and fonts folders.
Dist folder seems to be missing.

No errors when running npm install.

Using in node env not browser.

# Current Behavior

Error: Cannot find module 'jimp'

# Failure Information (for bugs)

## Steps to Reproduce

npm i --save jimp

var Jim

[2019-04-27 20:07] dpgraham commented on #726
Same here....

I think the `dist/` folder wasn't published.

When I tried installing with Node 12 the message was:

[code]

`dist/` wasn't there only `browser/`.

[2019-04-27 20:19] dpgraham commented on #726
I'd recommend unpubishing 0.6.2 and then republishing 0.6.3 as the latest once the problem has been figured out.

[2019-04-27 20:25] hipstersmoothie commented on #726
@dex-labs @dpgraham how does 0.6.3 look?

[2019-04-27 20:34] Thermofish commented on #726
Now I am receiving:

Error: Cannot find module '@jimp/types'

[2019-04-27 20:42] hipstersmoothie commented on #726
Okay I synced all the package versions and changed lerna to force publish all of them. 0.6.4 should work 🙏

[2019-04-27 20:44] dpgraham commented on #726
0.6.3 worked for me

[2019-04-27 20:48] Thermofish commented on #726
0.6.4 worked for me.  The 0.6.3 publish was giving "Error: Cannot find module '@jimp/types'" for me.

[2019-04-27 21:05] hipstersmoothie commented on #726
sweet. sorry for the fuss!

[2019-04-27 21:10] dpgraham commented on #726
Everything's good now! Thanks for the quick response.

[2019-04-27 21:50] #726 closed

[2019-04-28 00:31] dex-labs commented on #726
All is good in the world once again

[2019-05-03 15:13] AbdulSammad200 opened #727 "Circular Image Issue"
# Expected Behavior

Expected Images to be cropped in a circular shape and resized

# Current Behavior

Refer to screenshot

# Failure Information (for bugs)

Refer to screenshot

## Steps to Reproduce

``const imgFileName = 'forest-blue-1.jpg';
      let backgroundImgUrl = Jimp.read(
        `./assets/profile_backgrounds/${imgFileName}`
      );
      let avatarImgUrl = Jimp.read(member.user.avat

[2019-05-03 15:48] AbdulSammad200 commented on #727
I changed the size of mask to match the size of my final avatar and that fixed the problem

[2019-05-03 15:48] #727 closed

[2019-05-07 12:35] xddlj opened #728 "Uncaught Error: Cant access the filesystem"
# Expected Behavior

Jim.read() to read the file
lenna.write('lena-small-bw.jpg') to write a file to the local folder.

# Current Behavior

Jim.read() works fine.
lenna.write('lena-small-bw.jpg') throws an error

# Failure Information (for bugs)

index.js:139 Error: Cant access the filesystem. You can use the getBase64 method.
    at Jimp.write (jimp.js:33813)
    at index.js:132

## Steps to Repr

[2019-05-07 18:23] mrkent opened #729 "Littera seems to not be working"
http://kvazars.com/littera/ opens to a page that simply says to get flash player (which I should have) on chrome and safari.

What's the easiest way to convert a ttf to bmfont?

[2019-05-08 19:36] #729 closed

[2019-05-09 04:35] jaman99 opened #730 "how to upload file lambda function to s3 please help me"
i try to uplaoding file s3 resize lambda but icant save the file :-(

[2019-05-09 21:20] piyushkantm commented on #730
[code]

[2019-05-09 21:20] piyushkantm commented on #730
This should work..

[2019-05-09 21:39] piyushkantm commented on #675
Hey, is this fixed and merged in/before 0.6.4

[2019-05-09 21:56] piyushkantm opened #731 "File Size Issue"
# Expected Behavior
If any transformation/process has not been perform on image, it should not change image size

# Current Behavior
If i init Jimp with a URL and write it to filesystem.. The written file far exceeds the original file size.. mostly > 3 times.

# Failure Information (for bugs)
<img width="544" alt="Screenshot 2019-05-10 at 3 19 50 AM" src="https://user-images.githubusercontent.com/

[2019-05-12 20:30] mkondel opened #733 "Automatic image orientation based on EXIF is broken"
# Expected Behavior
When processing any image, the intended orientation should be preserved.

# Current Behavior
In the provided example, a portrait image gets saved in landscape. You can see the black bars that get added on left and right. The core image is oriented correctly inside, but the output file has the wrong dimensions.

# Failure Information (for bugs)

## Steps to Reproduce
1. git clon

[2019-05-13 19:37] AlexNeises commented on #682
I tried to address this in #734

[2019-05-14 15:29] cancerberoSgx opened #735 "OT - imagemagick browser port"
I'm sorry for the span, but some time ago I was plying and contributing on https://github.com/KnicKnic/WASM-ImageMagick that's an ImageMagick port to JavaScript using emscripten. It has almost all IM capabilities and support a lot of image formats. As you might know IM implements lots of transformations which implementations were optimized and refined over the years.. The total bundle size of http

[2019-05-14 18:11] RobertCalamari opened #736 "Issue with Image size 3024x4032"
# Expected Behavior

I am just trying to take an image from one folder and move it to another folder.

# Current Behavior

However, I am having an issue with images that are size 3024x4032. When my code is ran and I check for the width and the height, it looks as if they switched. Code is below.

## Steps to Reproduce

The code takes 5 images named "pics (_n_).jpg" and moves them to a new folder.

[2019-05-14 18:18] RobertCalamari commented on #736
I notice here that when I posted the files in here they are sideways which would make sense why it is saying that the width is longer. However this seems odd since the images in the windows explorer are vertical:
Images before processing. I made the middle photo horizontal to see if that would change it:
![image](https://user-images.githubusercontent.com/36252593/57721701-d685ce80-7652-11e9-9e52-a

[2019-05-15 03:56] jaman99 opened #737 "aws lambda when jpg or png image resize but it mime type show : Unsupported MIME type: application/xml"
aws lambda when jpg or png  image  resize but it mime type show :  Unsupported MIME type: application/xml

[2019-05-15 04:45] Clonkex commented on #303
Is this something we can do currently? I REALLY need synchronous operations and I'm struggling to find a way.

[2019-05-15 19:53] javiervelaz commented on #728
not news about this?

[2019-05-16 07:20] diaotai opened #738 "How can i use imageData as an input for jimp"
Because I need to get the ImageData data in Canvas and compare the different results. But can't convert the ImageData buffer into jimp input.

So I want to know if there is any way to convert imageData.buffer to buffer?

[2019-05-17 17:49] timkeane opened #739 "can i get response headers and status from jimp.read(url)"
i am working on a map tile server that proxies standard tile requests to a WMS server for fulfillment

i have implemented functionality that requires images to be cropped using jimp

my code is also expected to copy headers from the WMS response to the response to the tile request https://github.com/cmenedes/tile2wms (code is mid refactoring, but has working tests)

this is done easily when the WM

[2019-05-17 19:32] timkeane commented on #739
or alternatively can i assemble a buffer with which to construct an image?

[code]

[2019-05-17 19:41] timkeane commented on #739
was able to read the response buffer with jimp so now all is well

[2019-05-17 19:41] #739 closed

[2019-05-18 12:11] wudi00 commented on #728
How to solve the problem？I meet the same problem.

[2019-05-20 14:28] mkondel commented on #737
Errors from AWS will be in XML, so I would check the response and see if that's the case.

[2019-05-20 14:31] mkondel commented on #736
This is the same as my issue #733. The problem is that some images have their rotation set in the EXIF.

[2019-05-20 14:46] mkondel commented on #731
@piyushkantm, can you try with different quality settings and see if that gets you a smaller file size? https://github.com/oliver-moran/jimp/tree/master/packages/jimp#png-and-jpeg-quality.

[2019-05-20 16:36] sokolandia opened #740 "How to align with percentages in cover and contain?"
# Expected Behavior

I want to align an image as I would in browser with following css:
[code]

# Current Behavior

`cover()` only excepts `alignBits`

[2019-05-21 12:00] m-jiang commented on #733
I am also experiencing this issue, which is quite crippling for any application that allows users to upload an image from their device and camera.

This issue has noting to do with the rotate function (yet). As in the sample code provided by @mkondel, simply loading and writing the image will already deform it.

[2019-05-21 13:28] piyushkantm commented on #731
I've tried jpeg jpg quality from 0 to 100 in steps of 10, but there was no difference in output size at all.

However, regardless of the output quality, if i import a jpg image and export it as is without performing any operation on it.. Shouldn't it be intact? Or am i missing something here?

[2019-05-21 14:27] mkondel commented on #731
Strange, when I use the quality method in my flow, the file size changes dramatically. Here is my code:
[code]
With it set to 10 I get 100kb, without quality at all I get 900kb.

[2019-05-21 23:18] mkondel commented on #733
I fixed my issue by using another lib called [jpeg-autorotate](https://github.com/johansatge/jpeg-autorotate). Please checkout my repo above for a working demo. I use this lib before JIMP to "burn in" the rotation.

[code]

[2019-05-21 23:18] #733 closed

[2019-05-23 08:10] jagaSto opened #742 "Not able to run tests locally"
# Expected Behavior

I should be able to run tests locally.

# Current Behavior

They do not run successfully locally.

# Failure Information (for bugs)

when running `yarn test`, I get the following error:

[code]

## Steps to Reproduce

First, I followed the instructions in the CONTRIBUTING readme, namely:

1. `yarn install`
2. `yarn build`
3. `yarn test` --> error message

## Context

- Jimp Ve

[2019-05-28 15:07] Gwynbleidd79 opened #744 "Read buffer"
I tried to save the buffer on a database to read it later, but the things i'm trying isn't working.

I tried to do this:

          var imgs = ['./test1.png', './test2.png'];
          const jimps = await Promisse.all(imgs.map(img => Jimp.read(img)));

          jimps[0].resize(500, 500);
          jimps[1].resize(270, 270);

         jimps[0].composite(jimps[1], 0, 0);

        data.test = jimps[

[2019-05-29 20:57] tina1998612 commented on #419
hi I used a Chinese character font but it doesn't work.. There's no err msg but no text is printed out.

Here is the font:
[font.zip](https://github.com/oliver-moran/jimp/files/3234444/font.zip)

Thanks so much for your help!

[2019-06-02 14:18] BurningFruit commented on #153
We are running into the same issue.
I can't reproduce it on a local instance with OSX, but very high memory consumption on Heroku dyno

[2019-06-02 14:23] Dusty4848 commented on #153
Hi,

we are running into the same issue. I was not able to reproduce it on a local environment in OSX, however, I can confirm very high memory usage on Heroku.

No further image processing is done after Jimp.read()

Cheers

[2019-06-03 04:59] soimy commented on #558
Any updates on this?
Just tried `import Jimp from "jimp/es"` and vscode cried for not found d.ts file.

[2019-06-03 09:12] soimy opened #745 "Typescript definition - Wrong hash() return type"
# Expected Behavior

According to the API document, we shall just use
[code]
Or according to the `jimp.d.ts`
[code]

# Current Behavior

`image.hash()` return `Jimp` object. And the callback function return a type `null | Error`

- Jimp Version: 0.6.4
- Operating System: macOS 10.14.5
- Node version: node v11.3.0

[2019-06-03 10:45] soimy commented on #745
Seems that it's a bug in `jimp.d.ts` where `hash()` should return `string` not `this`.
Manually change the file solves the problem.

[2019-06-07 00:23] wudi00 opened #747 "synchronization or asynchronization"
Is jimp executed asynchronously? I use `var b64 = openimage(x1,y1, x2-x1, y2-y1);` call such function `async function openimage(x, y, w, h){
    console.log("START");
    await Jimp.read("./S_10.png")
        .then(await function (images) {
            images.crop(x, y, w, h);
            images.getBase64(Jimp.AUTO, function(err,data){
                da = data;
            });
        }).catch(fu

[2019-06-07 06:46] damianobarbati opened #748 "Remove babel-polyfill dependency"
# Current Behavior

Having jimp as a dependency results now in the following *warning* when running `yarn install`:
[code]

[2019-06-07 07:53] lauritk opened #749 "Even sized kernel support"
**Is your feature request related to a problem? Please describe.**
It would be useful to have even sized kernel support for convolution etc.

**Describe the solution you'd like**
The implementation could follow Matlabs imfilter/conv2 algorithm. Imfilter(M, k) result is same as conv2(M, k, 'same').

Matlabs documentation states:
"If you specify an even-sized kernel h, then the center of the kernel

[2019-06-09 07:06] wudi00 commented on #747
May I turn jimp.read into synchronous function ?

[2019-06-09 12:22] Favna commented on #687
Haven't really looked into this since the last bump but I assume it hasn't been resolved so bumping it again

[2019-06-14 18:44] Gwynbleidd79 opened #750 "unicode font"
there's a way to use Unicode-fonts on jimp loadFont ?

[2019-06-16 07:51] haoxl3 opened #751 "name too long open base64 image"
# Expected Behavior
jimp can read image url

# Current Behavior
jimp can't read image url

# Failure Information (for bugs)
name too long open 'data:image/jpeg;base64,...'

## Steps to Reproduce

[code]
then I got 'name too long, open "data:image/jpeg;base64,..."'
this.orignSrc  is a base64 image

**Screenshots**

![image](https://user-images.githubusercontent.com/15046133/59561104-85506c80-904e-1

[2019-06-18 12:42] lauritk opened #752 "Guide to add and build custom plugins in latest version"
**Is your feature request related to a problem? Please describe.**
Can't get custom plugin working with Jimp. Plugin (and Jimp) builds, but not added to Jimp.
**Describe the solution you'd like**
Guide how to add new plugins.

[2019-06-18 19:27] madskunker opened #753 "Autocrop not cropping surrounding black area"
Large Black borders should have cropped out.  I have adjusted the tolerance and have see no change in results.
They are simply not getting cropped.

Latest Node and Jimp on a Raspberry Pi

       Jimp.read( "./scanimage.jpg", (err, img) => {
            if (err) throw err;
            let clean = img
            .scale(0.5)
            .quality(50)
            .autocrop()
            .write('./cro

[2019-06-19 02:03] mindinsomnia commented on #303
My workaround on this for now is just to store an array list of operations that need working through, and as the async promises return I'm just fetching another item from the list to perform operations on. Really need sequential operation for my needs since I'm working on thousands of image files, don't really want to load them and be editing them all at once.

[2019-06-19 03:09] Clonkex commented on #303
@mindinsomnia Nice workaround. My "solution" was to have two separate loops. The first one determines which (and how many) images need to be loaded, the second starts them all loading. Then, in the callback for the image loading completion I make it decrement the counter. If the counter has reached 0, that means all images have loaded for this job and processing can begin. It's messy and awkward a

[2019-06-19 07:56] BlankHrt commented on #419
@tina1998612
中文字体的问题你解决了吗

[2019-06-21 12:03] tooleks-sliceiq commented on #721
I faced the same problem.

Here is the [jsfiddle](https://jsfiddle.net/9gx2j0oa/6/) to reproduce the issue.

[2019-06-21 12:04] tooleks commented on #721
I faced the same problem.

Here is the [jsfiddle](https://jsfiddle.net/9gx2j0oa/6/) to reproduce the issue.

[2019-06-26 08:25] tonysamperi commented on #721
LOL the for loop!!! 😂

[2019-06-26 08:48] tooleks commented on #721
@tonysamperi
Well, it's pretty much how I found the issue. :)
I have a simple photo editor and after multiple 90 degrees rotations, I get a similar result.

[2019-06-26 08:55] tonysamperi commented on #721
@tooleks
For me it was trickier, because I used it as backend (NodeJS) rotation and I started rotating always from the original image.
I found the issue, because I had to validate the upper part of the picture: the background had to be a light color (above rgb(150, 150, 150) )...
The control failed after rotating, so I zoomed the image and saw the black line! 😉

[2019-06-26 19:15] RatherSlowTurtle opened #755 "luma709 greyscale"
**Is your feature request related to a problem? Please describe.**
For a project I'm working on, I need to get the greyscale algorithm to use the LUMA709 colour intensities.

**Describe the solution you'd like**

Essentially this should do it:
[code]
**Describe alternatives you've considered**

I started to make the change, but realised that adding a new arg for the algorithm type will be a breaki

[2019-06-28 12:37] mateuszBetlej4 opened #756 "Processing multiple Images and calculating number of dark and white pixels. [SLOW]"
# Expected Behavior
It reads a folder with multiple images (706) and calculates the dark and white pixels and convets the number of white pixels into a percentage.

# Current Behavior
The code does what I need it to do except it's very slow. I have noticed that it tries to open all images at once and just then proceed to the calculations. I have a 8gb ram laptop. While the code reads the images th

[2019-07-01 21:49] leodutra commented on #209
The code of write can help in this situation:
https://github.com/oliver-moran/jimp/blob/7fe1d467417b995939019bc5f4fdb919741e9113/packages/core/src/index.js#L507

[2019-07-04 00:49] FunnyB0y commented on #731
I can attest to this.

Just reading the file alone with jimp i.e. `Jimp.read(file)` is around 3 times bigger than just a `fs.statSync`.

But I do get file size reductions if I use `.quality` with a small number (like 10), but if you do `.quality(90).write()`, it will actually be a larger file.

example here: https://codesandbox.io/s/delicate-feather-yy6il

[2019-07-06 16:37] Ashishisdonorlon commented on #449
mmm this sud work fine
image.print(font, image.bitmap.width/2, image.bitmap.height/2, 'Your text');

[2019-07-06 16:37] Ashishisdonorlon commented on #449
`Hey`

[2019-07-06 21:00] mn4367 opened #758 "Slightly faster version of resize2.js available"
Rescaling with bilinear, bicubic, bezier and hermite interpolation is a bit slow. I'm using a copy of `resize2.js` in my own [icon generator](https://github.com/idesis-gmbh/png2icons) and refactored it. I inlined all functions which sometimes got called for every single pixel. This speeds up rescaling a bit. Feel free to use this version [`resize3.js`](https://github.com/idesis-gmbh/png2icons/blob

[2019-07-09 12:47] soimy commented on #721
After some digging, I found this issue is introduced by #708
most of the time we just need simple 90-degree rotation, and `advancedRotate()` on 90/270 degree will result in total size change.

My workaround: implement your own `simpleRotate()` method using https://github.com/oliver-moran/jimp/blob/736054ef1bea6b6fb03db3e75f05cd922a9c104f/packages/plugin-rotate/src/index.js#L3-L20

[code]

[2019-07-09 13:45] ashadnasim52 commented on #235
how to put image in center

[2019-07-11 12:55] BenjaminEHowe opened #759 "Installation requires IPv4"
# Expected Behavior

The module installs over an IPv6-only internet connection.

# Current Behavior

The module does not install over an IPv6-only internet connection.

# Failure Information (for bugs)

This is due to a dependency on GitHub. Unfortunately [GitHub does not (yet) support IPv6](https://github.community/t5/GitHub-Pages/Cannot-reach-any-github-io-page-via-IPv6/m-p/4166#M312).

[code]

[2019-07-12 13:27] jeremypele commented on #681
Same issue here. Any updates?

[2019-07-13 17:38] MrZillaGold opened #760 "Replacing image pixels with images that are similar in color"
How can I implement replacing image pixels with images that are similar in color?
Example:
![original](https://mcstacker.net/murals/pyro1.png)
to:
![Аннотация 2019-07-14 033649](https://user-images.githubusercontent.com/42776347/61174799-b0e05b80-a5e8-11e9-8e4b-70d7e8141eaf.png)

[2019-07-16 20:55] eidyz commented on #751
What I have done to get around this is something like
[code]

[2019-07-19 10:58] dovk commented on #212
I use the output as input to Tesseract-OCR. I found `.rgba(false)` together with `.greyscale()` gave better OCR results, and it as better off without `.contrast()`

[2019-07-20 13:16] Josh2941 opened #761 "undefined is not an object (evaluating 'gl.Jimp = Jimp')"
Getting this error **"undefined is not an object (evaluating 'gl.Jimp = Jimp')"** while starting the app. Not even able to run the app

# Expected Behavior
The app should run successfully.

# Current Behavior
Error:  undefined is not an object (evaluating 'gl.Jimp = Jimp')

# Failure Information (for bugs)

## Steps to Reproduce
1. Install jimp
2. Run the app
3. You get this error: undefined is no

[2019-07-20 19:09] TWhidden commented on #627
This could helpful when generating machine learning image training sets, and randomizing the input.  In my case, making hundreds-thousands of variations of the input classification image, without having to do it manually.   It would be slick it was built into the node jimp lib.

[2019-07-20 19:10] TWhidden commented on #627
@OutsourcedGuru  - side note - in your example:

`var xShear = parseInt(this.bitmap.height * xSkewInRadians);`

That line isn't used - was it suppose to be?

[2019-07-21 13:35] MerriemWeebster commented on #631
Issues with this still occur

[2019-07-21 14:16] MerriemWeebster commented on #631
Exact same problem, no changes

[2019-07-21 14:17] MerriemWeebster commented on #631
@hipstersmoothie any luck with a solution?

[2019-07-21 14:33] MerriemWeebster commented on #631
**CURRENT SOLUTION**
Been dealing with this issue since 0.2 so I have a solution for those that have been struggling with this. Once solution is to call the .rotate function with the number of degrees you want but multiply it by -1, but the best solution to make this easier for the developer is to do the following:

1. In your node_modules folder for your base project, you will find a folder calle

[2019-07-21 18:51] michaelkozakovsc commented on #753
![image](https://user-images.githubusercontent.com/22355373/61595584-e546af80-abc6-11e9-9810-ad9e0764dd73.png)

I'm having the same issue with this image:

[code]

[2019-07-22 15:04] OutsourcedGuru commented on #627
I was using that variable for debugging purposes since it appears in the commented-out code:

[code]

[2019-07-23 13:38] notliam commented on #756
Hi, this isn't really an issue with JIMP as much as it is just a coding issue. You are correct in your assumption that the program you wrote will by processing all the files at the same time, and this is likely the cause of your memory and CPU issues. What you want to do is instead of calling processimage inside the readDir function, instead add them to an array. Once the directory has been read a

[2019-07-23 23:18] OutsourcedGuru opened #762 "[Request] Add information about garbage collection to documentation"
**Is your feature request related to a problem? Please describe.**
I put a Jimp-based daemon into service but noticed that the memory related to it would climb but rarely return to the original level when it started. For a moment, I started thinking about perhaps using a `crontab` to periodically restart the service to return that memory.

My code—at the moment at least—performs three levels of `c

[2019-07-24 23:32] OutsourcedGuru opened #763 "[Feature] Add optional divisor to convolute()"
**Is your feature request related to a problem? Please describe.**
When searching the Internet for convolution kernels, one often finds some which normalize at the end of the calculation with division.

A typical example for a Gaussian blur might look like this:

[code]

To find the equivalent version which doesn't include a divisor step, one would need to laboriously divide each of those integers

[2019-07-25 00:41] lattaroo opened #764 "I can't pull source by URL with loadFont ()"
So guys, I'm in a project and I have a source URL, but it does not pull and gives an error, the error is as follows.

Could not find MIME for Buffer <https://cdn.glitch.com/mouse_memoirs_16.png> (HTTP: 404)

How can I pull fonts by URL, or fix this error?

[2019-07-27 06:27] ch3ll0v3k opened #765 "core/dist/utils/mime.js Error:"
Original function will produce error if file name contains dots.
EG: my.file.jpeg Will produce error: bcs: "**.file**" is unknown extension.

[code]

Correct working code:
[code]

[2019-07-29 10:18] mubaidr commented on #662
Any update?

[2019-07-29 12:01] daniocean commented on #761
Strangely it works if you have the debugger enabled, but otherwise, I encounter the same problem

[2019-07-29 20:06] saniagh commented on #153
Good evening,

I have just experienced this issue on a t2.micro from Amazon Web Services.
Seems that any file over 2MB crashes the node process with code 137.
I'm uploading the files with multer and then resize them to 64x64 thumbnails.

This is the log file, though it isn't much of a help:

`
0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/local/bin/npm', 'start' ]
2 in

[2019-07-31 05:37] ashadnasim52 commented on #310
Any way to turn it transparent

[2019-07-31 13:11] Adron55 commented on #375
**Future Jimp users .**
Don't use BMFont generator cuz that i converted my ttf and otf fonts with it and result was not good . Font converted but with black background frame .

**İnstead of BMFont generator use [Hiero converter ](https://libgdx.badlogicgames.com/tools.html) it is much better .**
- U can change color of font
- U can change size of font
- and etc. what i haven't used yet

[2019-07-31 13:14] Adron55 commented on #537
U can use [Hiero](https://libgdx.badlogicgames.com/tools.html) for change color and size

[2019-08-04 06:46] mayank1990dec commented on #643
I am also facing same issue, when I gave image path, like following
 **let image = await Jimp.read("./assets/not-button/1.jpg");**

But when import my image and then pass it to JIMP.read(), it works, not sure what the issue is

**import notButton1 from './assets/not-button/1.jpg';**
 **let image = await Jimp.read("notButton1");**

[2019-08-04 13:59] IdkWhosThis opened #768 "utf8 in jimp"
# Expected Behavior

I want to write text on image using jimp with diacritics (ěščřžýáíé).

# Current Behavior

It worked fot í, bot not for ě, ž and ů (i got ? instead of ě, ž and ů).
![image](https://user-images.githubusercontent.com/39670563/62424562-8a39b000-b6d0-11e9-9c7b-90d8a685b806.png)

## Context

My code:
[code]

- Jimp Version: 0.6.4
- Operating System: Ubuntu 16.04
- Node version:

[2019-08-05 03:39] spiceyavocado commented on #636
pppopo

[2019-08-05 13:41] aleksandar-kandzhichki commented on #153
Why is this closed?
Any updates on that issue, since it is actually taking like 10-15 sec and 400-600MB of memory to load like 9-10 MB images to optimize :/

[2019-08-06 09:19] laino opened #769 "Remove dependency on core-js"
This is not something you should do for the user of your library, **ever**.

It's my job to provide your lib an environment it can run in, it's not the job of an image library to go messing with it.

Let me worry about polyfilling stuff or not polyfilling stuff. Now I have to ship core-js just to get jimp working.

Maybe have a ``@jimp/polyfills`` repo if you want to provide auto-polyfilling.

# E

[2019-08-07 13:37] ausshadu opened #771 "Support for HEIF / HEIC image format ?"
Hi,

Is there any plan to support `HEIC` / `HEIF` image formats (images generated from iPhones) ?

[2019-08-07 16:32] JpEncausse opened #772 "Remove Background"
I'd like to remove the background of an image using 2 input images (taken from a webcam):

- the background image
- the background + object image

In a nutshell it's like a diff but fuzzy. There is some implementation in OpenCV like this one : https://docs.opencv.org/trunk/d8/d83/tutorial_py_grabcut.html

I tried: clone + grayscale + posterize + blur to build a mask but it doesn't fit well

I don'

[2019-08-10 21:08] algiuxass commented on #772
You want to see differences from two images?
If so this code should help you:
[code]

Input image 1:
![image1](https://user-images.githubusercontent.com/33424336/62826866-039f3a00-bbcc-11e9-8194-0d3d900969a9.png)

Input image 2:
![image2](https://user-images.githubusercontent.com/33424336/62826867-0568fd80-bbcc-11e9-99fc-a78ff2c6f796.png)

Output image 1:
![difference1](https://user-images.githubu

[2019-08-13 22:25] FridayJew commented on #643
The same error, the files are received from the Internet and saved on the disk, but are not read by the jimp module. There are no visible problems with them.

[2019-08-14 09:30] codan84 commented on #643
I get this error without fail every time I read certain images from a URL.

My app does a bing image search and then tries to read a random image. some of them read fine, some of them throw an error as described in this issue.

The ones that throw an error, throw it always.

One of the offending images: https://s-media-cache-ak0.pinimg.com/736x/c9/8f/e1/c98fe17dc7de72bb29c34a0c79ef5762.jpg

Here i

[2019-08-14 09:31] codan84 commented on #643
@hipstersmoothie I have provided an example repo to reproduce the issue above ⬆️

[2019-08-14 09:36] XhmikosR commented on #748
Can someone make a patch about this?

[2019-08-14 09:37] XhmikosR opened #774 "0.6.4 tag missing"
It seems v0.6.4 was published to npm with the latest tag (https://www.npmjs.com/package/jimp?activeTab=versions) but there's no code changes or tag pushed to the repo.

@hipstersmoothie can you fix this please?

[2019-08-14 20:47] ahmadawais commented on #404
Also remember there are two ways to write the files:

https://github.com/oliver-moran/jimp/tree/master/packages/jimp#writing-to-files

[2019-08-15 20:07] FridayJew commented on #643
I think no one will answer. Topic is closed.

[2019-08-16 07:45] codan84 opened #775 "Error: Could not find MIME for Buffer <null>"
This is the same as [issue 643](https://github.com/oliver-moran/jimp/issues/643). However, the latter is closed and seems like it is dead despite people experiencing this issue still.

# Expected Behavior

`Jimp.read` loads an image from a URL correctly.

# Current Behavior

Trying to read some images from certain URLs fails, throwing `Error: Could not find MIME for Buffer <null>`

# Failure Infor

[2019-08-16 07:45] codan84 commented on #643
Submitted a new, open one ;)

[2019-08-16 08:54] codan84 commented on #775
It's also worth mentioning that reading the same image using an external request library (I used [axios](https://www.npmjs.com/package/axios)) into a buffer and then loading that same image to jimp from a buffer works.
An example of that is in `using-axios` branch of the repo I linked above.
This would only mean that there's an issue with whatever is used for http requests in jimp...

Not working:

[2019-08-16 16:55] likwifi opened #776 "Jimp constructor with buffer data throws exception."
I'm trying to create new image with another images' buffer data.
As per docs this code should work
[code]
however this throws following error.

Jimp version 0.6.4

My buffer is another images's bitmap.data

[2019-08-16 17:41] FridayJew commented on #775
Have same problem. Images downloaded on local disk with requst module make this error in jimp too.

[2019-08-17 23:27] #745 closed

[2019-08-19 16:40] alexgman commented on #702
You can reproduce this wiht the following code:

[code]

[2019-08-19 19:23] FridayJew commented on #775
I try use GM for edited this images. It don't read them too. Show this error:
 `Error: Command failed: gm composite: Improper image header`
If i give created by me 100% good images , he dont worked.
Maybe i did something wrong , but if i use good images with JIMP, i have wanting results.

How i can get images from internet and use them with JIMP without errors ?

[2019-08-21 18:24] clarke94 opened #779 "Can Jimp return a manipulated external image URL?"
Can Jimp return a manipulated image from an external URL?

for example:

[code]

Would that return the image from `http://some-domain.com/image.png` at a size of 300x300, or does it not work like that?

[2019-08-25 11:40] FridayJew commented on #779
you can try it or just asking? Some images from internet have this problem https://github.com/oliver-moran/jimp/issues/775 . You can't read everyone image. This is sad...

[2019-08-26 17:23] Rodolfoam3 opened #780 "No matching constructor overloading was found. Please see the docs for how to call the Jimp constructor"
Hello, I had an issue that gives that error:  "Error: No matching constructor overloading was found. Please see the docs for how to call the Jimp constructor."

Here is my code:
[code]

I cannot run it anymore, but in before I can. Thank you in advance.

[2019-08-26 20:14] Rodolfoam3 commented on #780
Nevermind, it was just for some time. I don't know what happened, but yeah.
Closing the issue.

[2019-08-26 20:14] #780 closed

[2019-08-27 11:25] jagaSto commented on #742
works locally now with the CI changes.

[2019-08-27 11:25] #742 closed

[2019-08-28 20:42] oliversalzburg commented on #662
@hipstersmoothie Could you have a look at this?

[2019-08-30 14:27] pi0 commented on #769
If you are using jimp **for Node.js** (not browser) you may try [jimp-compact](https://github.com/nuxt-community/jimp-compact) a repackaged version which is much smaller and also hasn't a dependency on jimp.

**NOTE:** This is **NOT** an official solution.

[2019-08-30 14:30] pi0 commented on #748
If you are using jimp **for Node.js** (not browser) you may try [jimp-compact](https://github.com/nuxt-community/jimp-compact) a repackaged version which is much smaller and also hasn't a dependency on jimp.

**NOTE:** This is **NOT** an official solution.

[2019-09-02 03:50] 5GameMaker commented on #710
I have a same problem [Picture](https://cdn.discordapp.com/attachments/489764714549739525/617888481791967244/profile.png)
`if (__data.users[uid].lastmsg) pic.print(font, 276, 162, __data.users[uid].lastmsg, 300, (err) => {if (err) throw err});`
No errors

[2019-09-03 01:10] hipstersmoothie commented on #745
:rocket: Issue was released in v0.6.5 :rocket:

[2019-09-03 01:11] #675 closed

[2019-09-03 01:18] hipstersmoothie commented on #675
:rocket: Issue was released in v0.6.6 :rocket:

[2019-09-03 01:22] hipstersmoothie commented on #774
fixed

[2019-09-03 01:22] #774 closed

[2019-09-03 02:41] #765 closed

[2019-09-03 02:42] hipstersmoothie commented on #769
@pi0 @laino PRs very welcome

[2019-09-03 02:43] hipstersmoothie commented on #758
@mn4367 PRs welcome! This is a community project and any help is appreciated

[2019-09-03 02:48] hipstersmoothie commented on #771
Not currently. Unless there is some JS library that can parse and encode that image type, there are no plans to add support

[2019-09-03 02:51] hipstersmoothie commented on #763
@OutsourcedGuru  PRs welcome! This is a community project and any help is appreciated

[2019-09-03 02:54] hipstersmoothie commented on #750
No the way that jimp works it has to be a bitmap font. I tried adding more fonts once and it was pretty hard. PRs welcome though!

[2019-09-03 02:54] #750 closed

[2019-09-03 02:57] #680 closed

[2019-09-03 03:00] #730 closed

[2019-09-03 12:22] subhamchatterjee commented on #202
I get this error when I implement the same thing to update a few colors of a JIMP image.

RangeError [ERR_OUT_OF_RANGE]: The value of "offset" is out of range. It must be >= 0 and <= 50135036. Received 50135040

Can you suggest a solution to this?

`loadedImage.scan(0, (startingPositionY - 15), (fontWidth + 20), (imageDimension.height - startingPositionY + 30), function (x, y, offset) {
	this.bitm

[2019-09-03 15:36] hipstersmoothie commented on #202
Please file a new issue with runnable code @subhamchatterjee

[2019-09-03 15:40] #748 closed

[2019-09-03 15:48] hipstersmoothie commented on #748
:rocket: Issue was released in v0.6.8 :rocket:

[2019-09-04 08:54] lucafaggianelli commented on #775
I'm facing the same issue using node-vibrant, a library that uses Jimp and the axios trick is working like a charm!

[2019-09-04 10:15] SaWey commented on #775
This is happening when the image requested has a redirect response.
Your sample image is returning this response:
https://s-media-cache-ak0.pinimg.com/736x/c9/8f/e1/c98fe17dc7de72bb29c34a0c79ef5762.jpg
[code]

jimp does not handle this, neither does phin <3.1.0
Either upgrading the phin library ( #https://github.com/ethanent/phin/issues/20) or handling this in the jimp core 'loadFromURL' should do

[2019-09-05 19:10] derevandal commented on #144
any update?

[2019-09-06 09:23] DjulLau commented on #733
I agree with @grnch : it would be great if this could be fixed in Jimp.

I've struggled with this for hours yesterday wondering what I was doing wrong.
[jpeg-autorotate](https://github.com/johansatge/jpeg-autorotate) works but you have to add another module and understand how it works (for exemple it will throw an error (!) if no rotation has to be done so you need another code path to handle this

[2019-09-06 15:48] hipstersmoothie commented on #775
Please make a PR so we can all benefit from your code :) A comment helps very few but a PR can help many

[2019-09-06 15:51] hipstersmoothie commented on #631
@MerriemWeebster it's a bug that you could fix :D simply make a pr and everyone can benefit from your findings

[2019-09-06 19:34] FridayJew commented on #775
But what i can't use downloaded images from this urls. Are not looking broken or something. Opened with any program for images viewer.

[2019-09-07 17:20] hipstersmoothie commented on #153
it's closed cause it's not an issue with jimp it's an issue with jpeg-js.

Turns out trying to reimplement the native libraries for image formats is pretty tricky in JS

[2019-09-07 17:21] hipstersmoothie commented on #153
Feel free to file issues on their repo, but i think that space has died over the past few years in favor of wasm powered solutions

[2019-09-08 03:56] cancerberoSgx opened #785 "TypeScript import won't work"
None of the three methods detailed in the readme worked for me when importing gimp on my TypeScript project when upgrading to jimp@0.8.0

I couldn't even access the right type so at least I can force a cast to require('gimp'). The error I'm seeing in the suggested methods is that the type resolved to never.

I'm using typeScript 3.6.2 , and node 12.8.1. I also tried with all combinations of `esMod

[2019-09-08 04:10] hipstersmoothie commented on #785
@crutchcorn

[2019-09-08 04:16] hipstersmoothie commented on #785
Seriously considering moving the definition to definitely typed. There have been countless issues around managing the types in this project.

I love typescript but I'm starting to believe that if a library isn't shipped in TS it shouldn't try to ship .d.ts files too.

[2019-09-08 04:17] hipstersmoothie commented on #785
If we do keep theme we definitely need some type testing @crutchcorn

[2019-09-08 06:05] crutchcorn commented on #785
Blech, I tried to test myself but musta dropped the ball somewhere - okay. I'll see if I can write some tests tomorrow and get a PR to fix this

I totally get if we want to move the types to their own repo. I'm willing to maintain these types for this repo, and I feel that when typings are moved out of a project they're maintained to a lesser degree and they suffer as a result, but that's my initi

[2019-09-08 20:11] crutchcorn commented on #785
Working on it more today and I _think_ I have it fixed

That said, I am writing dts-lint tests (the same in DefinitelyTyped) to try to ensure to the best of my abilities it will work

[2019-09-08 20:41] hipstersmoothie commented on #785
I think that should help with future PRs for types too. Thanks for your work! It's my fault for the plugin system 😅 If any fingers should be pointed for needless complexity it's at me lol.